<script type="text/javascript">

	$( function() {

		new NewTerracotta.SubMenuFixed();

	} );

</script>

<nav class="nav-top">
	<ul>
		<li {{#if fieldTiles}}class="sel"{{/if}}>
			<a href="/tiles/field-tiles">
				<img src="/images/tiles/field-tiles/Field-tiles-top-nav.jpg" alt="Field tiles"/>
				<span>Field tiles</span>
			</a>

		</li>

		<li {{#if mouldings}}class="sel"{{/if}}>
			<a href="/tiles/mouldings">
				<img src="/images/tiles/mouldings/Mouldings-top-nav.jpg" alt="Mouldings"/>
				<span>Mouldings</span>
			</a>
		</li>

		<li {{#if portugueseHeritage}}class="sel"{{/if}}>
			<a href="/tiles/portuguese-heritage">
				<img src="/images/tiles/portuguese-heritage/Portuguese-Heritage-top-nav.jpg" alt="Portuguese Heritage"/>
				<span>Portuguese Heritage</span>
			</a>
		</li>

		<li {{#if newModern}}class="sel"{{/if}}>
			<a href="/tiles/new-modern">
				<img src="/images/tiles/new-modern/New-Modern-top-nav.jpg" alt="New Modern"/>
				<span>New Modern</span>
			</a>
		</li>
	</ul>
</nav>