<script type="text/javascript">

	$( function() {

		new NewTerracotta.SubMenuFixed();

	} );

</script>

<nav class="yellow nav-top{{#if portugueseTiles}} no-img{{/if}}">
	<ul>

		<li {{#if historicRestorations}}class="sel"{{/if}}>
			<a href="/atelier/historic-restorations">
				<img src="/images/atelier/Historic-Restorations-top-nav.jpg" alt="Historic Restorations"/>
				<span>Historic Restorations</span>
			</a>
		</li>

		<li {{#if bespokeProjects}}class="sel"{{/if}}>
			<a href="/atelier/bespoke-projects">
				<img src="/images/atelier/Bespoke-Projects-top-nav.jpg" alt="Bespoke Projects"/>
				<span>Bespoke Projects</span>
			</a>
		</li>

		<li {{#if pottery}}class="sel"{{/if}}>
			<a href="/atelier/pottery">
				<img src="/images/atelier/Pottery-top-nav.jpg" alt="Pottery"/>
				<span>Pottery</span>
			</a>
		</li>

		<li {{#if portugueseTiles}}class="sel"{{/if}}>
			<a href="/atelier/portuguese-tiles">
				<img src="/images/atelier/Portuguese-Tiles-top-nav.jpg" alt="Portuguese Tiles"/>
				<span>Portuguese Tiles</span>
			</a>
		</li>
	</ul>
</nav>