<nav class="colour-menu grid">
	<ul class="mold">
		<li>
			<a href="#Basic-colours" class="cont">
				<figure><img src="/Portals/0/Images/colours/Basic-colours-nav-top.jpg" alt="Basic colours"/></figure>
				<span class="tit">Basic Colours</span>
			</a>

		</li>
		<li>
			<a href="#Matt-colours" class="cont">
				<figure><img src="/Portals/0/Images/colours/Matt-colours-nav-top.jpg" alt="Matt colours"/></figure>
				<span class="tit">Matt Colours</span>
			</a>
		</li>
		<li>
			<a href="#Oxide-colours" class="cont">
				<figure><img src="/Portals/0/Images/colours/Oxide-colours-nav-top.jpg" alt="Oxide colours"/></figure>
				<span class="tit">Oxide Colours</span>
			</a>
		</li>
		<li>
			<a href="#Special-Firing" class="cont">
				<figure><img src="/Portals/0/Images/colours/Special-firing-nav-top.jpg" alt="Special Firing"/></figure>
				<span class="tit">Special Firing</span>
			</a>
		</li>
		<li>
			<a href="#Vintage-metallics" class="cont">
				<figure><img src="/Portals/0/Images/colours/Vintage-metallics-nav-top.jpg" alt="Vintage Metallics"/></figure>
				<span class="tit">Vintage Metallics</span>
			</a>
		</li>
	</ul>
</nav>