<script type="text/javascript">

	$(function() {
		new NewTerracotta.SubMenuFixed( {
			content_selector: '.colour-menu',
			navigate_list: '.prod-list'
		} );
	});

</script>
<nav class="colour-menu grid small">
	<ul class="mold">
		<li>
			<a href="#Heritage" class="cont">
				<figure><img src="/Portals/0/Images/the-atelier/bespoke-collections/Heritage-top-nav.jpg" alt="Heritage"/></figure>
				<span class="tit">Heritage</span>
			</a>
		</li>
		<li>
			<a href="#Precious" class="cont">
				<figure><img src="/Portals/0/Images/the-atelier/bespoke-collections/Precious-top-nav.jpg" alt="Precious"/></figure>
				<span class="tit">Precious</span>
			</a>
		</li>
		<li>
			<a href="#Modern" class="cont">
				<figure><img src="/Portals/0/Images/the-atelier/bespoke-collections/Modern-top-nav.jpg" alt="Modern"/></figure>
				<span class="tit">Modern</span>
			</a>
		</li>
		<li>
			<a href="#Pottery" class="cont">
				<figure><img src="/Portals/0/Images/the-atelier/bespoke-collections/Pottery-top-nav.jpg" alt="Pottery"/></figure>
				<span class="tit">Pottery</span>
			</a>
		</li>
	</ul>
</nav>