<aside class="main-col-right clearfix">

	<div class="prod-aside-left">

		<section>
			<h3 class="h-black">Tile calculator</h3>
			<select class="ipt-sel" placeholder="Tile">
				<option value="">Tile</option>
				<option value="" data-tile="48">14 x 14 cm</option>
				<option value="" data-tile="78">11 x 11 cm</option>
				<option value="" data-tile="92">10 x 10 cm</option>
				<option value="" data-tile="196">7 x 7 cm</option>
				<option value="" data-tile="98">14 x 7 cm</option>
				<option value="" data-tile="160">11 x 5,5 cm</option>
				<option value="" data-tile="190">10 x 5 cm</option>
				<option value="" data-tile="33">30 x 10 cm</option>
				<option value="" data-tile="91">22 x 5 cm</option>
				<option value="" data-tile="47">30 x 7 cm</option>
				<option value="" data-tile="102">20 x 4 cm</option>
				<option value="" data-tile="79">HEXA . M | 14 x 12 cm - side 7 cm</option>
				<option value="" data-tile="115">HEXA . S | 11,6 x 10 cm - side 6 cm</option>
				<option value="" data-tile="137">ARAB | 12 x 12 cm</option>
				<option value="" data-tile="104">LOSA . M | 10,5 x 12 cm - side 10,5 cm</option>
				<option value="" data-tile="320">LOSA . S | 6 x 10 cm - side 6 cm</option>
				<option value="" data-tile="148">T-DROP | 9 x 15 cm</option>
				<option value="" data-tile="136">TRIA . M | 13 x 11 cm - side 13 cm</option>
				<option value="" data-tile="230">TRIA . S | 10 x 8,5 cm - side 10 cm</option>
				<option value="" data-tile="140">FISHSCALE | 12,5 x 11,5 cm</option>
				<option value="" data-tile="86">TRAP | 18 x 9 cm</option>
			</select>
			<input class="ipt-text" type="text" placeholder="Area of surface in sqm"/>
		</section>

		<section>
			<table class="gen-tab">
				<caption>Available Colour Palletes</caption>
				<tr>
					<th><a href="/colouring/colour-palettes/basic-colours">Basic Colours</a></th>
					<th><a href="/colouring/colour-palettes/matt-colours">Matt Colours</a></th>
				</tr>
				<tr>
					<td class="yes">Yes</td>
					<td class="yes">Yes</td>
				</tr>
				<tr>
					<th><a href="/colouring/colour-palettes/oxide-explosions">Oxide Explosions</a></th>
					<th><a href="/colouring/colour-palettes/special-firing">Special Firing</a></th>
				</tr>
				<tr>
					<td class="no">No</td>
					<td class="yes">Yes</td>
				</tr>
				<tr>
					<th><a href="/colouring/colour-palettes/vintage-metallics">Vintage Metallics</a></th>
				</tr>
				<tr>
					<td class="yes">Yes</td>
				</tr>
			</table>
			<a href="#" class="btn-small">See all colours</a>
		</section>
	</div>


	<div class="prod-aside-right">
		<section>
			<h3 class="h-black-full">Restoration &<br/>
				Bespoke Tile Commision</h3>

			<div class="aside-box">
				<p>Our comprehensive and bespoke design consultation service is all about personalization.</p>

				<p>Please <a href="#">contact us</a> for a made to order project.</p>
			</div>
		</section>
		<section>
			<h3 class="h-black-full">Notes</h3>

			<div class="aside-box">
				<p>Images not to scale.<br/>
					Measurements denoted<br/>
					W x H in cm.<br/>
					tiles are handmade, size, shape and weight variation can be expected.</p>
			</div>
		</section>

		<a href="#" class="btn-default">Product Spec Guide<i class="ic-download"></i></a>
		<a href="#" class="btn-default">How to buy & lead times</a>
		<a href="#" class="btn-default">See our projects</a>

	</div>

</aside>