<article class="hp-art">

	<figure><img src="images/Handmade-Tiles-Portuguese-Craftsmanship.jpg" alt="Handmade Tiles - Portuguese Craftsmanship"/></figure>

	<div class="cont">
		<div class="wrap">
			<h1>Handmade Tiles</h1>
			<h2>Portuguese Craftsmanship</h2>
			<a href="#">see collection</a>
		</div>
	</div>

</article>