<article class="highlight-art">

	<figure class="parallax"><img src="/Portals/0/Images/Handmade-Tiles-Portuguese-Culture.jpg"
								  alt="Handmade Tiles - Portuguese Culture"/></figure>

	<div class="cont wrap">
		<h1>Handmade Tiles</h1>
		<h2>Portuguese Culture</h2>
		<a href="#">see collection</a>
	</div>

</article>

<section class="hp-sec">

	<div class="wrap-small">

		<h2 class="hp-sec-tit">Why New Terracotta?</h2>

		<ul class="hp-why-list">
			<li>
				<i class="ic-heart"></i>

				<h3>Personality</h3>
				<em>Our over 104 dazzling, one-of-a-kind glazes, produced by artisans using techniques and methods
					passed down from generation</em>
			</li>
			<li>
				<i class="ic-diamond"></i>

				<h3>Eclectic</h3>
				<em>Our unique blending of colours, shapes, sizes, textures and drawings that makes up our
					collections.</em>
			</li>
			<li>
				<i class="ic-graduation-cap"></i>

				<h3>Savoir Faire</h3>
				<em>Our ability to glaze “anything” ceramic, from tile bisques to objects and dinnerware.</em>
			</li>
		</ul>

	</div>

</section>

<section class="highlight-text huge bg-black">
	<div class="wrap">
		<em class="t60"><strong>we believe that the world prefer handmade products</strong></em>
		<br />
		<a href="#" class="btn-big">who chose us</a>
	</div>
</section>

<section class="hp-sec">

	<div class="wrap-small clearfix">

		<article class="hp-sec-art">
			<div></div>
			<figure><a href="#"><img src="/Portals/0/Images/Shop-by-Colours-homepage.jpg" alt="Shop by colours"/></a></figure>
			<h3><a href="#">Shop by COLOURS</a></h3>
			<a href="#">The collection features 104 subtle, luminous, semi-transparent, deep, metallic colours.</a>

		</article>

		<article class="hp-sec-art highlight">
			<div></div>
			<figure><a href="#"><img src="/Portals/0/Images/How-to-buy-and-lead-times-homepage-2.jpg"
									 alt="How to buy"/></a></figure>
			<h3><a href="#">How to BUY</a></h3>
			<a href="#">Our products are available worldwide throughshowrooms, retailers and direct from us.</a>

		</article>

		<article class="hp-sec-art">
			<div></div>
			<figure><a href="/portuguese-tiles"><img src="/Portals/0/Images/Discovery-history-of-Azulejos-homepage.jpg"
									 alt="The history history of Azulejos"/></a></figure>
			<h3><a href="#">The history history of AZULEJOS</a></h3>
			<a href="#">The Azulejo is a element of Portuguese culture,revealing some of its deepest roots.</a>

		</article>

	</div>

</section>

<article class="highlight-art">

	<figure class="parallax"><img src="/Portals/0/Images/The-Factory-workers.jpg" alt="The Factory workers"/></figure>

</article>

<section class="hp-sec">

	<div class="wrap">

		<h2 class="hp-sec-tit">You might want to contact us</h2>

		<div class="hp-form clearfix">

			{{> contact-form}}

		</div>


	</div>
</section>