<!DOCTYPE html>
<html>
<head>
	<title>{{title}}</title>
	<link rel='stylesheet' href='/css/style.css'/>

	<meta name="viewport" content="initial-scale=1, maximum-scale=1">
	<meta name="robots" content="noindex">

	<script type="text/javascript" src="/js/jquery-2.2.0.min.js"></script>
	<script type="text/javascript" src="/js/dev/Menu.js"></script>
	<script type="text/javascript" src="/js/dev/ResponsiveMenu.js"></script>
	<script type="text/javascript" src="/js/dev/SubMenuFixed.js"></script>
	<script type="text/javascript" src="/js/dev/ProductImageZoom.js"></script>
	<script type="text/javascript" src="/js/dev/Video.js"></script>
	<script type="text/javascript" src="/js/dev/Map.js"></script>

	<script type="text/javascript">

		$( function() {

			var menu = new NewTerracotta.Menu( {
				content: 'header',
				navigation: 'nav',
				items: '.first-level > li',
				sub_menu: '.sec-level'
			} );

			new NewTerracotta.Menu( {
				content: 'header',
				navigation: 'aside',
				items: '.lang',
				sub_menu: '> ul'
			} );

			new NewTerracotta.ResponsiveMenu( {

				content: 'header',
				button: '.bt-menu',
				menu: '.menu-cont',
				close: '.menu-cont .ic-close'

			} );

		} );

	</script>

</head>
<body>

<header>

	<div class="wrap">

		<div class="logo" title="New Terracotta - Portuguese Handmade">
			<a href="/" title="Homepage | New Terracotta"><img src="/images/New-Terracotta-Portuguese-Handmade_logo.svg" alt="New Terracotta - Logo"></a>
		</div>

		<div class="menu-cont">
			<nav class="menu">
				<ul class="first-level">
					<li><a href="/colours">Colours</a>
						<ul class="sec-level">
							<li><a href="/colours/colour-palettes">Colour Palettes</a></li>
							<li><a href="/colours/colour-moods">Colour Moods</a></li>
						</ul>
					</li>
					<li><a href="/tiles">Tiles</a>
						<ul class="sec-level">
							<li><a href="/tiles/field-tiles">Field Tiles</a></li>
							<li><a href="/tiles/mouldings">Mouldings</a></li>
							<li><a href="/tiles/portuguese-heritage">Portuguese Heritage</a></li>
							<li><a href="/tiles/new-modern">New Modern</a></li>
						</ul>
					</li>
					<li><a href="/projects">Projects</a></li>
					<li><a href="/atelier">Atelier</a>
						<ul class="sec-level">
							<li><a href="/atelier/historic-restorations">Historic Restorations</a></li>
							<li><a href="/atelier/bespoke-projects">Bespoke Projects</a></li>
							<li><a href="/atelier/pottery">Pottery</a></li>
							<li><a href="/atelier/portuguese-tiles">Portuguese Tiles</a></li>
						</ul>
					</li>
					<li><a href="/the-factory">The Factory</a></li>
					<li class="special"><a href="/mother-studio">Mother Studio</a></li>
					<li><a href="/contacts-and-support">Contacts & Support</a>
						<ul class="sec-level">
							<li><a href="/contacts-and-support/how-to-buy">How to Buy</a></li>
							<li><a href="/contacts-and-support/contact-us">Contact Us</a></li>
							<li><a href="/contacts-and-support/delivery-and-returns">Delivery & Returns</a></li>
							<li><a href="/contacts-and-support/showrooms-and-retailers">Showrooms & Retailers</a></li>
							<li><a href="/contacts-and-support/technical-support">Technical Support</a></li>
							<li><a href="/contacts-and-support/faqs">FAQs</a></li>
						</ul>
					</li>
				</ul>
			</nav>

			<aside>
				<div class="lang">
					<span>EN</span>
					<ul>
						<li><a href="#">EN</a></li>
						<li><a href="#">PT</a></li>
						<li><a href="#">DE</a></li>
						<li><a href="#">FR</a></li>
					</ul>
				</div>
			</aside>

			<span class="ic-close"></span>

		</div>

		<span class="bt-menu ic-menu"></span>

	</div>

</header>

<main>

	{{{body}}}

</main>


<footer>

	<div class="wrap">

		<div class="ft-top clearfix">

			<nav>
				<ul class="first-level clearfix">
					<li>
						<h4 class="ft-main-tit">How to buy</h4>
						<ul class="sec-level">
							<li><a href="#">Colour Palletes</a></li>
							<li><a href="#">Our tiles</a></li>
							<li><a href="#">Become a retailer</a></li>
							<li><a href="#">Request samples</a></li>
						</ul>
					</li>
					<li>
						<h4 class="ft-main-tit">Costumer care</h4>
						<ul class="sec-level">
							<li><a href="#">Product Spec Guide</a></li>
							<li><a href="#">Terms & Condition</a></li>
							<li><a href="#">FAQs</a></li>
						</ul>
					</li>
					<li>
						<h4 class="ft-main-tit"><a href="#">Where to buy</a></h4>
					</li>
					<li>
						<h4 class="ft-main-tit"><a href="#">Green policy<i class="ic-leaf"></i></a></h4>
					</li>
				</ul>
			</nav>

			<aside>
				<div class="address">
					<h4 class="ft-main-tit">Contact</h4>
					<address>
						Polo Industrial de Vale de Borregão,<br/>
						Rua Democrática, s/n<br/>
						3450-097 Marmeleira MRT<br/>
						PORTUGAL<br/><br/>
						<em>+351 214 681 626</em><br/>
						<em>+351 963 389 728</em><br/>
						<em><a href="mailto:info@newterracotta.com">info@newterracotta.com</a></em>
					</address>
				</div>
				<div class="social">
					<h4 class="ft-main-tit">Follow us</h4>
					<ul>
						<li><a href="#"><i class="ic-youtube"></i><span>Youtube</span></a></li>
						<li><a href="#"><i class="ic-linkedin"></i><span>LinkedIn</span></a></li>
						<li><a href="#"><i class="ic-pinterest"></i><span>Pinterest</span></a></li>
						<li><a href="#"><i class="ic-facebook"></i><span>Facebook</span></a></li>
						<li><a href="#"><i class="ic-instagram"></i><span>Instagram</span></a></li>
					</ul>
				</div>
			</aside>

			<h4 class="ft-main-tit ft-extra-lk"><a href="#">Where to buy</a></h4>

		</div>


		<div class="ft-bot clearfix">

			<div class="ft-list">
				<a href="#"><img src="/images/Centro-2020_logo.png" alt="Centro 2020"/></a>
				<a href="#"><img src="/images/Portugal-2020_logo.png" alt="Portugal 2020"/></a>
				<a href="#"><img src="/images/UE-Fundo-Europeu-de-Desenvolvimento-Regional_logo.png"
								 alt="União Europeia - Fundo Europeu de Desenvolvimento Regional"/></a>
			</div>

			<div class="ft-copy">© 2016 New Terracotta. All Rights Reserved</div>

		</div>

	</div>

</footer>

</body>
</html>
