<!DOCTYPE html>
<html>
<head>
	<title>{{title}}</title>
	<link rel='stylesheet' href='/css/style.css'/>

	<meta name="viewport" content="initial-scale=1, maximum-scale=1">
	<meta name="robots" content="noindex">

	<script type="text/javascript" src="/js/jquery-2.2.0.min.js"></script>
	<script type="text/javascript" src="/js/jquery.easing.1.3.js"></script>
<!--<script type="text/javascript" src="/js/newterracotta.all.min.js"></script> -->

	<script type="text/javascript" src="/js/dev/GoUp.js"></script>
	<script type="text/javascript" src="/js/dev/BigMenuSelection.js"></script>
	<script type="text/javascript" src="/js/dev/Menu.js"></script>
	<script type="text/javascript" src="/js/dev/ResponsiveMenu.js"></script>
	<script type="text/javascript" src="/js/dev/SubMenuFixed.js"></script>
	<script type="text/javascript" src="/js/dev/ProductImageZoom.js"></script>
	<script type="text/javascript" src="/js/dev/Video.js"></script>
	<script type="text/javascript" src="/js/dev/Map.js"></script>
	<script type="text/javascript" src="/js/dev/Parallax.js"></script>
	<script type="text/javascript" src="/js/dev/Checkbox.js"></script>
	<script type="text/javascript" src="/js/dev/ColourList.js"></script>
	<script type="text/javascript" src="/js/dev/ColourStudies.js"></script>
	<script type="text/javascript" src="/js/dev/TileSearch.js"></script>
	<script type="text/javascript" src="/js/dev/TileCalculator.js"></script>
	<script type="text/javascript" src="/js/dev/Gallery.js"></script>
	<script type="text/javascript" src="/js/dev/ProductList.js"></script>

	<script type="text/javascript">

		$( function() {

			new NewTerracotta.GoUp( {
				btn_up: '.btn-up'
			} );

			new NewTerracotta.BigMenuSelection( {
				container: '.search-container',
				button: '.search-open',
				selector: '.search-menu',
				close: '.close-search'
			} );

			new NewTerracotta.BigMenuSelection( {
				container: '.lang-container',
				button: '.lang-bt',
				selector: '.lang-menu',
				close: '.close-lang'
			} );

			var menu = new NewTerracotta.Menu( {
				content: 'header',
				navigation: 'nav',
				items: '.first-level > li',
				sub_menu: '.sec-level'
			} );

			new NewTerracotta.ResponsiveMenu( {

				content: 'header',
				button: '.bt-menu',
				menu: '.menu-cont',
				close: '.menu-cont .close-menu'

			} );

			new NewTerracotta.Parallax();

		} );

	</script>

</head>
<body>

<header>

	<div class="wrap">

		<div class="logo" title="New Terracotta - Portuguese Handmade">
			<a href="/" title="Homepage | New Terracotta"><img src="/Portals/0/Images/New-Terracotta-Portuguese-Handmade_logo.svg"
															   alt="New Terracotta - Logo"></a>
		</div>

		<div class="menu-cont">
			<nav class="menu">
				<ul class="first-level">

					<li><a href="/tiles">Our Tiles</a>
						<ul class="sec-level">
							<li><a href="/tiles/field-tiles">Field Tiles</a></li>
							<li><a href="/tiles/mouldings">Mouldings</a></li>
							<li><a href="/tiles/portuguese-heritage">Portuguese Heritage</a></li>
							<li><a href="/tiles/new-modern">New Modern</a></li>
						</ul>
					</li>
					<li><a href="/colours">Colours</a>
						<ul class="sec-level">
							<li><a href="/colours/colour-palettes">Colour Palettes</a></li>
							<li><a href="/colours/colour-moods">Colour Moods</a></li>
						</ul>
					</li>
					<li><a href="/projects">Projects</a></li>
					<li><a href="/the-atelier">The Atelier</a>
						<ul class="sec-level">
							<li><a href="/the-atelier/bespoke-collections">Bespoke Collections</a></li>
							<li><a href="/the-atelier/inside-the-atelier">Inside the Atelier</a></li>
							<li><a href="/the-atelier/artists-at-home">Artists at Home</a></li>
						</ul>
					</li>
					<li><a href="/the-factory">The Factory</a></li>
					<li class="special{{#if motherStudio}} sel{{/if}}"><a href="/mother-studio">Mother Studio</a></li>
					<li><a href="/contacts-and-support">Contacts</a>
						<ul class="sec-level">
							<li><a href="/contacts-and-support/how-to-buy">How to Buy</a></li>
							<li><a href="/contacts-and-support/contact-us">Contact Us</a></li>
							<li><a href="/contacts-and-support/delivery-and-returns">Delivery & Returns</a></li>
							<li><a href="/contacts-and-support/showrooms-and-retailers">Showrooms & Retailers</a></li>
							<li><a href="/contacts-and-support/technical-support">Technical Support</a></li>
							<li><a href="/contacts-and-support/faqs">FAQs</a></li>
						</ul>
					</li>
				</ul>
			</nav>

			<aside>
				<div class="lang-container">
					<span class="lang-bt">EN</span>
					<div class="lang-menu">
						<span class="lang-menu-tit">Choose your language:</span>
						<span class="ic-close-thin close-lang"></span>
						<ul class="clearfix">
							<li class="act"><a href="#">EN</a></li>
							<li><a href="#">PT</a></li>
							<li><a href="#">DE</a></li>
							<li><a href="#">FR</a></li>
						</ul>
					</div>
				</div>
				<div class="search-container">
					<span class="search-open ic-search-thin"></span>
					<div class="search-menu">
						<span class="ic-close-thin close-search"></span>
						<input type="search" placeholder="SEARCH:">
						<span class="search-bt ic-search-thin"></span>
					</div>
				</div>
			</aside>

			<span class="ic-close close-menu"></span>

		</div>

		<span class="bt-menu ic-menu"></span>

	</div>

</header>

<main>

	{{{body}}}

</main>

<aside class="ft-social-links">

	<div class="wrap">

		<a href="#" class="ic-facebook2"></a>
		<a href="#" class="ic-instagram2"></a>
		<a href="#" class="ic-pinterest2"></a>

	</div>

</aside>


<footer>

	<div class="wrap">

		<div class="ft-top clearfix">

			<nav>
				<ul class="first-level clearfix">
					<li>
						<h4 class="ft-main-tit">Explore New Terracotta</h4>
						<ul class="sec-level">
							<li><a href="#">Colour Palletes</a></li>
							<li><a href="#">Our tiles</a></li>
							<li><a href="#">Become a retailer</a></li>
							<li><a href="#">Request samples</a></li>
						</ul>
					</li>
					<li>
						<h4 class="ft-main-tit">Costumer Service</h4>
						<ul class="sec-level">
							<li><a href="#">Product Spec Guide</a></li>
							<li><a href="#">Technical Support</a></li>
							<li><a href="#">Terms & Condition</a></li>
							<li><a href="#">FAQs</a></li>
						</ul>
					</li>
					<li>
						<h4 class="ft-main-tit"><a href="#">Where to buy</a></h4>
					</li>
					<li>
						<h4 class="ft-main-tit"><a href="#">Green policy<i class="ic-leaf"></i></a></h4>
					</li>
				</ul>
			</nav>

			<aside>
				<div class="address">
					<h4 class="ft-main-tit"><a href="#">Contacts</a></h4>
					<address>
						Polo Industrial de Vale de Borregão,<br/>
						Rua Democrática, s/n<br/>
						3450-097 Marmeleira MRT<br/>
						PORTUGAL<br/><br/>
						<em>+351 214 681 626</em><br/>
						<em>+351 963 389 728</em><br/>
						<em><a href="mailto:info@newterracotta.com">info@newterracotta.com</a></em>
					</address>
				</div>
			</aside>

		</div>


		<div class="ft-bot clearfix">

			<div class="ft-list">
				<a href="#"><img src="/Portals/0/Images/Centro-2020_logo.png" alt="Centro 2020"/></a>
				<a href="#"><img src="/Portals/0/Images/Portugal-2020_logo.png" alt="Portugal 2020"/></a>
				<a href="#"><img src="/Portals/0/Images/UE-Fundo-Europeu-de-Desenvolvimento-Regional_logo.png"
								 alt="União Europeia - Fundo Europeu de Desenvolvimento Regional"/></a>
			</div>

			<div class="ft-copy">© 2016 New Terracotta. All Rights Reserved</div>

		</div>

	</div>

</footer>

</body>
</html>
