<div class="wrap">

	<section class="highlight-text centered">
		<p class="t25">If you would like some more information, please don’t hesitate to contact us.<br />
			We look forward to hearing from you.</p>
	</section>

	<section class="form clearfix">

		{{> contact-form}}

	</section>

</div>