<div class="wrap">

	<section class="highlight-text centered">
		<p>We are at your disposal for answering any information request.<br />
			We kindly invite you to fill out the request form.</p>
	</section>

	<section class="form clearfix">


		<div class="form-col-left">

			{{#if successSubmit}}
				<h2 class="form-tit">Email</h2>
				<h3>Thanks for your contact. We'll get back to you as soon as possible.</h3>
			{{/if}}

			{{#unless successSubmit}}
				<div class="form-tab">

					<form action="/contacts-and-support/submitForm" method="POST">

						<div class="row">
							<div class="cell-label"></div>
							<div class="cell-ipt"><h2 class="form-tit">Email</h2></div>
						</div>

						<div class="row">
							<div class="cell-label">
								<label for="ipt-name">Name <span class="req">*</span></label>
							</div>
							<div class="cell-ipt">
								<input placeholder="Name" type="text" required="required" id="ipt-name" name="name" />
							</div>
						</div>

						<div class="row">
							<div class="cell-label">
								<label for="ipt-email">Email <span class="req">*</span></label>
							</div>
							<div class="cell-ipt">
								<input placeholder="Email" type="email" required="required" id="ipt-email" name="email" />
							</div>
						</div>

						<div class="row">
							<div class="cell-label">
								<label for="ipt-city">City</label>
							</div>
							<div class="cell-ipt">
								<input placeholder="City" type="text" id="ipt-city" name="city" />
							</div>
						</div>

						<div class="row">
							<div class="cell-label">
								<label for="ipt-country">Country <span class="req">*</span></label>
							</div>
							<div class="cell-ipt">
								<input placeholder="Country" type="text" required="required" id="ipt-country" name="country" />
							</div>
						</div>

						<div class="row">
							<div class="cell-label">
								<label for="ipt-comment">Comment <span class="req">*</span></label>
							</div>
							<div class="cell-ipt">
								<textarea placeholder="Comment" id="ipt-comment" required="required" name="comment"></textarea>
							</div>
						</div>

						<div class="row">
							<div class="cell-label"></div>
							<div class="cell-ipt"><input type="submit" value="Submit" class="btn-big" /></div>
						</div>

					</form>

				</div>
			{{/unless}}


		</div>

		<div class="form-col-right">

			<h2 class="form-tit">Address. Phone.</h2>

			<address class="form-address">

				<p>Polo Industrial de Vale de Borregão,<br />
					Rua Democrática, s/n<br/>
					3450-097 Marmeleira MRT<br/>
					PORTUGAL</p>

				<p>T.  +351 214 681 626<br />
					M. +351 963 389 728</p>

				<a href="#" class="btn-big">Find a showroom</a>
			</address>

		</div>

	</section>

</div>