<div class="wrap">

	<section class="highlight-text centered">
		<p>We are at your disposal for answering any information request.<br />
			We kindly invite you to fill out the request form.</p>
	</section>

	<section class="form clearfix">

		{{> contact-form}}

	</section>

</div>