
<div class="wrap-double clearfix">

	<section class="highlight-text centered smaller">
		<h2 class="upper">General Information</h2>
	</section>

	<div class="sec-col-left">

		<dl class="contact-block">
			<dt>Placing Orders</dt>
			<dd>
				<b>Please order carefully.</b>
				<ul>
					<li>Check the product specification in our <a href="/Portals/0/Documents/NWT_-_PRODUCT_SPEC_GUIDE.pdf" target="_blank">Product Spec Guide</a>. Samples may be
						requested.</li>
					<li>Check the quantities. Ordering proper quantities is essential, as we cannot guarantee an exact match between batches. We recommend ordering 5-10% extra tiles.</li>
					<li>Check delivery requirements and delivery costs.</li>
					<li>Once production has begun, orders cannot be cancelled.</li>
					<li>There is a 3 sqm minimum order.</li>
				</ul>
			</dd>
			<dt>Prices</dt>
			<dd>
				<ul>
					<li>Prices are subject to change without notice according to cost variations.</li>
					<li>All product prices quoted exclude the cost of delivery and taxes.</li>
					<li>Vat rate is 23%.</li>
				</ul>
			</dd>
			<dt>Delivery</dt>
			<dd>
				<ul>
					<li>We can arrange delivery anywhere in the world. Please
						<a href="/contacts-and-support/contact-us">contact us</a> to request a freight quote.</li>
					<li>Tiles are packed in cardboard boxes, loaded on a protected and sealed pallet. Pallets are delivered on the pavement. </li>
					<li>Special packing for Pottery collection must be quoted. Please <a href="/contacts-and-support/contact-us">contact us</a>.</li>
					<li>Freight quotes are passed on at cost with a 5€ pallet charge per pallet used.</li>
					<li>Delivery terms are to be considered indicative. Eventual delivery delays do not entitle customers to claim indemnity. </li>
				</ul>
			</dd>
			<dt>Payment Terms</dt>
			<dd>
				<ul>
					<li>A 50% deposit is required to confirm your order. </li>
					<li>The balance is due before order released. The goods will be released immediately after the payment has been received and cleared in full.</li>
					<li>Cash on delivery is available in some countries. Please <a href="/contacts-and-support/contact-us">contact us</a> to check.</li>
				</ul>
			</dd>
			<dt>Lead Times</dt>
			<dd>
				<b>Nearly every New Terracotta product is produced made to order. Our lead times vary from product to product and may also be extended at certain times of the year.</b><br />
				<b>Nevertheless, we try to follow these timelines:</b>
				<ul>
					<li>In-stock tiles: 1 week to ship.</li>
					<li>Made to order tiles: 4 to 5 weeks to ship.</li>
					<li>Custom designed tiles and pottery: quoted on an individual basis.</li>
					<li>Exceptionally large quantities: quoted on an individual basis.</li>
				</ul>
				<b>All lead times will be quoted on purchase order. Please <a href="/contacts-and-support/contact-us">contact us</a> for stock checks.</b>
			</dd>
		</dl>

	</div>

	<div class="sec-col-right">

		<dl class="contact-block">
			<dt>Tolerance To Dimensions and Shades</dt>
			<dd>
				<ul>
					<li>Tiles are referred to its nominal size, not its actual size. Due to the handcrafted nature of our products, dimensions are approximate and may<br>
						be subject to a degree of inaccuracy. </li>
					<li>The number of tiles supplied per square meter is approximate and depends upon the suggested grout joint. </li>
					<li>A possible variation in shades is considered as a particularity of such products. Tiles may exhibit variations from samples and within a shipped lot.</li>
				</ul>
			</dd>
			<dt>Custom Projects</dt>
			<dd>
				<b>Please inquire us about custom developments.</b>
				<ul>
					<li>Custom projects are priced accordingly.</li>
					<li>Custom sizes are available for an additional charge.</li>
					<li>Custom glazes are subject to Run of Kiln, which may be up to 10% over original quantity.</li>
				</ul>
			</dd>
			<dt>Returns</dt>
			<dd>
				<b>Please order carefully as we cannot accept returns.</b><br />
				<b>Please check your products carefully on delivery.</b>
				<ul>
					<li>Any problems with quality, quantity and kind of material supplied must<br>
						be reported to NEW TERRACOTTA within 7 working days of receipt of<br>
						the order.</li>
					<li>In case of claim the buyer should put the disputed material at NEW TERRACOTTA's disposal for any defect checking. No claim will be accepted once the material has been installed.</li>
					<li>Damage caused by inappropriate installation, accident, misuse or improper maintenance is not covered by NEW TERRACOTTA products warranty.
					</li>
					<li>Variations in colour, shade, tonality, texture and crazing are inherent characteristic of NEW TERRACOTTA tiles and are not defects.</li>
					<li>Variations in facial dimensions and thickness will be allowed as per handcrafted products standards.</li>
					<li>Although NEW TERRACOTTA provides Installation and Maintenance guidelines, its liability is strictly limited to the supply of products.</li>
				</ul>
			</dd>
		</dl>



		<a class="btn-area how-bt" href="/contacts-and-support/contact-us">
			<em>Send us an email</em>
			For further information, please contact us.
			<i class="ic-envelope"></i>
		</a>

	</div>


</div>

