<div class="wrap-double clearfix">

	<section class="highlight-text centered smaller">
		<h2 class="upper">Frequently Asked Questions</h2>
	</section>

	<div class="sec-col-left">

		<dl class="contact-block">
			<dt>What is a bisque?</dt>
			<dd>When you look at a glazed tile from the side you can see 2 layers. The body of the tile,or largest layer, is called the bisque. The top layer is called the glaze.</dd>
			<dt>What is a <em>craquelé</em>?</dt>
			<dd>Some tiles are intentionally induced to craze to produce what is known as a <em>craquelé &nbsp;</em>finish. <em>Craquelé</em> glazed tiles should not be used on kitchen counter tops or surfaces subject to heavy uses.</dd>
			<dt>Is clay a natural material?</dt>
			<dd>Clay is a natural and biocompatible material that naturally embodies extraordinary thermal and structural performances.</dd>
			<dt>Why Oxide Explosions have such a variation?</dt>
			<dd>Oxide Explosions tiles vary in colour and surface quality due to variations in glaze thickness and temperature during the firing process. This natural variation is intrinsic to their beauty. To avoid misconceptions, we require that all clients approve the full variation within each reference.</dd>
			<dt>Can you reproduce or restore ancient tiles?</dt>
			<dd>Yes, we are quite well known for that. Please send us more information; we will be pleased to help you.</dd>
			<dt>Can I customise a product?</dt>
			<dd>Yes, we can customise tiles and objects to best fit your style.</dd>
			<dt>Can I get samples?</dt>
			<dd>Yes, we understand the importance of coordinating all the elements for your project and are happy to provide samples during your selection process. The sample cost is refundable upon purchase.</dd>
			<dt>Why is the nominal size bigger than the real size?</dt>
			<dd>During the production process ceramic tile will shrink, on average by  5 to 10% in size, depending on the clay type.</dd>
			<dt>What size do you suggest for grout spacing?</dt>
			<dd>New Terracotta tiles are sized to accommodate a 3 to 5 mm grout space. Many factors determine the size of a grout joint. It is important to discuss this with both your architect and installer and follow a jointing scheme.</dd>
			<dt>Will setting tiles on a diagonal require more material?</dt>
			<dd>Yes, typically more material is required when tile is set on a diagonal versus a straight-set. Please refer to your installer when determining how much material is needed.</dd>
			<dt>Should I order extra tiles?</dt>
			<dd>Yes, we recommend that you order 5-10% extra. This overage allows for the possibility of breakage during installation, for greater range selection, and extras in case of damage in the future. Always refer to your installer when determining quantities.</dd>
		</dl>

	</div>

	<div class="sec-col-right">
		<dl class="contact-block">
			<dt>Can I return my tiles?</dt>
			<dd>Because we make our tile especially for you returns are not accepted unless they are defective or damaged in shipping.</dd>
			<dt>What is the best way to clean my tiles?</dt>
			<dd>For everyday cleaning, simply use a pH-balanced natural cleaner to care for your tiles. We do not recommend the use of any acids to clean our tile and it is always wise to test any other cleaning methods in an inconspicuous area of your installation.</dd>
			<dt>Do I need to seal the tiles?</dt>
			<dd>In general, our tiles do not require sealing. However, tiles with <em>craquelé</em> glazes, in certain installations, should be sealed prior to grouting.</dd>
			<dt>How should I decide which type of tile to use?</dt>
			<dd>The application environment and the traffic levels it will experience will determine the type of tile you should select.<br>
				Please <a href="/contacts-and-support/contact-us">contact us</a> and we will direct you to the product that best
				suits
				your needs.</dd>
			<dt>Are all your tiles suitable for all purposes?</dt>
			<dd>No. Some glazes are recommended for walls only. Some glazes are not suitable for use in swimming pools.<br>
				Please check for usage information in <a href="/Portals/0/Documents/NWT_-_GLAZE_GUIDE.pdf" target="_blank">Glaze Guide</a>.</dd>
			<dt>Can I use your tiles in the shower?</dt>
			<dd>Yes, our tiles are suitable for wet applications. Please note that in regularly wet areas, such as showers, it is common for some tiles to darken and lighten as they become wet and then dry.</dd>
			<dt>Can I use your tiles around the fireplace? Are they heat-resistant?</dt>
			<dd>Our tiles are fired in kilns at very high temperatures. They are designed to be used in fireplace applications and will not be damaged by heat.</dd>
			<dt>What tiles can I use in a pool or fountain?</dt>
			<dd>We have several glazes suitable for pools.<br>
				Please check for usage information in <a href="/Portals/0/Documents/NWT_-_GLAZE_GUIDE.pdf">Glaze Guide</a>.</dd>
			<dt>Can I use your tiles in exterior applications?</dt>
			<dd>We have had our tiles installed outside on vertical surfaces for several years now with no issues. We do not recommend using our tile outside on horizontal surfaces in cold climates.<br>
				Please <a href="/contacts-and-support/contact-us">contact us</a> and we will help determine the suitability of our tiles for your exterior
				application.</dd>
		</dl>
	</div>

</div>