
<div class="wrap">
	<section class="highlight-text centered">
		<h2 class="t30">New Terracotta is available worldwide</h2>
	</section>
</div>

<div class="wrap0">
	<section class="contact-list">

		<div class="row">
			<a href="#" class="btn-area">
				<em>Showrooms</em>
				Click here to search the nearest showroom.
				<i class="ic-home"></i>
			</a>
			<a href="#" class="btn-area">
				<em>By email</em>
				Click here to initiate the buying process.
				<i class="ic-laptop"></i>
			</a>
			<span class="btn-area">
				<em>By phone</em>
				<b>Call us on:</b> +351 214 681 626<br/>
				<i class="ic-phone"></i>
			</span>
		</div>

		<div class="row">
			<a href="#" class="btn-area">
				<em>Information</em>
				Click here to view terms and conditions
				<i class="ic-info"></i>
			</a>
			<a href="#" class="btn-area">
				<em>Products</em>
				Click here to select your tiles.
				<i class="ic-search-plus"></i>
			</a>
		</div>

	</section>

</div>