
<div class="wrap">
	<section class="highlight-text centered smaller">
		<h2>New Terracotta Tiles and Pottery are available worldwide through showrooms, retailers and direct from us.</h2>
	</section>
</div>

<div class="wrap0">

	<section class="contact-list">

		<div class="row">
			<a href="#" class="btn-area">
				<em>Store</em>
				Click here to search for your nearest showroomor retailer.
				<i class="ic-home"></i>
			</a>
			<a href="#" class="btn-area">
				<em>By email</em>
				All New Terracotta products are available to purchase directly.<br/>
				Click here to initiate the buying process.
				<i class="ic-laptop"></i>
			</a>
			<a href="#" class="btn-area">
				<em>By phone</em>
				<b>Call us on:</b> + 351 218 240 459<br/>
				<b>between:</b> 9:30 am – 6:30 pm Monday to Friday
				<i class="ic-phone"></i>
			</a>
		</div>

		<div class="row">
			<a href="#" class="btn-area">
				<em>Informations</em>
				Click here to know the buying process.
				<i class="ic-info"></i>
			</a>
			<a href="#" class="btn-area">
				<em>Products</em>
				Click here to choose the tiles for your projects.
				<i class="ic-search-plus"></i>
			</a>
		</div>

	</section>

</div>