<div class="wrap-double clearfix">

	<section class="highlight-text smaller">
		<p><strong>New Terracotta Tile Collection is suitable for most interior and exterior applications, including residential and commercial floors, walls, counters, showers, baths, swimming pools, spas and fountains.<br />
			Because the purchase of New Terracotta Tile for your home or commercial project represents an important investment, proper installation and maintenance is critical.</strong></p>
	</section>

	<div class="sec-col-left">

		<div class="contact-block">

			<h3><i class="ic-question-circle"></i>Tile Understanding</h3>
			<p>It is important to understand that the differences in colour, shape, size, moisture absorption are the unique characteristics that distinguish each<br>
				of these tile products.</p>
			<strong>Glazed Tile</strong>
			<p>A coloured, liquid glaze is applied to the surface of a clay body.<br>
				The tile is fired in a kiln at very high temperatures of more than 1.050 ºC .<br>
				The glazing process defines the colour and surface texture and produces a hard, non-porous, impermeable tile with a very low water absorption rate.<br>
				Glazed tiles are easier to clean and any liquid on its surface will drain faster.</p>
			<strong>Size and Length Variation</strong>
			<p>Our tiles shrink during the production process.<br>
				You can expect some variation, especially on longer tiles.</p>
			<strong>Lengthwise Bowing and Surface Undulation</strong>
			<p>Clay is an elastic material; therefore it will attempt to regain its original shape as it moves through the production process. For this reason, you can expect both an acceptable amount of lengthwise bowing and a surface undulation.<br>
				Undulation can occur anywhere on the surface and could include a slightly raised corner or edge.</p>
			<strong>Color and Glaze variation</strong>
			<p>Shade variation is inherent in all fired ceramic products and certain tiles will show greater variation within their dye lots.<br>
				We assign all our glazes with a low, moderate, high or very high rating. See our <a href="/Portals/0/Documents/NWT_-_GLAZE_GUIDE.pdf" target="_blank">Glaze Guide</a> for a complete description of glaze characteristics.<br>
				Glazing on relief tiles will vary in thickness and as a result the glazing may appear darker and lighter in different areas throughout the tile.</p>

			<h3><i class="ic-warning"></i>Tile Preparation</h3>
			<p>Meticulously plan your layout. The time you take for preparation and placement will greatly impact the finished
				result.<br>
				Pre-sort your tile by colour and size so you can distribute the range of variation throughout the installation.
				Blending is recommended. <br>
				Inspect each tile for cracks or other deformities that make its use inappropriate for the application intended.</p>

			<h3><i class="ic-hashtag"></i>Joint Grouting</h3>
			<p>We advise a grout join (our standing grouting space is 2-5 mm) which joins the tiles so that they touch one another with an irregular space left between tiles, created by the imperfection of the edges.<br>
				Grout joint width can be varied to adjust tile alignment with adjacent handmade tiles or other architectural elements.<br>
				Give design consideration to the grout colour as relates to the colour of tile chosen. There may be a desire to accentuate the tile with a border of contrasting grout colour. To more closely connect each tile with each other, use a grout colour in a hue that approximates the colours found in the tile.</p>

		</div>

	</div>

	<div class="sec-col-right">

		<div class="contact-block">

			<h3><i class="ic-legal"></i>Tile Installation</h3>
			<strong>Install per industry standards for terracotta glazed tiles.</strong>
			<p>Proper substrate preparation and the right choice of adhesives and grouts for the type of tile and specific project conditions are critical for achieving a long-<br>
				-lasting installation. It is therefore very important to hire a qualified tile installer and to use products that meet the latest international standards.</p>
			<hr />
			<a href="/Portals/0/Documents/NWT_-_INST&amp;MAINTENANCE.pdf" class="btn-small" target="_blank">Installation &amp; Maintenance Guide<i class="ic-download"></i></a>
			<figure><img alt="" src="/Portals/0/Images/contacts-and-support/Tiles-Installation.png"></figure>
			<div class="box-gray">
				<ol>
					<li><strong>1. Prepare the surface.</strong> Substrate must be clean, leveled and adequately set.</li>
					<li><strong>2. Determine the layout and mark the surface.</strong> For aesthetic and technical optimization, define starting points and cuttings.</li>
					<li><strong>3. Distribute the tiles.</strong> Pre-sort your tile by colour and size so you can distribute the range of variation throughout the installation.</li>
					<li><strong>4. Apply the proper tile adhesive.</strong> Use a large-toothed trowel to spread the adhesive.</li>
					<li><strong>5. Install the tiles.</strong> Lay down tiles by lining them up and pressing them firmly into the adhesive. Installation is easier if you use X-shaped tile spacers.</li>
					<li><strong>6. Cut the tiles.</strong> If some tiles need to be trimmed, you can use either a snap tile cutter or a wet tile saw.</li>
					<li><strong>7. Grout the joints.</strong> Allow the adhesive to cure for about 24 hours and then fill in the joints with the selected grout, using a rubber grout float.</li>
					<li><strong>8. Clean the tiles after grouting.</strong> The excess grout must be cleaned immediately with a wet sponge, rising often.</li>
				</ol>
			</div>
			<h3><i class="ic-wrench"></i>Tile Maintenance</h3>
			<strong>New Terracotta Tile is a relatively maintenance-free product that requires little continuing care beyond regular cleaning. Continued beauty and performance of our tiles is assured by following these recommendations:</strong>
			<ul>
				<li>For everyday cleaning, simply use a pH-balanced natural cleaner diluted in warm water.</li>
				<li>To clean stubborn spots or grout joins use a stiff natural bristle brush.</li>
				<li>Always avoid the use of abrasive cleaning pads or products containing bleach, ammonia and paint thinner.</li>
				<li>Never scrub with rough materials, such as hard brushes or wire wool, which may scratch the surface.</li>
				<li>In cooking areas, around a stove on counters and backsplashes, cooking oil splatters should be cleaned as soon as possible as oil may darken some tiles.</li>
			</ul>
		</div>

	</div>

</div>