{{> nav_top_collections }}

<section class="main-sec">

	<div class="clearfix wrap0">

		<div class="main-col-left">
			<h2 class="h-prods">All sizes</h2>

			<section class="grid prod-list gut30">
				<div class="mold c25">
					<figure>
						<div class="prod-img-cont">
							<img src="/Portals/0/Images/tiles/field-tiles/Field-Tile-14x14cm.jpg" alt="Field Tile - 14 x 14 cm"/>
						</div>
						<figcaption>
							<em>14 x 14 cm</em>

							<p>48 tiles / sqm</p>
						</figcaption>
					</figure>
					<figure>
						<div class="prod-img-cont">
							<img src="/Portals/0/Images/tiles/field-tiles/Field-Tile-11x11cm.jpg" alt="Field Tile - 11 x 11 cm"/>
						</div>
						<figcaption>
							<em>11 x 11 cm</em>

							<p>78 tiles / sqm</p>
						</figcaption>
					</figure>
					<figure>
						<div class="prod-img-cont">
							<img src="/Portals/0/Images/tiles/field-tiles/Field-Tile-10x10cm.jpg" alt="Field Tile - 10 x 10 cm"/>
						</div>
						<figcaption>
							<em>10 x 10 cm</em>

							<p>92 tiles / sqm</p>
						</figcaption>
					</figure>
					<figure>
						<div class="prod-img-cont">
							<img src="/Portals/0/Images/tiles/field-tiles/Field-Tile-7x7cm.jpg" alt="Field Tile - 7 x 7 cm"/>
						</div>
						<figcaption>
							<em>7 x 7 cm</em>

							<p>196 tiles / sqm</p>
						</figcaption>
					</figure>
				</div>

				<div class="mold c25">
					<figure>
						<div class="prod-img-cont">
							<img src="/Portals/0/Images/tiles/field-tiles/Field-Tile-14x7cm.jpg" alt="Field Tile - 14 x 7 cm"/>
						</div>
						<figcaption>
							<em>14 x 7 cm</em>

							<p>98 tiles / sqm</p>
						</figcaption>
					</figure>
					<figure>
						<div class="prod-img-cont">
							<img src="/Portals/0/Images/tiles/field-tiles/Field-Tile-11x5.5cm.jpg" alt="Field Tile - 11 x 5,5 cm"/>
						</div>
						<figcaption>
							<em>11 x 5,5 cm</em>

							<p>160 tiles / sqm</p>
						</figcaption>
					</figure>
					<figure>
						<div class="prod-img-cont">
							<img src="/Portals/0/Images/tiles/field-tiles/Field-Tile-10x5cm.jpg" alt="Field Tile - 10 x 5 cm"/>
						</div>
						<figcaption>
							<em>10 x 5 cm</em>

							<p>190 tiles / sqm</p>
						</figcaption>
					</figure>
				</div>

				<div class="mold c50">
					<figure>
						<div class="prod-img-cont">
							<img src="/Portals/0/Images/tiles/field-tiles/Field-Tile-30x10cm.jpg" alt="Field Tile - 30 x 10 cm"/>
						</div>
						<figcaption>
							<em>30 x 10 cm</em>

							<p>33 tiles / sqm</p>
						</figcaption>
					</figure>
					<figure>
						<div class="prod-img-cont">
							<img src="/Portals/0/Images/tiles/field-tiles/Field-Tile-22x5cm.jpg" alt="Field Tile - 22 x 5 cm"/>
						</div>
						<figcaption>
							<em>22 x 5 cm</em>

							<p>91 tiles / sqm</p>
						</figcaption>
					</figure>
				</div>

				<div class="mold c50">
					<figure>
						<div class="prod-img-cont">
							<img src="/Portals/0/Images/tiles/field-tiles/Field-Tile-30x7cm.jpg" alt="Field Tile - 30 x 7 cm"/>
						</div>
						<figcaption>
							<em>30 x 7 cm</em>

							<p>47 tiles / sqm</p>
						</figcaption>
					</figure>
					<figure>
						<div class="prod-img-cont">
							<img src="/Portals/0/Images/tiles/field-tiles/Field-Tile-22x5cm.jpg" alt="Field Tile - 22 x 5 cm"/>
						</div>
						<figcaption>
							<em>20 x 4 cm</em>
							<p>102 tiles / sqm</p>
						</figcaption>
					</figure>
				</div>

				<div class="mold c33 centered big">
					<figure>
						<div class="prod-img-cont">
							<img src="/Portals/0/Images/tiles/field-tiles/Field-Tile-Hexa-M.jpg" alt="Field Tile - HEXA M"/>
						</div>
						<figcaption>
							<em>HEXA . M</em>
							<em>14 x 12 cm - side 7 cm</em>
							<p>79 tiles / sqm</p>
						</figcaption>
					</figure>
					<figure>
						<div class="prod-img-cont">
							<img src="/Portals/0/Images/tiles/field-tiles/Field-Tile-Hexa-S.jpg" alt="Field Tile - HEXA S"/>
						</div>
						<figcaption>
							<em>HEXA . S</em>
							<em>11,6 x 10 cm - side 6 cm</em>
							<p>115 tiles / sqm</p>
						</figcaption>
					</figure>
					<figure>
						<div class="prod-img-cont">
							<img src="/Portals/0/Images/tiles/field-tiles/Field-Tile-Arab.jpg" alt="Field Tile - ARAB"/>
						</div>
						<figcaption>
							<em>ARAB</em>
							<em>12 x 12 cm</em>
							<p>137 tiles / sqm</p>
						</figcaption>
					</figure>
					<figure>
						<div class="prod-img-cont">
							<img src="/Portals/0/Images/tiles/field-tiles/Field-Tile-Losa-M.jpg" alt="Field Tile - LOSA M"/>
						</div>
						<figcaption>
							<em>LOSA . M</em>
							<em>10,5 x 18 cm - side 10,5 cm</em>
							<p>104 tiles / sqm</p>
						</figcaption>
					</figure>
					<figure>
						<div class="prod-img-cont">
							<img src="/Portals/0/Images/tiles/field-tiles/Field-Tile-Losa-S.jpg" alt="Field Tile - LOSA S"/>
						</div>
						<figcaption>
							<em>LOSA . S</em>
							<em>6 x 10 cm - side 6 cm</em>
							<p>320 tiles / sqm</p>
						</figcaption>
					</figure>
					<figure>
						<div class="prod-img-cont">
							<img src="/Portals/0/Images/tiles/field-tiles/Field-Tile-T-Drop.jpg" alt="Field Tile - T DROP"/>
						</div>
						<figcaption>
							<em>T-DROP</em>
							<em>9 x 15 cm</em>
							<p>148 tiles / sqm</p>
						</figcaption>
					</figure>
					<figure>
						<div class="prod-img-cont">
							<img src="/Portals/0/Images/tiles/field-tiles/Field-Tile-Tria-M.jpg" alt="Field Tile - TRIA M"/>
						</div>
						<figcaption>
							<em>TRIA . M</em>
							<em>13 x 11 cm - side 13 cm</em>
							<p>136 tiles / sqm</p>
						</figcaption>
					</figure>
					<figure>
						<div class="prod-img-cont">
							<img src="/Portals/0/Images/tiles/field-tiles/Field-Tile-Tria-S.jpg" alt="Field Tile - TRIA M"/>
						</div>
						<figcaption>
							<em>TRIA . S</em>
							<em>10 x 8,5 cm - side 10 cm</em>
							<p>230 tiles / sqm</p>
						</figcaption>
					</figure>
					<figure>
						<div class="prod-img-cont">
							<img src="/Portals/0/Images/tiles/field-tiles/Field-Tile-Fish-Scale.jpg" alt="Field Tile - FISH SCALE"/>
						</div>
						<figcaption>
							<em>FISH SCALE</em>
							<em>12,5 x 11,5 cm</em>
							<p>140 tiles / sqm</p>
						</figcaption>
					</figure>
					<figure>
						<div class="prod-img-cont">
							<img src="/Portals/0/Images/tiles/field-tiles/Field-Tile-Trap.jpg" alt="Field Tile - TRAP"/>
						</div>
						<figcaption>
							<em>TRAP</em>
							<em>18 x 9 cm</em>
							<p>86 tiles / sqm</p>
						</figcaption>
					</figure>
				</div>

			</section>

			<h2 class="h-prods">In & Out</h2>
		
			<section class="grid prod-list gut30">
				<div class="mold c50 huge">
					<figure>
						<div class="prod-img-cont">
							<img src="/Portals/0/Images/tiles/field-tiles/Field-Tile-Square.jpg" alt="Field Tile - SQUARE"/>
						</div>
						<figcaption>
							<em>SQUARE</em>
							<p>100 tiles / sqm</p>
							<p><b>10 x 10 x 1 cm</b> - 36% of total</p>
							<p><b>10 x 10 x 1,5 cm</b> - 36% of total</p>
							<p><b>10 x 10 x 1,8 cm</b> - 28% of total</p>
						</figcaption>
					</figure>
					<figure>
						<div class="prod-img-cont">
							<img src="/Portals/0/Images/tiles/field-tiles/Field-Tile-Triangle.jpg" alt="Field Tile - TRIANGLE"/>
						</div>
						<figcaption>
							<em>TRIANGLE</em>
							<p>96 tiles / sqm</p>
							<p><b>24 x 12 cm</b> - 40% of total</p>
							<p><b>12 x 12 cm</b> - 60% of total</p>
						</figcaption>
					</figure>
				</div>
			</section>

		</div>

		{{> prod_col_right}}

	</div>

</section>