{{> nav_top_collections }}

<section class="main-sec">

	<div class="clearfix wrap0">

		<div class="main-col-left">
			<section class="grid prod-list gut30">
				<div class="mold c50 medium">
					<figure>
						<div class="prod-img-cont">
							<img src="/images/tiles/mouldings/Moulding-Algarve.jpg" alt="Mouldings - ALGARVE"/>
						</div>
						<figcaption>
							<em>ALGARVE</em>
							<p><b>Linear - 14,5 x 14,5 cm</b></p>
							<p><b>Corner - 14,5 x 14,5 cm</b></p>
							<p>7 tiles / linear m</p>
						</figcaption>
					</figure>
					<figure>
						<div class="prod-img-cont">
							<img src="/images/tiles/mouldings/Moulding-Minho.jpg" alt="Mouldings - MINHO"/>
						</div>
						<figcaption>
							<em>MINHO</em>
							<p><b>Linear - 14,5 x 14,5 cm</b></p>
							<p><b>Corner - 14,5 x 14,5 cm</b></p>
							<p>7 tiles / linear m</p>
						</figcaption>
					</figure>
					<figure>
						<div class="prod-img-cont">
							<img src="/images/tiles/mouldings/Moulding-Douro.jpg" alt="Mouldings - DOURO"/>
						</div>
						<figcaption>
							<em>DOURO</em>
							<p><b>Linear - 13 x 7,5 cm</b></p>
							<p><b>Corner - 13 x 7,5 cm</b></p>
							<p>8 tiles / linear m</p>
						</figcaption>
					</figure>
					<figure>
						<div class="prod-img-cont">
							<img src="/images/tiles/mouldings/Moulding-Classic.jpg" alt="Mouldings - CLASSIC"/>
						</div>
						<figcaption>
							<em>Classic</em>
							<p><b>14 x 5 cm</b> | 7 tiles / linear m</p>
							<p><b>11 x 5 cm</b> | 9 tiles / linear m</p>
							<p><b>10 x 5 cm</b> | 10 tiles / linear m</p>
						</figcaption>
					</figure>
					<figure>
						<div class="prod-img-cont">
							<img src="/images/tiles/mouldings/Moulding-Cane.jpg" alt="Mouldings - CANE"/>
						</div>
						<figcaption>
							<em>CANE</em>
							<p><b>14 x 3 cm</b> | 7 tiles / linear m</p>
							<p><b>11 x 3 cm</b> | 9 tiles / linear m</p>
							<p><b>10 x 3 cm</b> | 10 tiles / linear m</p>
						</figcaption>
					</figure>
				</div>
			</section>
		</div>

		{{> prod_col_right }}


	</div>

</section>