{{> nav_top_collections }}

<section class="main-sec">

	<div class="clearfix wrap0">

		<div class="main-col-left">
			<h2 class="h-prods">Dimensionals</h2>
			<section class="grid prod-list gut30">
				<div class="mold c50">
					<figure>
						<div class="prod-img-cont">
							<span class="prod-more"><img src="/Portals/0/Images/tiles/new-modern/New-Modern-Subway-1.jpg" alt="New Modern | Dimensionals - SUBWAY 1"/></span>
						</div>
						<figcaption>
							<em>SUBWAY 1</em>
							<p><b>15,5 x 7,5 cm</b></p>
							<p>86 tiles / sqm</p>
						</figcaption>
					</figure>
					<figure>
						<div class="prod-img-cont">
							<span class="prod-more"><img src="/Portals/0/Images/tiles/new-modern/New-Modern-Subway-2.jpg" alt="New Modern | Dimensionals - SUBWAY 2"/></span>
						</div>
						<figcaption>
							<em>SUBWAY 2</em>
							<p><b>15,5 x 7,5 cm</b></p>
							<p>86 tiles / sqm</p>
						</figcaption>
					</figure>
					<figure>
						<div class="prod-img-cont">
							<span class="prod-more"><img src="/Portals/0/Images/tiles/new-modern/New-Modern-Subway-3.jpg" alt="New Modern | Dimensionals - SUBWAY 3"/></span>
						</div>
						<figcaption>
							<em>SUBWAY 3</em>
							<p><b>18 x 12 cm</b></p>
							<p>46 tiles / sqm</p>
						</figcaption>
					</figure>
					<figure>
						<div class="prod-img-cont">
							<span class="prod-more"><img src="/Portals/0/Images/tiles/new-modern/New-Modern-Envelope.jpg" alt="New Modern | Dimensionals - ENVELOPE"/></span>
						</div>
						<figcaption>
							<em>ENVELOPE</em>
							<p><b>14 x 7 cm</b></p>
							<p>102 tiles / sqm</p>
						</figcaption>
					</figure>
					<figure>
						<div class="prod-img-cont">
							<span class="prod-more"><img src="/Portals/0/Images/tiles/new-modern/New-Modern-Bump.jpg" alt="New Modern | Dimensionals - BUMP"/></span>
						</div>
						<figcaption>
							<em>BUMP</em>
							<p><b>14 x 7 cm</b></p>
							<p>102 tiles / sqm</p>
						</figcaption>
					</figure>
					<figure>
						<div class="prod-img-cont">
							<span class="prod-more"><img src="/Portals/0/Images/tiles/new-modern/New-Modern-Kiss.jpg" alt="New Modern | Dimensionals - KISS"/></span>
						</div>
						<figcaption>
							<em>KISS</em>
							<p><b>14 x 7 cm</b></p>
							<p>102 tiles / sqm</p>
						</figcaption>
					</figure>
				</div>
				<div class="mold c50 medium">
					<figure>
						<div class="prod-img-cont">
							<span class="prod-more"><img src="/Portals/0/Images/tiles/new-modern/New-Modern-Pyramide.jpg" alt="New Modern | Dimensionals - PYRAMIDE"/></span>
						</div>
						<figcaption>
							<em>PYRAMIDE</em>
							<p><b>15 x 15 cm - side 17,3</b></p>
							<p>86 tiles / sqm</p>
						</figcaption>
					</figure>
					<figure>
						<div class="prod-img-cont">
							<span class="prod-more"><img src="/Portals/0/Images/tiles/new-modern/New-Modern-Constellation.jpg" alt="New Modern | Dimensionals - CONSTELLATION"/></span>
						</div>
						<figcaption>
							<em>CONSTELLATION</em>
							<p><b>20 x 10,5 cm</b></p>
							<p>62 tiles / sqm</p>
						</figcaption>
					</figure>
					<figure>
						<div class="prod-img-cont">
							<span class="prod-more"><img src="/Portals/0/Images/tiles/new-modern/New-Modern-Skater.jpg" alt="New Modern | Dimensionals - SKATER"/></span>
						</div>
						<figcaption>
							<em>SKATER</em>
							<p><b>15,5 x 8 cm</b></p>
							<p>81 tiles / sqm</p>
						</figcaption>
					</figure>
					<figure>
						<div class="prod-img-cont">
							<span class="prod-more"><img src="/Portals/0/Images/tiles/new-modern/New-Modern-Star.jpg" alt="New Modern | Dimensionals - STAR"/></span>
						</div>
						<figcaption>
							<em>STAR</em>
							<p><b>17 x 5 cm - side 8,5</b></p>
							<p>86 tiles / sqm</p>
						</figcaption>
					</figure>
					<figure>
						<div class="prod-img-cont">
							<span class="prod-more"><img src="/Portals/0/Images/tiles/new-modern/New-Modern-Gladiator.jpg" alt="New Modern | Dimensionals - GLADIATOR"/></span>
						</div>
						<figcaption>
							<em>GLADIATOR</em>
							<p><b>17,3 x 15 cm - side 8,7</b></p>
							<p>86 tiles / sqm</p>
						</figcaption>
					</figure>
					<figure>
						<div class="prod-img-cont">
							<span class="prod-more"><img src="/Portals/0/Images/tiles/new-modern/New-Modern-Zig-Zag.jpg" alt="New Modern | Dimensionals - ZIG ZAG"/></span>
						</div>
						<figcaption>
							<em>ZIG ZAG</em>
							<p><b>20 x 13,5 cm</b></p>
							<p>52 tiles / sqm</p>
						</figcaption>
					</figure>
				</div>
			</section>

			<h2 class="h-prods">Reliefs</h2>

			<section class="grid prod-list gut30">
				<div class="mold c50 medium">
					<figure>
						<div class="prod-img-cont">
							<span class="prod-more"><img src="/Portals/0/Images/tiles/new-modern/New-Modern-Capoeira-M.jpg" alt="New Modern | Reliefs - CAPOEIRA M"/></span>
						</div>
						<figcaption>
							<em>CAPOEIRA</em>
							<p><b>14 x 14 cm</b></p>
							<p>51 tiles / sqm</p>
						</figcaption>
					</figure>
					<figure>
						<div class="prod-img-cont">
							<span class="prod-more"><img src="/Portals/0/Images/tiles/new-modern/New-Modern-Capoeira-S.jpg" alt="New Modern | Reliefs - CAPOEIRA S"/></span>
						</div>
						<figcaption>
							<em>CAPOEIRA</em>
							<p><b>11 x 11 cm</b></p>
							<p>82 tiles / sqm</p>
						</figcaption>
					</figure>
				</div>
				<div class="mold c50 medium">
					<figure>
						<div class="prod-img-cont">
							<span class="prod-more"><img src="/Portals/0/Images/tiles/new-modern/New-Modern-Capitonne.jpg" alt="New Modern | Reliefs - CAPITONNÉ"/></span>
						</div>
						<figcaption>
							<em>CAPITONNÉ</em>
							<p><b>14 x 14 cm</b></p>
							<p>51 tiles / sqm</p>
						</figcaption>
					</figure>
					<figure>
						<div class="prod-img-cont">
							<span class="prod-more"><img src="/Portals/0/Images/tiles/new-modern/New-Modern-Rafia.jpg" alt="New Modern | Reliefs - RÁFIA"/></span>
						</div>
						<figcaption>
							<em>RÁFIA</em>
							<p><b>14 x 14 cm</b></p>
							<p>51 tiles / sqm</p>
						</figcaption>
					</figure>
				</div>
				<div class="mold c50 medium">
					<figure>
						<div class="prod-img-cont">
							<span class="prod-more"><img src="/Portals/0/Images/tiles/new-modern/New-Modern-Cubist.jpg" alt="New Modern | Reliefs - CUBIST"/></span>
						</div>
						<figcaption>
							<em>CUBIST</em>
							<p><b>15 x 15 cm</b></p>
							<p>45 tiles / sqm</p>
						</figcaption>
					</figure>
					<figure>
						<div class="prod-img-cont">
							<span class="prod-more"><img src="/Portals/0/Images/tiles/new-modern/New-Modern-Deco.jpg" alt="New Modern | Reliefs - DÉCO"/></span>
						</div>
						<figcaption>
							<em>DÉCO</em>
							<p><b>15 x 15 cm</b></p>
							<p>45 tiles / sqm</p>
						</figcaption>
					</figure>
				</div>
				<div class="mold c50 medium">
					<figure>
						<div class="prod-img-cont">
							<span class="prod-more"><img src="/Portals/0/Images/tiles/new-modern/New-Modern-Mondrian.jpg" alt="New Modern | Reliefs - MONDRIAN"/></span>
						</div>
						<figcaption>
							<em>MONDRIAN</em>
							<p><b>14,5 x 14,5 cm</b></p>
							<p>48 tiles / sqm</p>
						</figcaption>
					</figure>
					<figure>
						<div class="prod-img-cont">
							<span class="prod-more"><img src="/Portals/0/Images/tiles/new-modern/New-Modern-Cork.jpg" alt="New Modern | Reliefs - CORK"/></span>
						</div>
						<figcaption>
							<em>CORK</em>
							<p><b>15,5 x 30 cm</b></p>
							<p>22 tiles / sqm</p>
						</figcaption>
					</figure>
				</div>

			</section>

		</div>

		{{> prod_col_right }}


	</div>

</section>