<script type="text/javascript">
	$( function() {
		new NewTerracotta.Video();
	} );
</script>

<div class="wrap0">
	<div id="video-container"></div>
</div>

<div class="wrap">

	<section class="highlight-text centered">
		<h2>The Essence</h2>

		<p>New Terracotta is a profoundly Portuguese handmade ceramic project. It is a modern line of Azulejos and
			glazed clay pieces produced manually by Portuguese craftsmen. The premise is simple: to merge the ancient
			technique with contemporary aesthetics, offering a new dimension of the tile.</p>
		<hr/>
		<h2>The Art Form</h2>

		<p><em>Craftsmanship</em>. We are heirs of a rich past based on ceramic tradition. Our masters produce according
			to ancient techniques with generations of history.</p>

		<p><em>Design</em>. We work with in house designers and prestigious collaborators across a range of
			inspirations. We offer a traditional material with a new vision.</p>

		<p><em>Quality</em>. Every ceramic piece meets our uncompromising standards for quality assurance and
			excellence. Both our clay bodies and art glazes are formulated by us.</p>
		<hr/>
		<h2>The Art Form</h2>

		<p>We believe that character is far more than just a visual attribute, but it triggers a tangible feel. The more
			time and effort we spend on a piece, the more enjoyment people will derive from it. We strongly believe that
			people prefer handmade products.</p>
	</section>

	<section class="image-list">

		<figure>
			<img src="/Portals/0/Images/the-factory/The-Factory-1.jpg" alt="The Factory - Image 1"/>
		</figure>

		<figure>
			<img src="/Portals/0/Images/the-factory/The-Factory-2.jpg" alt="The Factory - Image 2"/>
		</figure>

		<figure>
			<img src="/Portals/0/Images/the-factory/The-Factory-3.jpg" alt="The Factory - Image 3"/>
		</figure>

		<figure>
			<img src="/Portals/0/Images/the-factory/The-Factory-4.jpg" alt="The Factory - Image 4"/>
		</figure>

		<figure>
			<img src="/Portals/0/Images/the-factory/The-Factory-5.jpg" alt="The Factory - Image 5"/>
		</figure>

		<figure>
			<img src="/Portals/0/Images/the-factory/The-Factory-6.jpg" alt="The Factory - Image 6"/>
		</figure>

	</section>

	<section class="highlight-text centered">
		<h2>Visit us for a first-hand impression.</h2>

		<p>We are happy to tell you about our production process but we would prefer to show it.<br/> You are always
			welcome to visit us!</p>
	</section>

</div>

<section class="highlight-text bg-green">
	<div class="wrap">
		<h2>Green Policy <i class="ic-leaf"></i></h2>

		<p>We produce clay materials that are eco-friendly, thanks to our forward looking environmental policy.<br/>
			We work hard to reduce our impact on the environment. We reclaim our own liquid waste glaze and ourscrap
			clay and put it back into our clay body. Heat captured from our kilns is used to dry our tiles prior to
			firing. These measures help maintain the environment, eliminating several items from the waste stream and
			reducing energy waste.</p>
	</div>
</section>