<script type="text/javascript">
	$( function() {
		new NewTerracotta.Parallax();
	} );
</script>

<article class="highlight-art">
	<figure class="parallax">
		<img src="/Portals/0/Images/the-atelier/artists-at-home/Artists-at-home-top-header.jpg"
			 alt="Artists at Home | Creative dialogues"/>
	</figure>
	<div class="cont wrap">
		<h1>Artists at Home</h1>
		<h2>Creative dialogues</h2>
		<a href="#">contact us</a>
	</div>
</article>

<section class="highlight-text big bg-black">
	<div class="wrap">
		<h2 class="t40">New Terracotta is a respected partner for a burgeoning number of global brands.</h2><br/><br/>
		<p class="t40">Our approach is truly collaborative, with clear delight in the process of working with
			others.</p>
	</div>
</section>

<section class="hp-sec">

	<div class="wrap-small clearfix">

		<article class="hp-sec-art">
			<div></div>
			<figure><a href="#"><img src="/Portals/0/Images/the-atelier/artists-at-home/Smink-Thinks.jpg" alt="Smink Thinks"></a></figure>
			<h3><a href="#">Smink Thinks</a></h3>
			<a href="#">Working together since 2014.</a>

		</article>

		<article class="hp-sec-art">
			<div></div>
			<figure><a href="#"><img src="/Portals/0/Images/the-atelier/artists-at-home/Guy-Mitchell-Design.jpg" alt="Guy Mitchell Design"></a></figure>
			<h3><a href="#">Guy Mitchell Design</a></h3>
			<a href="#">Working together since 2016.</a>

		</article>

	</div>

</section>


