{{> nav_top_atelier }}

<div class="wrap">

	<section class="highlight-text centered smaller">

		<h2 class="upper">Tiles have played a prominent part in the world throughout history.<br />
			WE are proud to make part of it.</h2>
		<p>Each piece is unique in both the pattern and reflec-tion of colours, which area result from the effect of the iridescent nacre.</p>

	</section>

	<section class="grid prod-list gut30">

		<div class="mold c33 centered big">

			<figure>
				<div class="prod-img-cont">
					<img src="/images/atelier/historic-restorations/Heritage-001.jpg" alt="Heritage 001"/>
				</div>
				<figcaption>
					<p>Heritage 001</p>
				</figcaption>
			</figure>

			<figure>
				<div class="prod-img-cont">
					<img src="/images/atelier/historic-restorations/Heritage-002.jpg" alt="Heritage 002"/>
				</div>
				<figcaption>
					<p>Heritage 002</p>
				</figcaption>
			</figure>

			<figure>
				<div class="prod-img-cont">
					<img src="/images/atelier/historic-restorations/Heritage-003.jpg" alt="Heritage 003"/>
				</div>
				<figcaption>
					<p>Heritage 003</p>
				</figcaption>
			</figure>

			<figure>
				<div class="prod-img-cont">
					<img src="/images/atelier/historic-restorations/Heritage-004.jpg" alt="Heritage 004"/>
				</div>
				<figcaption>
					<p>Heritage 004</p>
				</figcaption>
			</figure>

			<figure>
				<div class="prod-img-cont">
					<img src="/images/atelier/historic-restorations/Heritage-005.jpg" alt="Heritage 005"/>
				</div>
				<figcaption>
					<p>Heritage 005</p>
				</figcaption>
			</figure>

			<figure>
				<div class="prod-img-cont">
					<img src="/images/atelier/historic-restorations/Heritage-006.jpg" alt="Heritage 006"/>
				</div>
				<figcaption>
					<p>Heritage 006</p>
				</figcaption>
			</figure>

			<figure>
				<div class="prod-img-cont">
					<img src="/images/atelier/historic-restorations/Heritage-007.jpg" alt="Heritage 007"/>
				</div>
				<figcaption>
					<p>Heritage 007</p>
				</figcaption>
			</figure>

			<figure>
				<div class="prod-img-cont">
					<img src="/images/atelier/historic-restorations/Heritage-008.jpg" alt="Heritage 008"/>
				</div>
				<figcaption>
					<p>Heritage 008</p>
				</figcaption>
			</figure>

			<figure>
				<div class="prod-img-cont">
					<img src="/images/atelier/historic-restorations/Heritage-009.jpg" alt="Heritage 009"/>
				</div>
				<figcaption>
					<p>Heritage 009</p>
				</figcaption>
			</figure>

			<figure>
				<div class="prod-img-cont">
					<img src="/images/atelier/historic-restorations/Heritage-010.jpg" alt="Heritage 010"/>
				</div>
				<figcaption>
					<p>Heritage 010</p>
				</figcaption>
			</figure>

			<figure>
				<div class="prod-img-cont">
					<img src="/images/atelier/historic-restorations/Heritage-011.jpg" alt="Heritage 011"/>
				</div>
				<figcaption>
					<p>Heritage 011</p>
				</figcaption>
			</figure>

			<figure>
				<div class="prod-img-cont">
					<img src="/images/atelier/historic-restorations/Heritage-012.jpg" alt="Heritage 012"/>
				</div>
				<figcaption>
					<p>Heritage 012</p>
				</figcaption>
			</figure>

			<figure>
				<div class="prod-img-cont">
					<img src="/images/atelier/historic-restorations/Heritage-013.jpg" alt="Heritage 013"/>
				</div>
				<figcaption>
					<p>Heritage 013</p>
				</figcaption>
			</figure>

			<figure>
				<div class="prod-img-cont">
					<img src="/images/atelier/historic-restorations/Heritage-014.jpg" alt="Heritage 014"/>
				</div>
				<figcaption>
					<p>Heritage 014</p>
				</figcaption>
			</figure>

			<figure>
				<div class="prod-img-cont">
					<img src="/images/atelier/historic-restorations/Heritage-015.jpg" alt="Heritage 015"/>
				</div>
				<figcaption>
					<p>Heritage 015</p>
				</figcaption>
			</figure>

			<figure>
				<div class="prod-img-cont">
					<img src="/images/atelier/historic-restorations/Heritage-016.jpg" alt="Heritage 016"/>
				</div>
				<figcaption>
					<p>Heritage 016</p>
				</figcaption>
			</figure>

		</div>

	</section>
</div>
