<script type="text/javascript">
	$(function(){
		new NewTerracotta.Parallax();
	});
</script>

<article class="highlight-art">
	<figure class="parallax">
		<img src="/Portals/0/Images/the-atelier/inside-the-atelier/Inside-the-Atelier-restoration-and-contemporary.jpg"
			 alt="Inside the Atelier | Restoration & Contemporary"/>
	</figure>
	<div class="cont wrap black">
		<h1>Inside the Atelier</h1>
		<h2>Restoration & Contemporary</h2>
	</div>
</article>

<div class="wrap">
	<section class="highlight-text big">
		<h2 class="t35 upper">Historic Restorations</h2>
		<p class="t25">We can accurately reproduce either original tiles or images of older designs.<br />
			Our team of experts can work with you to give you the best advice on your project.</p>
		<br /><br /><br />
		<h2 class="t35 upper">Bespoke Commissions</h2>
		<p class="t25">Our atelier offers an expansive range of possibilities, including special finishes, custom colours, designs
			and formats.<br />
			If you cannot find what you are looking for, we will be happy to create a unique artwork for you.</p>
	</section>
</div>
