<script type="text/javascript">
	$(function(){
		new NewTerracotta.Parallax();
	});
</script>

<article class="highlight-art small">
	<figure class="parallax">
		<img src="/Portals/0/Images/portuguese-tiles/History-of-Azulejos-Portuguese-Tradition.jpg"
			 alt="History of Azulejos | Portuguese Tradition"/>
	</figure>
	<div class="cont wrap black">
		<h1>History of Azulejos</h1>
		<h2>Portuguese tradition and heritage</h2>
		<a href="#">tile reproductions</a>
	</div>
</article>

<div class="wrap">

	<section class="highlight-text">
		<h3>The Azulejo is a characteristic element of Portuguese culture, revealing some of its deepest roots:</h3>
		<br/>
		<p>The ability to establish dialogues with other peoples, as shown by a taste for exotic items in which European
			cultural themes are mixed with those from Arabic and Indian cultures.</p><br/>
		<p>An expeditious practical sense revealed in the use of a conventionally humble material, the tile, as a means
			of aesthetically enhancing the interiors of buildings and urban spaces.</p><br/>
		<p>An awareness that, in Portugal, more emphasis is placed on sensual than on conceptual values, as shown by a
			preference for a coloured material that reflects light, the immediate expression of painting, and a choice
			of images that focus more on describing reality.</p>
	</section>

	<section>

		<ol class="gal-cron">
			<li>
				<figure><img src="/Portals/0/Images/portuguese-tiles/Alicatado-711-716.jpg" alt="Alicatado"/></figure>
				<p>711-716</p>

				<div class="info">
					<div>
						<dl>
							<dt>Technique: Alicatado</dt>
							<dd>Monochrome glazed plaques that are cut out and subsequently rearranged to form a design.
							</dd>
						</dl>
					</div>
				</div>
			</li>
			<li>
				<figure><img src="/Portals/0/Images/portuguese-tiles/Corda-Seca-secXIII-XIV.jpg" alt="Corda Seca"/>
				</figure>
				<p>13<sup>th</sup>-14<sup>th</sup> century</p>

				<div class="info">
					<div>
						<dl>
							<dt>Technique: Dry cord</dt>
							<dd>Grooves are created and then filled with a mixture of manganese and vegetable fat to
								ensure that the
								various enamels are kept separate.
							</dd>
						</dl>
					</div>
				</div>
			</li>
			<li>
				<figure><img src="/Portals/0/Images/portuguese-tiles/Azulejaria-Hispano-Mourisca-secXV.jpg"
							 alt="Azulejaria hispano-mourisca"/></figure>
				<p>15<sup>th</sup> century</p>

				<div class="info">
					<div>
						<dl>
							<dt>Hispano-Moorish tile-making</dt>
							<dd>Moorish motifs intertwine and repeat themselves in radial geometric arrangements to form
								a
								pattern.
							</dd>
						</dl>
					</div>
				</div>
			</li>
			<li>
				<figure><img src="/Portals/0/Images/portuguese-tiles/Relevo-e-Aresta-secXV-XVI.jpg"
							 alt="Relevo e Aresta"/></figure>
				<p>15<sup>th</sup>-16<sup>th</sup> century</p>

				<div class="info">
					<div>
						<h3>The decoration of Sintra National Palace and the dominant presence of the tile in Portugal
							under the
							influence of King Manuel I.</h3>
						<dl>
							<dt>Technique: Relief</dt>
							<dd>Moulds are used to mark motifs in relief in the tile body.</dd>
							<dt>Technique: Aresta</dt>
							<dd>Moulds are used to imprint&nbsp;<em>aresta</em>&nbsp;designs in raw clay. The <em>arestas</em>
								that
								are created allow the enamels to be kept separate during the firing process.
							</dd>
						</dl>
					</div>
				</div>
			</li>
			<li>
				<figure><img src="/Portals/0/Images/portuguese-tiles/Majolica-secXVI.jpg" alt="Majólica"/></figure>
				<p>16<sup>th</sup> century <span>(1<sup>st</sup> half)</span></p>

				<div class="info">
					<div>
						<h2>The beginnings of tile production in Portugal.</h2>
						<dl>
							<dt>Technique: Maj&oacute;lica</dt>
							<dd>A white base is applied to the tile, allowing it to be painted without the colours
								mixing.
							</dd>
						</dl>
					</div>
				</div>
			</li>
			<li>
				<figure><img src="/Portals/0/Images/portuguese-tiles/Maneirismo-secXVI.jpg" alt="Maneirismo"/></figure>
				<p>16<sup>th</sup> century <span>(2<sup>nd</sup> half)</span></p>

				<div class="info">
					<div>
						<h3>The arrival of ceramists and potters from Flanders. The definitive establishment of majolica
							techniques.</h3>

						<h3>The ceramic-making centres of Portugal are highly active.</h3>
						<dl>
							<dt>Mannerism</dt>
							<dd>Erudite compositions appear along with the first tiles to feature geometric compositions
								or plant
								motifs, specifically, diamond-point patterns.
							</dd>
						</dl>
					</div>
				</div>
			</li>
			<li>
				<figure><img src="/Portals/0/Images/portuguese-tiles/Reforma-da-Igreja-Catolica_secXVI.jpg"
							 alt="Reforma da Igreja Católica"/>
				</figure>
				<p>16<sup>th</sup> century <span>(last quarter)</span></p>

				<div class="info">
					<div>
						<dl>
							<dt>Reform of the Catholic Church</dt>
							<dd>The widespread creation of religious motifs painted on tile panels.</dd>
						</dl>
					</div>
				</div>
			</li>
			<li>
				<figure><img src="/Portals/0/Images/portuguese-tiles/Influencia-Oriental-Frontais-de-Altar-secXVII.jpg"
							 alt="Influência Oriental. Frontais de Altar"/></figure>
				<p>17<sup>th</sup> century <span>(1<sup>st</sup> half)</span></p>

				<div class="info">
					<div>
						<dl>
							<dt>Increase in Portuguese output</dt>
							<dd>Lisbon is considered to be the nation&rsquo;s largest tile-production centre.</dd>
							<dt>Eastern Influence</dt>
							<dd>Exotic flora and fauna and depictions of eastern spirituality.</dd>
							<dt>Altar Frontals</dt>
							<dd>Patterned tiles including the camellia pattern, chequered tiles and emblematic and
								hagiographic
								panels.
							</dd>
						</dl>
					</div>
				</div>
			</li>
			<li>
				<figure><img src="/Portals/0/Images/portuguese-tiles/Renovacao-Tematica-Barroco-XVII.jpg"
							 alt="Renovação Temática. Barroco"/>
				</figure>
				<p>17<sup>th</sup> century <span>(2<sup>nd</sup> half)</span></p>

				<div class="info">
					<div>
						<h3>End of the War of Restoration</h3>

						<h3>Construction and artistic renovation of Palaces</h3>
						<dl>
							<dt>Thematic Renovation</dt>
							<dd>Tiles are used as a means of expressing social criticism and in secular themes
								(classical
								mythology), representations of customs, <em>albarradas</em> (tiles depicting vases with
								flowers),
								free-standing figure tiles.
							</dd>
							<dt>Baroque</dt>
							<dd>Movement, expression, drama and complexity.</dd>
							<dt>Trends and Influences</dt>
							<dd>Cobalt-blue and manganese-violet Dutch tiles, large Chinese influenced, blue and white
								panels.
							</dd>
						</dl>
					</div>
				</div>
			</li>
			<li>
				<figure><img src="/Portals/0/Images/portuguese-tiles/Azulejaria-de-Autor-e-Figurativa_secXVII-XVIII.jpg"
							 alt="Azulejaria de autor e figurativa"/></figure>
				<p>17<sup>th</sup> - 18<sup>th</sup> century</p>

				<div class="info">
					<div>
						<h3>The era of artist-created tiles and figurative tiles.</h3>
						<dl>
							<dt>Tile painting is restricted to formally trained master craftsmen.</dt>
							<dd>Learning about perspective.</dd>
						</dl>
					</div>
				</div>
			</li>
			<li>
				<figure><img src="/Portals/0/Images/portuguese-tiles/Grande-Producao-Joanina-1725.jpg"
							 alt="Grande produção Joanina"/>
				</figure>
				<p>c. 1725</p>

				<div class="info">
					<div>
						<dl>
							<dt>Large-scale production in the era of King Jo&atilde;o V</dt>
							<dd>Sumptuosity, extroversion and theatricality in the court of Jo&atilde;o V.</dd>
						</dl>
						<p>Simplified storied parts, the use of decorative framings such as cut-out headpieces.</p>
					</div>
				</div>
			</li>
			<li>
				<figure><img src="/Portals/0/Images/portuguese-tiles/Rococo-Insinuacao-da-cor-1740.jpg"
							 alt="Rococó. Insinuação da cor."/>
				</figure>
				<p>c. 1740</p>

				<div class="info">
					<div>
						<dl>
							<dt>Rococo</dt>
							<dd>Framing becomes less important in compositions, decoration becomes less dense,
								asymmetric shell
								forms are used.
							</dd>
							<dt>Insinuation of Colour</dt>
							<dd>Yellow is used to suggest the gold of costumes and gilt woodwork sculpted to create a
								drapery
								effect.
							</dd>
						</dl>
					</div>
				</div>
			</li>
			<li>
				<figure><img src="/Portals/0/Images/portuguese-tiles/Pos-Terramoto-Azulejaria-Pombalina-1755-1780.jpg"
							 alt="Azulejaria Pombalina"/></figure>
				<p>1755-80</p>

				<div class="info">
					<div>
						<dl>
							<dt>Post-earthquake period</dt>
							<dd>Economic crisis and the need to rebuild Lisbon.<br/>
								Construction of the F&aacute;brica do Rato, the first mass-production unit, in 1767.
							</dd>
							<dt>Chromatic Explosion</dt>
							<dd>The reprise of the complete palette of colours.</dd>
							<dt>Pombaline tile-making</dt>
							<dd>Storied panels (depictions of facades or &lsquo;shrines&rsquo;), ornamental
								compositions, increased
								use of patterns.
							</dd>
						</dl>
					</div>
				</div>
			</li>
			<li>
				<figure><img src="/Portals/0/Images/portuguese-tiles/D_Maria-Neoclacissismo_1780-1808.jpg"
							 alt="Período D. Maria. Neoclacissismo"/></figure>
				<p>1780-1808</p>

				<div class="info">
					<div>
						<dl>
							<dt>Combination of industrial and artisanal techniques</dt>
							<dd>Stamping, mechanical stamping, high-relief, mechanical pressing.</dd>
							<dt>Queen Maria period<br/>
								Neo-classicism
							</dt>
							<dd>Severe lines and decorative refinement. The use of neo-classical elements, floral
								garlands, bows,
								feathers.
							</dd>
						</dl>
					</div>
				</div>
			</li>
			<li>
				<figure><img src="/Portals/0/Images/portuguese-tiles/Romantismo-Revivalismo-Fachadas-secXIX.jpg"
							 alt="Romantismo e Revivalismo. Fachadas de Azulejos"/></figure>
				<p>19<sup>th</sup> century</p>

				<div class="info">
					<div>
						<dl>
							<dt>Romanticism and Revivalism</dt>
							<dd>Storied panels and diverse patterns.</dd>
							<dt>Tile Facades</dt>
							<dd>The need for intensive tile production.<br/>
								New factories are set up in Lisbon, Porto and Aveiro.
							</dd>
						</dl>
					</div>
				</div>
			</li>
			<li>
				<figure><img src="/Portals/0/Images/portuguese-tiles/Rafael-Bordalo-Pinheiro-Paredes-secXX.jpg"
							 alt="Época de Rafel Bordalo Pinheiro. Paredes de Azulejos"/></figure>
				<p>20<sup>th</sup> century <span>(1<sup>st</sup> half)</span></p>

				<div class="info">
					<div>
						<dl>
							<dt>Trends and Influences:</dt>
							<dd>Historicism, Nationalism, Naturalism, Art Nouveau, Art Deco.</dd>
							<dt>The work of Rafael Bordalo Pinheiro.</dt>
							<dt>Tiled Walls</dt>
							<dd>Development of the practice of covering walls with industrially<br/>
								produced tiles.
							</dd>
						</dl>
					</div>
				</div>
			</li>
			<li>
				<figure><img src="/Portals/0/Images/portuguese-tiles/Uma-Nova-Abordagem-secXX.jpg"
							 alt="Uma nova abordagem"/></figure>
				<p>20<sup>th</sup> century <span>(2<sup>nd</sup> half)</span></p>

				<div class="info">
					<div>
						<dl>
							<dt>A new approach</dt>
							<dd>The emergence of new aesthetic proposals designed to integrate the tile into modern
								architecture and
								town-planning projects.
							</dd>
							<dt>Personalities:</dt>
							<dd>Jorge Barradas, Manuel Cargaleiro, Querubim Lapa, Maria Keil,<br/>
								Eduardo Nery.
							</dd>
						</dl>
					</div>
				</div>
			</li>
		</ol>

	</section>

</div>
