{{> nav_top_atelier }}

<div class="wrap">

	<section class="highlight-text centered smaller">
		<h2>Bespoke homewares and acessories.</h2>
		<a href="#" class="btn-default"><b>made to order pieces</b></a>
	</section>

	<section class="grid gut30 prod-list">
		
		<div class="mold c33 centered huge">

			<figure>
				<div class="prod-img-cont">
					<img src="/Portals/0/Images/atelier/pottery/Pottery-001.jpg" alt="Pottery 001"/>
				</div>
				<figcaption>
					<p>P001</p>
				</figcaption>
			</figure>

			<figure>
				<div class="prod-img-cont">
					<img src="/Portals/0/Images/atelier/pottery/Pottery-002.jpg" alt="Pottery 002"/>
				</div>
				<figcaption>
					<p>P002</p>
				</figcaption>
			</figure>

			<figure>
				<div class="prod-img-cont">
					<img src="/Portals/0/Images/atelier/pottery/Pottery-003.jpg" alt="Pottery 003"/>
				</div>
				<figcaption>
					<p>P003</p>
				</figcaption>
			</figure>

			<figure>
				<div class="prod-img-cont">
					<img src="/Portals/0/Images/atelier/pottery/Pottery-004.jpg" alt="Pottery 004"/>
				</div>
				<figcaption>
					<p>P004</p>
				</figcaption>
			</figure>

			<figure>
				<div class="prod-img-cont">
					<img src="/Portals/0/Images/atelier/pottery/Pottery-005.jpg" alt="Pottery 005"/>
				</div>
				<figcaption>
					<p>P005</p>
				</figcaption>
			</figure>

			<figure>
				<div class="prod-img-cont">
					<img src="/Portals/0/Images/atelier/pottery/Pottery-006.jpg" alt="Pottery 006"/>
				</div>
				<figcaption>
					<p>P006</p>
				</figcaption>
			</figure>

			<figure>
				<div class="prod-img-cont">
					<img src="/Portals/0/Images/atelier/pottery/Pottery-007.jpg" alt="Pottery 007"/>
				</div>
				<figcaption>
					<p>P007</p>
				</figcaption>
			</figure>

			<figure>
				<div class="prod-img-cont">
					<img src="/Portals/0/Images/atelier/pottery/Pottery-008.jpg" alt="Pottery 008"/>
				</div>
				<figcaption>
					<p>P008</p>
				</figcaption>
			</figure>

			<figure>
				<div class="prod-img-cont">
					<img src="/Portals/0/Images/atelier/pottery/Pottery-009.jpg" alt="Pottery 009"/>
				</div>
				<figcaption>
					<p>P009</p>
				</figcaption>
			</figure>

			<figure>
				<div class="prod-img-cont">
					<img src="/Portals/0/Images/atelier/pottery/Pottery-010.jpg" alt="Pottery 010"/>
				</div>
				<figcaption>
					<p>P010</p>
				</figcaption>
			</figure>

			<figure>
				<div class="prod-img-cont">
					<img src="/Portals/0/Images/atelier/pottery/Pottery-011.jpg" alt="Pottery 011"/>
				</div>
				<figcaption>
					<p>P011</p>
				</figcaption>
			</figure>

			<figure>
				<div class="prod-img-cont">
					<img src="/Portals/0/Images/atelier/pottery/Pottery-012.jpg" alt="Pottery 012"/>
				</div>
				<figcaption>
					<p>P012</p>
				</figcaption>
			</figure>

			<figure>
				<div class="prod-img-cont">
					<img src="/Portals/0/Images/atelier/pottery/Pottery-013.jpg" alt="Pottery 013"/>
				</div>
				<figcaption>
					<p>P013</p>
				</figcaption>
			</figure>

			<figure>
				<div class="prod-img-cont">
					<img src="/Portals/0/Images/atelier/pottery/Pottery-014.jpg" alt="Pottery 014"/>
				</div>
				<figcaption>
					<p>P014</p>
				</figcaption>
			</figure>

			<figure>
				<div class="prod-img-cont">
					<img src="/Portals/0/Images/atelier/pottery/Pottery-015.jpg" alt="Pottery 015"/>
				</div>
				<figcaption>
					<p>P015</p>
				</figcaption>
			</figure>

		</div>
	</section>

</div>