<script type="text/javascript">
	$(function(){
		new NewTerracotta.Gallery();
	});
</script>

<div class="wrap0">

	<section class="projects-list grid gut14">
		<div class="mold c33">
			<figure>
				<img src="/Portals/0/Images/projects/Bathroom-Handcrafted-Tiles-Esmerald-Lake.jpg" />
				<figcaption>
					<em>B074 Emerald Lake</em>
					<p class="tit">7x14 cm</p>
					<p class="stit">architecture © João Cassiano Santos</p>
				</figcaption>
			</figure>

			<figure>
				<img src="/Portals/0/Images/projects/Bathroom-Handcrafted-Tiles-Esmerald-Lake.jpg" />
				<figcaption>
					<em>B074 Emerald Lake</em>
					<p class="tit">7x14 cm</p>
					<p class="stit">architecture © João Cassiano Santos</p>
				</figcaption>
			</figure>

			<figure>
				<img src="/Portals/0/Images/projects/Bathroom-Handcrafted-Tiles-Esmerald-Lake.jpg" />
				<figcaption>
					<em>B074 Emerald Lake</em>
					<p class="tit">7x14 cm</p>
					<p class="stit">architecture © João Cassiano Santos</p>
				</figcaption>
			</figure>

			<figure>
				<img src="/Portals/0/Images/projects/Bathroom-Handcrafted-Tiles-Esmerald-Lake.jpg" />
				<figcaption>
					<em>B074 Emerald Lake</em>
					<p class="tit">7x14 cm</p>
					<p class="stit">architecture © João Cassiano Santos</p>
				</figcaption>
			</figure>

			<figure>
				<img src="/Portals/0/Images/projects/Bathroom-Handcrafted-Tiles-Esmerald-Lake.jpg" />
				<figcaption>
					<em>B074 Emerald Lake</em>
					<p class="tit">7x14 cm</p>
					<p class="stit">architecture © João Cassiano Santos</p>
				</figcaption>
			</figure>

			<figure>
				<img src="/Portals/0/Images/projects/Bathroom-Handcrafted-Tiles-Esmerald-Lake.jpg" />
				<figcaption>
					<em>B074 Emerald Lake</em>
					<p class="tit">7x14 cm</p>
					<p class="stit">architecture © João Cassiano Santos</p>
				</figcaption>
			</figure>

			<figure>
				<img src="/Portals/0/Images/projects/Bathroom-Handcrafted-Tiles-Esmerald-Lake.jpg" />
				<figcaption>
					<em>B074 Emerald Lake</em>
					<p class="tit">7x14 cm</p>
					<p class="stit">architecture © João Cassiano Santos</p>
				</figcaption>
			</figure>

			<figure>
				<img src="/Portals/0/Images/projects/Bathroom-Handcrafted-Tiles-Esmerald-Lake.jpg" />
				<figcaption>
					<em>B074 Emerald Lake</em>
					<p class="tit">7x14 cm</p>
					<p class="stit">architecture © João Cassiano Santos</p>
				</figcaption>
			</figure>

			<figure>
				<img src="/Portals/0/Images/projects/Bathroom-Handcrafted-Tiles-Esmerald-Lake.jpg" />
				<figcaption>
					<em>B074 Emerald Lake</em>
					<p class="tit">7x14 cm</p>
					<p class="stit">architecture © João Cassiano Santos</p>
				</figcaption>
			</figure>

			<figure>
				<img src="/Portals/0/Images/projects/Bathroom-Handcrafted-Tiles-Esmerald-Lake.jpg" />
				<figcaption>
					<em>B074 Emerald Lake</em>
					<p class="tit">7x14 cm</p>
					<p class="stit">architecture © João Cassiano Santos</p>
				</figcaption>
			</figure>

			<figure>
				<img src="/Portals/0/Images/projects/Bathroom-Handcrafted-Tiles-Esmerald-Lake.jpg" />
				<figcaption>
					<em>B074 Emerald Lake</em>
					<p class="tit">7x14 cm</p>
					<p class="stit">architecture © João Cassiano Santos</p>
				</figcaption>
			</figure>

			<figure>
				<img src="/Portals/0/Images/projects/Bathroom-Handcrafted-Tiles-Esmerald-Lake.jpg" />
				<figcaption>
					<em>B074 Emerald Lake</em>
					<p class="tit">7x14 cm</p>
					<p class="stit">architecture © João Cassiano Santos</p>
				</figcaption>
			</figure>

			<figure>
				<img src="/Portals/0/Images/projects/Bathroom-Handcrafted-Tiles-Esmerald-Lake.jpg" />
				<figcaption>
					<em>B074 Emerald Lake</em>
					<p class="tit">7x14 cm</p>
					<p class="stit">architecture © João Cassiano Santos</p>
				</figcaption>
			</figure>

		</div>

		<div class="proj-frame">
			<a href="javascript:void(null);" class="bt-close">Close</a>
			<a href="javascript:void(null);" class="fa fa-angle-left bt-prev"></a>
			<a href="javascript:void(null);" class="fa fa-angle-right bt-next"></a>
			<div class="cont">
				<figure>
					<div class="img"><img src="" alt=""></div>
					<div class="info">
						<em></em>
						<p class="tit"></p>
						<p class="stit"></p>
					</div>
				</figure>
			</div>
		</div>

	</section>



</div>