<div class="wrap0">

	<section class="projects-list grid gut14">
		<div class="mold c33">
			<figure>
				<img src="/Portals/0/Images/projects/Bathroom-Handcrafted-Tiles-Esmerald-Lake.jpg" />
				<figcaption>
					<em>B074 Emerald Lake</em>
					<p class="tit">7x14 cm</p>
					<p class="stit">architecture © João Cassiano Santos</p>
				</figcaption>
			</figure>

			<figure>
				<img src="/Portals/0/Images/projects/Bathroom-Handcrafted-Tiles-Esmerald-Lake.jpg" />
				<figcaption>
					<em>B074 Emerald Lake</em>
					<p class="tit">7x14 cm</p>
					<p class="stit">architecture © João Cassiano Santos</p>
				</figcaption>
			</figure>

			<figure>
				<img src="/Portals/0/Images/projects/Bathroom-Handcrafted-Tiles-Esmerald-Lake.jpg" />
				<figcaption>
					<em>B074 Emerald Lake</em>
					<p class="tit">7x14 cm</p>
					<p class="stit">architecture © João Cassiano Santos</p>
				</figcaption>
			</figure>

			<figure>
				<img src="/Portals/0/Images/projects/Bathroom-Handcrafted-Tiles-Esmerald-Lake.jpg" />
				<figcaption>
					<em>B074 Emerald Lake</em>
					<p class="tit">7x14 cm</p>
					<p class="stit">architecture © João Cassiano Santos</p>
				</figcaption>
			</figure>

			<figure>
				<img src="/Portals/0/Images/projects/Bathroom-Handcrafted-Tiles-Esmerald-Lake.jpg" />
				<figcaption>
					<em>B074 Emerald Lake</em>
					<p class="tit">7x14 cm</p>
					<p class="stit">architecture © João Cassiano Santos</p>
				</figcaption>
			</figure>

			<figure>
				<img src="/Portals/0/Images/projects/Bathroom-Handcrafted-Tiles-Esmerald-Lake.jpg" />
				<figcaption>
					<em>B074 Emerald Lake</em>
					<p class="tit">7x14 cm</p>
					<p class="stit">architecture © João Cassiano Santos</p>
				</figcaption>
			</figure>

			<figure>
				<img src="/Portals/0/Images/projects/Bathroom-Handcrafted-Tiles-Esmerald-Lake.jpg" />
				<figcaption>
					<em>B074 Emerald Lake</em>
					<p class="tit">7x14 cm</p>
					<p class="stit">architecture © João Cassiano Santos</p>
				</figcaption>
			</figure>

			<figure>
				<img src="/Portals/0/Images/projects/Bathroom-Handcrafted-Tiles-Esmerald-Lake.jpg" />
				<figcaption>
					<em>B074 Emerald Lake</em>
					<p class="tit">7x14 cm</p>
					<p class="stit">architecture © João Cassiano Santos</p>
				</figcaption>
			</figure>

			<figure>
				<img src="/Portals/0/Images/projects/Bathroom-Handcrafted-Tiles-Esmerald-Lake.jpg" />
				<figcaption>
					<em>B074 Emerald Lake</em>
					<p class="tit">7x14 cm</p>
					<p class="stit">architecture © João Cassiano Santos</p>
				</figcaption>
			</figure>

			<figure>
				<img src="/Portals/0/Images/projects/Bathroom-Handcrafted-Tiles-Esmerald-Lake.jpg" />
				<figcaption>
					<em>B074 Emerald Lake</em>
					<p class="tit">7x14 cm</p>
					<p class="stit">architecture © João Cassiano Santos</p>
				</figcaption>
			</figure>

			<figure>
				<img src="/Portals/0/Images/projects/Bathroom-Handcrafted-Tiles-Esmerald-Lake.jpg" />
				<figcaption>
					<em>B074 Emerald Lake</em>
					<p class="tit">7x14 cm</p>
					<p class="stit">architecture © João Cassiano Santos</p>
				</figcaption>
			</figure>

			<figure>
				<img src="/Portals/0/Images/projects/Bathroom-Handcrafted-Tiles-Esmerald-Lake.jpg" />
				<figcaption>
					<em>B074 Emerald Lake</em>
					<p class="tit">7x14 cm</p>
					<p class="stit">architecture © João Cassiano Santos</p>
				</figcaption>
			</figure>

			<figure>
				<img src="/Portals/0/Images/projects/Bathroom-Handcrafted-Tiles-Esmerald-Lake.jpg" />
				<figcaption>
					<em>B074 Emerald Lake</em>
					<p class="tit">7x14 cm</p>
					<p class="stit">architecture © João Cassiano Santos</p>
				</figcaption>
			</figure>

		</div>
	</section>

</div>