<script type="text/javascript">
	$( function () {
		new NewTerracotta.ColourStudies();
	} );
</script>

<main class="colour-studies">

	<a href="javascript:void(null)" class="bt-up"><span class="fa fa-angle-up"></span>MENU</a>

	<ul class="big-list">
		<li data-colourid="S050">
			<article>
				<div class="tit">
					<h2>Red Tomato Delicious</h2>
					<h3>#S050</h3>
				</div>
				<figure><img src="images/ColourStudies/Red-Tomato-Delicious-S050.jpg?w=860&h=257"
							 alt="Red Tomato Delicious - #S050"
				/></figure>
				<div class="like colour-month">
					<div class="cont">
						<div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-width="120"
							 data-layout="button_count" data-action="like" data-show-faces="true"
							 data-share="true"></div>
						<a href="http://www.pinterest.com/pin/create/button/?url=http%3A%2F%2Fwww.newterracotta.com%2Fen-us%2Fcolouring%2Fcolour-inspirations&media=http%3A%2F%2Fwww.newterracotta.com%2FPortals%2F0%2FImages%2FColourStudies%2FRed-Tomato-Delicious-S050.jpg&description=Red%20Tomato%20Delicious"
						   data-pin-do="buttonPin" data-pin-config="beside" data-pin-color="white"><img
								src="http://assets.pinterest.com/images/pidgets/pinit_fg_en_rect_white_20.png"/></a>
						<div class="ic ic-month">
							<div class="tooltip">Colour of the Month by Arqº Siza Vieira</div>
						</div>
					</div>
				</div>
			</article>
			<span class="bt-down fa fa-angle-down animated bounce"></span>
		</li>
		<li data-colourid="S030">
			<article>
				<div class="tit">
					<h2>So Eggplant</h2>
					<h3>#S030</h3>
				</div>
				<figure><img src="images/ColourStudies/So-Eggplant-S030.jpg" alt="So Eggplant - #S030"/></figure>
				<div class="like">
					<div class="cont">
						<div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-width="120"
							 data-layout="button_count" data-action="like" data-show-faces="true"
							 data-share="true"></div>
						<a href="http://www.pinterest.com/pin/create/button/?url=http%3A%2F%2Fwww.newterracotta.com%2Fen-us%2Fcolouring%2Fcolour-inspirations&media=http%3A%2F%2Fwww.newterracotta.com%2FPortals%2F0%2FImages%2FColourStudies%2FRed-Tomato-Delicious-S050.jpg&description=Red%20Tomato%20Delicious"
						   data-pin-do="buttonPin" data-pin-config="beside" data-pin-color="white"><img
								src="http://assets.pinterest.com/images/pidgets/pinit_fg_en_rect_white_20.png"/></a>
						<div class="ic ic-month">
							<div class="tooltip">Colour of the Month by Arqº Siza Vieira</div>
						</div>
					</div>
				</div>
			</article>
			<span class="bt-down fa fa-angle-down animated bounce"></span>
		</li>
		<li class="dark" data-colourid="S010">
			<article>
				<div class="tit">
					<h2>Orange Caviar</h2>
					<h3>#S010</h3>
				</div>
				<figure><img src="images/ColourStudies/Orange-Caviar-S010.jpg" alt="Orange Caviar - #S010"/></figure>
				<div class="like">
					<div class="cont">
						<div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-width="120"
							 data-layout="button_count" data-action="like" data-show-faces="true"
							 data-share="true"></div>
						<a href="http://www.pinterest.com/pin/create/button/?url=http%3A%2F%2Fwww.newterracotta.com%2Fen-us%2Fcolouring%2Fcolour-inspirations&media=http%3A%2F%2Fwww.newterracotta.com%2FPortals%2F0%2FImages%2FColourStudies%2FRed-Tomato-Delicious-S050.jpg&description=Red%20Tomato%20Delicious"
						   data-pin-do="buttonPin" data-pin-config="beside" data-pin-color="white"><img
								src="http://assets.pinterest.com/images/pidgets/pinit_fg_en_rect_white_20.png"/></a>
						<div class="ic ic-month">
							<div class="tooltip">Colour of the Month by Arqº Siza Vieira</div>
						</div>
					</div>
				</div>
			</article>
			<span class="bt-down fa fa-angle-down animated bounce"></span>
		</li>
		<li data-colourid="B618">
			<article>
				<div class="tit">
					<h2>Amazon Green</h2>
					<h3>#B618</h3>
				</div>
				<figure><img src="images/ColourStudies/Amazon-Green-B618.jpg" alt="Amazon Green - #B618"/></figure>
				<div class="like">
					<div class="cont">
						<div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-width="120"
							 data-layout="button_count" data-action="like" data-show-faces="true"
							 data-share="true"></div>
						<a href="http://www.pinterest.com/pin/create/button/?url=http%3A%2F%2Fwww.newterracotta.com%2Fen-us%2Fcolouring%2Fcolour-inspirations&media=http%3A%2F%2Fwww.newterracotta.com%2FPortals%2F0%2FImages%2FColourStudies%2FRed-Tomato-Delicious-S050.jpg&description=Red%20Tomato%20Delicious"
						   data-pin-do="buttonPin" data-pin-config="beside" data-pin-color="white"><img
								src="http://assets.pinterest.com/images/pidgets/pinit_fg_en_rect_white_20.png"/></a>
						<div class="ic ic-month">
							<div class="tooltip">Colour of the Month by Arqº Siza Vieira</div>
						</div>
					</div>
				</div>
			</article>
			<span class="bt-down fa fa-angle-down animated bounce"></span>
		</li>
		<li class="dark" data-colourid="B152">
			<article>
				<div class="tit">
					<h2>Blue Provence</h2>
					<h3>#B152</h3>
				</div>
				<figure><img src="images/ColourStudies/Blue-Provence-B152.jpg" alt="Blue Provence - #B152"/></figure>
				<div class="like">
					<div class="cont">
						<div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-width="120"
							 data-layout="button_count" data-action="like" data-show-faces="true"
							 data-share="true"></div>
						<a href="http://www.pinterest.com/pin/create/button/?url=http%3A%2F%2Fwww.newterracotta.com%2Fen-us%2Fcolouring%2Fcolour-inspirations&media=http%3A%2F%2Fwww.newterracotta.com%2FPortals%2F0%2FImages%2FColourStudies%2FRed-Tomato-Delicious-S050.jpg&description=Red%20Tomato%20Delicious"
						   data-pin-do="buttonPin" data-pin-config="beside" data-pin-color="white"><img
								src="http://assets.pinterest.com/images/pidgets/pinit_fg_en_rect_white_20.png"/></a>
						<div class="ic ic-month">
							<div class="tooltip">Colour of the Month by Arqº Siza Vieira</div>
						</div>
					</div>
				</div>
			</article>
			<span class="bt-down fa fa-angle-down animated bounce"></span>
		</li>
		<li class="dark" data-colourid="B151">
			<article>
				<div class="tit">
					<h2>Blue Fronteira</h2>
					<h3>#B151</h3>
				</div>
				<figure><img src="images/ColourStudies/Blue-Fronteira-B151.jpg" alt="Blue Fronteira - #B151"/></figure>
				<div class="like">
					<div class="cont">
						<div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-width="120"
							 data-layout="button_count" data-action="like" data-show-faces="true"
							 data-share="true"></div>
						<a href="http://www.pinterest.com/pin/create/button/?url=http%3A%2F%2Fwww.newterracotta.com%2Fen-us%2Fcolouring%2Fcolour-inspirations&media=http%3A%2F%2Fwww.newterracotta.com%2FPortals%2F0%2FImages%2FColourStudies%2FRed-Tomato-Delicious-S050.jpg&description=Red%20Tomato%20Delicious"
						   data-pin-do="buttonPin" data-pin-config="beside" data-pin-color="white"><img
								src="http://assets.pinterest.com/images/pidgets/pinit_fg_en_rect_white_20.png"/></a>
						<div class="ic ic-month">
							<div class="tooltip">Colour of the Month by Arqº Siza Vieira</div>
						</div>
					</div>
				</div>
			</article>
			<span class="bt-down fa fa-angle-down animated bounce"></span>
		</li>
		<li class="dark" data-colourid="B150">
			<article>
				<div class="tit">
					<h2>Fresh Salmon</h2>
					<h3>#B150</h3>
				</div>
				<figure><img src="images/ColourStudies/Fresh-Salmon-B150.jpg" alt="Fresh Salmon - #B150"/></figure>
				<div class="like">
					<div class="cont">
						<div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-width="120"
							 data-layout="button_count" data-action="like" data-show-faces="true"
							 data-share="true"></div>
						<a href="http://www.pinterest.com/pin/create/button/?url=http%3A%2F%2Fwww.newterracotta.com%2Fen-us%2Fcolouring%2Fcolour-inspirations&media=http%3A%2F%2Fwww.newterracotta.com%2FPortals%2F0%2FImages%2FColourStudies%2FRed-Tomato-Delicious-S050.jpg&description=Red%20Tomato%20Delicious"
						   data-pin-do="buttonPin" data-pin-config="beside" data-pin-color="white"><img
								src="http://assets.pinterest.com/images/pidgets/pinit_fg_en_rect_white_20.png"/></a>
						<div class="ic ic-month">
							<div class="tooltip">Colour of the Month by Arqº Siza Vieira</div>
						</div>
					</div>
				</div>
			</article>
			<span class="bt-down fa fa-angle-down animated bounce"></span>
		</li>
		<li data-colourid="B103">
			<article>
				<div class="tit">
					<h2>Pink Ballet</h2>
					<h3>#B103</h3>
				</div>
				<figure><img src="images/ColourStudies/Pink-Ballet-B103.jpg" alt="Pink Ballet - #B103"/></figure>
				<div class="like">
					<div class="cont">
						<div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-width="120"
							 data-layout="button_count" data-action="like" data-show-faces="true"
							 data-share="true"></div>
						<a href="http://www.pinterest.com/pin/create/button/?url=http%3A%2F%2Fwww.newterracotta.com%2Fen-us%2Fcolouring%2Fcolour-inspirations&media=http%3A%2F%2Fwww.newterracotta.com%2FPortals%2F0%2FImages%2FColourStudies%2FRed-Tomato-Delicious-S050.jpg&description=Red%20Tomato%20Delicious"
						   data-pin-do="buttonPin" data-pin-config="beside" data-pin-color="white"><img
								src="http://assets.pinterest.com/images/pidgets/pinit_fg_en_rect_white_20.png"/></a>
						<div class="ic ic-month">
							<div class="tooltip">Colour of the Month by Arqº Siza Vieira</div>
						</div>
					</div>
				</div>
			</article>
			<span class="bt-down fa fa-angle-down animated bounce"></span>
		</li>
		<li data-colourid="B088">
			<article>
				<div class="tit">
					<h2>Tempest Blue</h2>
					<h3>#B088</h3>
				</div>
				<figure><img src="images/ColourStudies/Tempest-Blue-B088.jpg" alt="Tempest Blue - #B088"/></figure>
				<div class="like">
					<div class="cont">
						<div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-width="120"
							 data-layout="button_count" data-action="like" data-show-faces="true"
							 data-share="true"></div>
						<a href="http://www.pinterest.com/pin/create/button/?url=http%3A%2F%2Fwww.newterracotta.com%2Fen-us%2Fcolouring%2Fcolour-inspirations&media=http%3A%2F%2Fwww.newterracotta.com%2FPortals%2F0%2FImages%2FColourStudies%2FRed-Tomato-Delicious-S050.jpg&description=Red%20Tomato%20Delicious"
						   data-pin-do="buttonPin" data-pin-config="beside" data-pin-color="white"><img
								src="http://assets.pinterest.com/images/pidgets/pinit_fg_en_rect_white_20.png"/></a>
						<div class="ic ic-month">
							<div class="tooltip">Colour of the Month by Arqº Siza Vieira</div>
						</div>
					</div>
				</div>
			</article>
			<span class="bt-down fa fa-angle-down animated bounce"></span>
		</li>
		<li data-colourid="B068">
			<article>
				<div class="tit">
					<h2>Crystal Blue Waters</h2>
					<h3>#B068</h3>
				</div>
				<figure><img src="images/ColourStudies/Crystal-Blue-Waters-B068.jpg" alt="Crystal Blue Waters - #B068"/>
				</figure>
				<div class="like">
					<div class="cont">
						<div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-width="120"
							 data-layout="button_count" data-action="like" data-show-faces="true"
							 data-share="true"></div>
						<a href="http://www.pinterest.com/pin/create/button/?url=http%3A%2F%2Fwww.newterracotta.com%2Fen-us%2Fcolouring%2Fcolour-inspirations&media=http%3A%2F%2Fwww.newterracotta.com%2FPortals%2F0%2FImages%2FColourStudies%2FRed-Tomato-Delicious-S050.jpg&description=Red%20Tomato%20Delicious"
						   data-pin-do="buttonPin" data-pin-config="beside" data-pin-color="white"><img
								src="http://assets.pinterest.com/images/pidgets/pinit_fg_en_rect_white_20.png"/></a>
						<div class="ic ic-month">
							<div class="tooltip">Colour of the Month by Arqº Siza Vieira</div>
						</div>
					</div>
				</div>
			</article>
			<span class="bt-down fa fa-angle-down animated bounce"></span>
		</li>
		<li class="dark" data-colourid="B067">
			<article>
				<div class="tit">
					<h2>Spearmint Spa</h2>
					<h3>#B067</h3>
				</div>
				<figure><img src="images/ColourStudies/Spearmint-Spa-B067.jpg" alt="Spearmint Spa - #B067"/></figure>
				<div class="like">
					<div class="cont">
						<div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-width="120"
							 data-layout="button_count" data-action="like" data-show-faces="true"
							 data-share="true"></div>
						<a href="http://www.pinterest.com/pin/create/button/?url=http%3A%2F%2Fwww.newterracotta.com%2Fen-us%2Fcolouring%2Fcolour-inspirations&media=http%3A%2F%2Fwww.newterracotta.com%2FPortals%2F0%2FImages%2FColourStudies%2FRed-Tomato-Delicious-S050.jpg&description=Red%20Tomato%20Delicious"
						   data-pin-do="buttonPin" data-pin-config="beside" data-pin-color="white"><img
								src="http://assets.pinterest.com/images/pidgets/pinit_fg_en_rect_white_20.png"/></a>
						<div class="ic ic-month">
							<div class="tooltip">Colour of the Month by Arqº Siza Vieira</div>
						</div>
					</div>
				</div>
			</article>
			<span class="bt-down fa fa-angle-down animated bounce"></span>
		</li>
		<li data-colourid="B065">
			<article>
				<div class="tit">
					<h2>Misty Blue</h2>
					<h3>#B065</h3>
				</div>
				<figure><img src="images/ColourStudies/Misty-Blue-B065.jpg" alt="Misty Blue - #B065"/></figure>
				<div class="like">
					<div class="cont">
						<div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-width="120"
							 data-layout="button_count" data-action="like" data-show-faces="true"
							 data-share="true"></div>
						<a href="http://www.pinterest.com/pin/create/button/?url=http%3A%2F%2Fwww.newterracotta.com%2Fen-us%2Fcolouring%2Fcolour-inspirations&media=http%3A%2F%2Fwww.newterracotta.com%2FPortals%2F0%2FImages%2FColourStudies%2FRed-Tomato-Delicious-S050.jpg&description=Red%20Tomato%20Delicious"
						   data-pin-do="buttonPin" data-pin-config="beside" data-pin-color="white"><img
								src="http://assets.pinterest.com/images/pidgets/pinit_fg_en_rect_white_20.png"/></a>
						<div class="ic ic-month">
							<div class="tooltip">Colour of the Month by Arqº Siza Vieira</div>
						</div>
					</div>
				</div>
			</article>
			<span class="bt-down fa fa-angle-down animated bounce"></span>
		</li>
		<li data-colourid="B055">
			<article>
				<div class="tit">
					<h2>Blue Sky</h2>
					<h3>#B055</h3>
				</div>
				<figure><img src="images/ColourStudies/Blue-Sky-B055.jpg" alt="Blue Sky - #B055"/></figure>
				<div class="like">
					<div class="cont">
						<div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-width="120"
							 data-layout="button_count" data-action="like" data-show-faces="true"
							 data-share="true"></div>
						<a href="http://www.pinterest.com/pin/create/button/?url=http%3A%2F%2Fwww.newterracotta.com%2Fen-us%2Fcolouring%2Fcolour-inspirations&media=http%3A%2F%2Fwww.newterracotta.com%2FPortals%2F0%2FImages%2FColourStudies%2FRed-Tomato-Delicious-S050.jpg&description=Red%20Tomato%20Delicious"
						   data-pin-do="buttonPin" data-pin-config="beside" data-pin-color="white"><img
								src="http://assets.pinterest.com/images/pidgets/pinit_fg_en_rect_white_20.png"/></a>
						<div class="ic ic-month">
							<div class="tooltip">Colour of the Month by Arqº Siza Vieira</div>
						</div>
					</div>
				</div>
			</article>
			<span class="bt-down fa fa-angle-down animated bounce"></span>
		</li>
		<li data-colourid="B053">
			<article>
				<div class="tit">
					<h2>Saffron Yellow</h2>
					<h3>#B053</h3>
				</div>
				<figure><img src="images/ColourStudies/Saffron-Yellow-B053.jpg" alt="Saffron Yellow - #B053"/></figure>
				<div class="like">
					<div class="cont">
						<div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-width="120"
							 data-layout="button_count" data-action="like" data-show-faces="true"
							 data-share="true"></div>
						<a href="http://www.pinterest.com/pin/create/button/?url=http%3A%2F%2Fwww.newterracotta.com%2Fen-us%2Fcolouring%2Fcolour-inspirations&media=http%3A%2F%2Fwww.newterracotta.com%2FPortals%2F0%2FImages%2FColourStudies%2FRed-Tomato-Delicious-S050.jpg&description=Red%20Tomato%20Delicious"
						   data-pin-do="buttonPin" data-pin-config="beside" data-pin-color="white"><img
								src="http://assets.pinterest.com/images/pidgets/pinit_fg_en_rect_white_20.png"/></a>
						<div class="ic ic-month">
							<div class="tooltip">Colour of the Month by Arqº Siza Vieira</div>
						</div>
					</div>
				</div>
			</article>
			<span class="bt-down fa fa-angle-down animated bounce"></span>
		</li>
		<li data-colourid="B051">
			<article>
				<div class="tit">
					<h2>Blue Dolphin</h2>
					<h3>#B051</h3>
				</div>
				<figure><img src="images/ColourStudies/Blue-Dolphin-B051.jpg" alt="Blue Dolphin - #B051"/></figure>
				<div class="like">
					<div class="cont">
						<div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-width="120"
							 data-layout="button_count" data-action="like" data-show-faces="true"
							 data-share="true"></div>
						<a href="http://www.pinterest.com/pin/create/button/?url=http%3A%2F%2Fwww.newterracotta.com%2Fen-us%2Fcolouring%2Fcolour-inspirations&media=http%3A%2F%2Fwww.newterracotta.com%2FPortals%2F0%2FImages%2FColourStudies%2FRed-Tomato-Delicious-S050.jpg&description=Red%20Tomato%20Delicious"
						   data-pin-do="buttonPin" data-pin-config="beside" data-pin-color="white"><img
								src="http://assets.pinterest.com/images/pidgets/pinit_fg_en_rect_white_20.png"/></a>
						<div class="ic ic-month">
							<div class="tooltip">Colour of the Month by Arqº Siza Vieira</div>
						</div>
					</div>
				</div>
			</article>
			<span class="bt-down fa fa-angle-down animated bounce"></span>
		</li>
		<li class="dark" data-colourid="B046">
			<article>
				<div class="tit">
					<h2>Green Mojito</h2>
					<h3>#B046</h3>
				</div>
				<figure><img src="images/ColourStudies/Green-Mojito-B046.jpg" alt="Green Mojito - #B046"/></figure>
				<div class="like">
					<div class="cont">
						<div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-width="120"
							 data-layout="button_count" data-action="like" data-show-faces="true"
							 data-share="true"></div>
						<a href="http://www.pinterest.com/pin/create/button/?url=http%3A%2F%2Fwww.newterracotta.com%2Fen-us%2Fcolouring%2Fcolour-inspirations&media=http%3A%2F%2Fwww.newterracotta.com%2FPortals%2F0%2FImages%2FColourStudies%2FRed-Tomato-Delicious-S050.jpg&description=Red%20Tomato%20Delicious"
						   data-pin-do="buttonPin" data-pin-config="beside" data-pin-color="white"><img
								src="http://assets.pinterest.com/images/pidgets/pinit_fg_en_rect_white_20.png"/></a>
						<div class="ic ic-month">
							<div class="tooltip">Colour of the Month by Arqº Siza Vieira</div>
						</div>
					</div>
				</div>
			</article>
			<span class="bt-down fa fa-angle-down animated bounce"></span>
		</li>
		<li data-colourid="B040">
			<article>
				<div class="tit">
					<h2>Forest Green</h2>
					<h3>#B040</h3>
				</div>
				<figure><img src="images/ColourStudies/Forest-Green-B040.jpg" alt="Forest Green - #B040"/></figure>
				<div class="like">
					<div class="cont">
						<div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-width="120"
							 data-layout="button_count" data-action="like" data-show-faces="true"
							 data-share="true"></div>
						<a href="http://www.pinterest.com/pin/create/button/?url=http%3A%2F%2Fwww.newterracotta.com%2Fen-us%2Fcolouring%2Fcolour-inspirations&media=http%3A%2F%2Fwww.newterracotta.com%2FPortals%2F0%2FImages%2FColourStudies%2FRed-Tomato-Delicious-S050.jpg&description=Red%20Tomato%20Delicious"
						   data-pin-do="buttonPin" data-pin-config="beside" data-pin-color="white"><img
								src="http://assets.pinterest.com/images/pidgets/pinit_fg_en_rect_white_20.png"/></a>
						<div class="ic ic-month">
							<div class="tooltip">Colour of the Month by Arqº Siza Vieira</div>
						</div>
					</div>
				</div>
			</article>
			<span class="bt-down fa fa-angle-down animated bounce"></span>
		</li>
		<li class="dark" data-colourid="B039">
			<article>
				<div class="tit">
					<h2>Shallow Waters</h2>
					<h3>#B039</h3>
				</div>
				<figure><img src="images/ColourStudies/Shallow-Waters-B039.jpg" alt="Shallow Waters - #B039"/></figure>
				<div class="like">
					<div class="cont">
						<div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-width="120"
							 data-layout="button_count" data-action="like" data-show-faces="true"
							 data-share="true"></div>
						<a href="http://www.pinterest.com/pin/create/button/?url=http%3A%2F%2Fwww.newterracotta.com%2Fen-us%2Fcolouring%2Fcolour-inspirations&media=http%3A%2F%2Fwww.newterracotta.com%2FPortals%2F0%2FImages%2FColourStudies%2FRed-Tomato-Delicious-S050.jpg&description=Red%20Tomato%20Delicious"
						   data-pin-do="buttonPin" data-pin-config="beside" data-pin-color="white"><img
								src="http://assets.pinterest.com/images/pidgets/pinit_fg_en_rect_white_20.png"/></a>
						<div class="ic ic-month">
							<div class="tooltip">Colour of the Month by Arqº Siza Vieira</div>
						</div>
					</div>
				</div>
			</article>
			<span class="bt-down fa fa-angle-down animated bounce"></span>
		</li>
		<li data-colourid="B037">
			<article>
				<div class="tit">
					<h2>Soft Lilac</h2>
					<h3>#B037</h3>
				</div>
				<figure><img src="images/ColourStudies/Soft-Lilac-B037.jpg" alt="Soft Lilac - #B037"/></figure>
				<div class="like">
					<div class="cont">
						<div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-width="120"
							 data-layout="button_count" data-action="like" data-show-faces="true"
							 data-share="true"></div>
						<a href="http://www.pinterest.com/pin/create/button/?url=http%3A%2F%2Fwww.newterracotta.com%2Fen-us%2Fcolouring%2Fcolour-inspirations&media=http%3A%2F%2Fwww.newterracotta.com%2FPortals%2F0%2FImages%2FColourStudies%2FRed-Tomato-Delicious-S050.jpg&description=Red%20Tomato%20Delicious"
						   data-pin-do="buttonPin" data-pin-config="beside" data-pin-color="white"><img
								src="http://assets.pinterest.com/images/pidgets/pinit_fg_en_rect_white_20.png"/></a>
						<div class="ic ic-month">
							<div class="tooltip">Colour of the Month by Arqº Siza Vieira</div>
						</div>
					</div>
				</div>
			</article>
			<span class="bt-down fa fa-angle-down animated bounce"></span>
		</li>
		<li data-colourid="B023">
			<article>
				<div class="tit">
					<h2>Lavander Violet Blue</h2>
					<h3>#B023</h3>
				</div>
				<figure><img src="images/ColourStudies/Lavander-Violet-Blue-B023.jpg"
							 alt="Lavander Violet Blue - #B023"/></figure>
				<div class="like">
					<div class="cont">
						<div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-width="120"
							 data-layout="button_count" data-action="like" data-show-faces="true"
							 data-share="true"></div>
						<a href="http://www.pinterest.com/pin/create/button/?url=http%3A%2F%2Fwww.newterracotta.com%2Fen-us%2Fcolouring%2Fcolour-inspirations&media=http%3A%2F%2Fwww.newterracotta.com%2FPortals%2F0%2FImages%2FColourStudies%2FRed-Tomato-Delicious-S050.jpg&description=Red%20Tomato%20Delicious"
						   data-pin-do="buttonPin" data-pin-config="beside" data-pin-color="white"><img
								src="http://assets.pinterest.com/images/pidgets/pinit_fg_en_rect_white_20.png"/></a>
						<div class="ic ic-month">
							<div class="tooltip">Colour of the Month by Arqº Siza Vieira</div>
						</div>
					</div>
				</div>
			</article>
			<span class="bt-down fa fa-angle-down animated bounce"></span>
		</li>
		<li data-colourid="B022">
			<article>
				<div class="tit">
					<h2>Mint Macaron</h2>
					<h3>#B022</h3>
				</div>
				<figure><img src="images/ColourStudies/Mint-Macaron-B022.jpg" alt="Mint Macaron - #B022"/></figure>
				<div class="like">
					<div class="cont">
						<div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-width="120"
							 data-layout="button_count" data-action="like" data-show-faces="true"
							 data-share="true"></div>
						<a href="http://www.pinterest.com/pin/create/button/?url=http%3A%2F%2Fwww.newterracotta.com%2Fen-us%2Fcolouring%2Fcolour-inspirations&media=http%3A%2F%2Fwww.newterracotta.com%2FPortals%2F0%2FImages%2FColourStudies%2FRed-Tomato-Delicious-S050.jpg&description=Red%20Tomato%20Delicious"
						   data-pin-do="buttonPin" data-pin-config="beside" data-pin-color="white"><img
								src="http://assets.pinterest.com/images/pidgets/pinit_fg_en_rect_white_20.png"/></a>
						<div class="ic ic-month">
							<div class="tooltip">Colour of the Month by Arqº Siza Vieira</div>
						</div>
					</div>
				</div>
			</article>
			<span class="bt-down fa fa-angle-down animated bounce"></span>
		</li>
		<li data-colourid="B011">
			<article>
				<div class="tit">
					<h2>Flamingo Pink</h2>
					<h3>#B011</h3>
				</div>
				<figure><img src="images/ColourStudies/Flamingo-Pink-B011.jpg" alt="Flamingo Pink - #B011"/></figure>
				<div class="like">
					<div class="cont">
						<div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-width="120"
							 data-layout="button_count" data-action="like" data-show-faces="true"
							 data-share="true"></div>
						<a href="http://www.pinterest.com/pin/create/button/?url=http%3A%2F%2Fwww.newterracotta.com%2Fen-us%2Fcolouring%2Fcolour-inspirations&media=http%3A%2F%2Fwww.newterracotta.com%2FPortals%2F0%2FImages%2FColourStudies%2FRed-Tomato-Delicious-S050.jpg&description=Red%20Tomato%20Delicious"
						   data-pin-do="buttonPin" data-pin-config="beside" data-pin-color="white"><img
								src="http://assets.pinterest.com/images/pidgets/pinit_fg_en_rect_white_20.png"/></a>
						<div class="ic ic-month">
							<div class="tooltip">Colour of the Month by Arqº Siza Vieira</div>
						</div>
					</div>
				</div>
			</article>
			<span class="bt-down fa fa-angle-down animated bounce"></span>
		</li>
		<li data-colourid="B001">
			<article>
				<div class="tit">
					<h2>Yellow Yolk</h2>
					<h3>#B001</h3>
				</div>
				<figure><img src="images/ColourStudies/Yellow-Yolk-B001.jpg" alt="Yellow Yolk - #B001"/></figure>
				<div class="like">
					<div class="cont">
						<div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-width="120"
							 data-layout="button_count" data-action="like" data-show-faces="true"
							 data-share="true"></div>
						<a href="http://www.pinterest.com/pin/create/button/?url=http%3A%2F%2Fwww.newterracotta.com%2Fen-us%2Fcolouring%2Fcolour-inspirations&media=http%3A%2F%2Fwww.newterracotta.com%2FPortals%2F0%2FImages%2FColourStudies%2FRed-Tomato-Delicious-S050.jpg&description=Red%20Tomato%20Delicious"
						   data-pin-do="buttonPin" data-pin-config="beside" data-pin-color="white"><img
								src="http://assets.pinterest.com/images/pidgets/pinit_fg_en_rect_white_20.png"/></a>
						<div class="ic ic-month">
							<div class="tooltip">Colour of the Month by Arqº Siza Vieira</div>
						</div>
					</div>
				</div>
			</article>
			<span class="bt-down fa fa-angle-down animated bounce"></span>
		</li>
	</ul>

</main>

