<div class="grid colour-grid">
	<ul class="mold">

		<li class="">
			<h3>Burnt Siena</h3>
			<h4>#B301</h4>
			<a id="dnn_ctr677_View_rptPaletteList_rptColourPalette_0_hlColourInfo_0" class="lk-info" href="/Portals/0/Documents/NWT_-_GLAZE_GUIDE.pdf" target="_blank">Glaze Guide</a>
			<a id="dnn_ctr677_View_rptPaletteList_rptColourPalette_0_hlColourStudies_0" class="lk-study" href="http://www.newterracotta.com/colouring/colour-inspirations/c/B301" target="_blank">Colour Inspiration</a>
			<figure>
				<img id="dnn_ctr677_View_rptPaletteList_rptColourPalette_0_imgColour_0" src="/Portals/0/Images/ColourPallete/BasicColours/Burnt-Siena-B301.jpg" alt="Burnt Siena - #B301 | Basic Colours">
				<figcaption>Burnt Siena #B301</figcaption>
			</figure>
			<dl>
				<dt><em>Finish.</em></dt>
				<dd>Glossy Solid</dd>
				<dt><em>Glaze Variation.</em></dt>
				<dd>Low</dd>
				<dt><em>Formulation Update.</em></dt>
				<dd>Jan 14</dd>
			</dl>
		</li>

		<li>
			<h3>Antique Rose Velvet</h3>
			<h4>#B110</h4>
			<a id="dnn_ctr677_View_rptPaletteList_rptColourPalette_0_hlColourInfo_1" class="lk-info" href="/Portals/0/Documents/NWT_-_GLAZE_GUIDE.pdf" target="_blank">Glaze Guide</a>
			<a id="dnn_ctr677_View_rptPaletteList_rptColourPalette_0_hlColourStudies_1" class="lk-study" href="http://www.newterracotta.com/colouring/colour-inspirations/c/B110" target="_blank">Colour Inspiration</a>
			<figure>
				<img id="dnn_ctr677_View_rptPaletteList_rptColourPalette_0_imgColour_1" src="/Portals/0/Images/ColourPallete/BasicColours/Antique-Rose-Velvet-B110.jpg" alt="Antique Rose Velvet - #B110 | Basic Colours">
				<figcaption>Antique Rose Velvet #B110</figcaption>
			</figure>
			<dl>
				<dt><em>Finish.</em></dt>
				<dd>Glossy Translucent</dd>
				<dt><em>Glaze Variation.</em></dt>
				<dd>Low</dd>
				<dt><em>Formulation Update.</em></dt>
				<dd>Jan 14</dd>
			</dl>
		</li>

		<li>
			<h3>Flamingo Pink</h3>
			<h4>#B011</h4>
			<a id="dnn_ctr677_View_rptPaletteList_rptColourPalette_0_hlColourInfo_2" class="lk-info" href="/Portals/0/Documents/NWT_-_GLAZE_GUIDE.pdf" target="_blank">Glaze Guide</a>
			<a id="dnn_ctr677_View_rptPaletteList_rptColourPalette_0_hlColourStudies_2" class="lk-study" href="http://www.newterracotta.com/colouring/colour-inspirations/c/B011" target="_blank">Colour Inspiration</a>
			<figure>
				<img id="dnn_ctr677_View_rptPaletteList_rptColourPalette_0_imgColour_2" src="/Portals/0/Images/ColourPallete/BasicColours/Flamingo-Pink-B011.jpg" alt="Flamingo Pink - #B011 | Basic Colours">
				<figcaption>Flamingo Pink #B011</figcaption>
			</figure>
			<dl>
				<dt><em>Finish.</em></dt>
				<dd>Glossy Translucent</dd>
				<dt><em>Glaze Variation.</em></dt>
				<dd>Moderate</dd>
				<dt><em>Formulation Update.</em></dt>
				<dd>Jan 14</dd>
			</dl>
		</li>

		<li>
			<h3>Pink Ballet</h3>
			<h4>#B103</h4>
			<a id="dnn_ctr677_View_rptPaletteList_rptColourPalette_0_hlColourInfo_3" class="lk-info" href="/Portals/0/Documents/NWT_-_GLAZE_GUIDE.pdf" target="_blank">Glaze Guide</a>
			<a id="dnn_ctr677_View_rptPaletteList_rptColourPalette_0_hlColourStudies_3" class="lk-study" href="http://www.newterracotta.com/colouring/colour-inspirations/c/B103" target="_blank">Colour Inspiration</a>
			<figure>
				<img id="dnn_ctr677_View_rptPaletteList_rptColourPalette_0_imgColour_3" src="/Portals/0/Images/ColourPallete/BasicColours/Pink-Ballet-B103.jpg" alt="Pink Ballet - #B103 | Basic Colours">
				<figcaption>Pink Ballet #B103</figcaption>
			</figure>
			<dl>
				<dt><em>Finish.</em></dt>
				<dd>Glossy Translucent</dd>
				<dt><em>Glaze Variation.</em></dt>
				<dd>Moderate</dd>
				<dt><em>Formulation Update.</em></dt>
				<dd>Jan 14</dd>
			</dl>
		</li>

		<li>
			<h3>Soft Lilac</h3>
			<h4>#B037</h4>
			<a id="dnn_ctr677_View_rptPaletteList_rptColourPalette_0_hlColourInfo_4" class="lk-info" href="/Portals/0/Documents/NWT_-_GLAZE_GUIDE.pdf" target="_blank">Glaze Guide</a>
			<a id="dnn_ctr677_View_rptPaletteList_rptColourPalette_0_hlColourStudies_4" class="lk-study" href="http://www.newterracotta.com/colouring/colour-inspirations/c/B037" target="_blank">Colour Inspiration</a>
			<figure>
				<img id="dnn_ctr677_View_rptPaletteList_rptColourPalette_0_imgColour_4" src="/Portals/0/Images/ColourPallete/BasicColours/Soft-Lilac-B037.jpg" alt="Soft Lilac - #B037 | Basic Colours">
				<figcaption>Soft Lilac #B037</figcaption>
			</figure>
			<dl>
				<dt><em>Finish.</em></dt>
				<dd>Glossy Translucent</dd>
				<dt><em>Glaze Variation.</em></dt>
				<dd>Low</dd>
				<dt><em>Formulation Update.</em></dt>
				<dd>Jan 14</dd>
			</dl>
		</li>

		<li>
			<h3>Fresh Salmon</h3>
			<h4>#B150</h4>
			<a id="dnn_ctr677_View_rptPaletteList_rptColourPalette_0_hlColourInfo_5" class="lk-info" href="/Portals/0/Documents/NWT_-_GLAZE_GUIDE.pdf" target="_blank">Glaze Guide</a>
			<a id="dnn_ctr677_View_rptPaletteList_rptColourPalette_0_hlColourStudies_5" class="lk-study" href="http://www.newterracotta.com/colouring/colour-inspirations/c/B150" target="_blank">Colour Inspiration</a>
			<figure>
				<img id="dnn_ctr677_View_rptPaletteList_rptColourPalette_0_imgColour_5" src="/Portals/0/Images/ColourPallete/BasicColours/Fresh-Salmon-B150.jpg" alt="Fresh Salmon - #B150 | Basic Colours">
				<figcaption>Fresh Salmon #B150</figcaption>
			</figure>
			<dl>
				<dt><em>Finish.</em></dt>
				<dd>Glossy Translucent</dd>
				<dt><em>Glaze Variation.</em></dt>
				<dd>Low</dd>
				<dt><em>Formulation Update.</em></dt>
				<dd>Jan 14</dd>
			</dl>
		</li>

		<li>
			<h3>Delicate Peach</h3>
			<h4>#B007</h4>
			<a id="dnn_ctr677_View_rptPaletteList_rptColourPalette_0_hlColourInfo_6" class="lk-info" href="/Portals/0/Documents/NWT_-_GLAZE_GUIDE.pdf" target="_blank">Glaze Guide</a>
			<a id="dnn_ctr677_View_rptPaletteList_rptColourPalette_0_hlColourStudies_6" class="lk-study" href="http://www.newterracotta.com/colouring/colour-inspirations/c/B007" target="_blank">Colour Inspiration</a>
			<figure>
				<img id="dnn_ctr677_View_rptPaletteList_rptColourPalette_0_imgColour_6" src="/Portals/0/Images/ColourPallete/BasicColours/Delicate-Peach-B007.jpg" alt="Delicate Peach - #B007 | Basic Colours">
				<figcaption>Delicate Peach #B007</figcaption>
			</figure>
			<dl>
				<dt><em>Finish.</em></dt>
				<dd>Glossy Translucent</dd>
				<dt><em>Glaze Variation.</em></dt>
				<dd>Moderate</dd>
				<dt><em>Formulation Update.</em></dt>
				<dd>Jan 14</dd>
			</dl>
		</li>

		<li>
			<h3>Lemon Tart</h3>
			<h4>#B092</h4>
			<a id="dnn_ctr677_View_rptPaletteList_rptColourPalette_0_hlColourInfo_7" class="lk-info" href="/Portals/0/Documents/NWT_-_GLAZE_GUIDE.pdf" target="_blank">Glaze Guide</a>
			<a id="dnn_ctr677_View_rptPaletteList_rptColourPalette_0_hlColourStudies_7" class="lk-study" href="http://www.newterracotta.com/colouring/colour-inspirations/c/B092" target="_blank">Colour Inspiration</a>
			<figure>
				<img id="dnn_ctr677_View_rptPaletteList_rptColourPalette_0_imgColour_7" src="/Portals/0/Images/ColourPallete/BasicColours/Lemon-Tart-B092.jpg" alt="Lemon Tart - #B092 | Basic Colours">
				<figcaption>Lemon Tart #B092</figcaption>
			</figure>
			<dl>
				<dt><em>Finish.</em></dt>
				<dd>Glossy Translucent</dd>
				<dt><em>Glaze Variation.</em></dt>
				<dd>Moderate</dd>
				<dt><em>Formulation Update.</em></dt>
				<dd>Jan 14</dd>
			</dl>
		</li>

		<li>
			<h3>Frozen Margarita</h3>
			<h4>#B113</h4>
			<a id="dnn_ctr677_View_rptPaletteList_rptColourPalette_0_hlColourInfo_8" class="lk-info" href="/Portals/0/Documents/NWT_-_GLAZE_GUIDE.pdf" target="_blank">Glaze Guide</a>
			<a id="dnn_ctr677_View_rptPaletteList_rptColourPalette_0_hlColourStudies_8" class="lk-study" href="http://www.newterracotta.com/colouring/colour-inspirations/c/B113" target="_blank">Colour Inspiration</a>
			<figure>
				<img id="dnn_ctr677_View_rptPaletteList_rptColourPalette_0_imgColour_8" src="/Portals/0/Images/ColourPallete/BasicColours/Frozen-Margarita-B113.jpg" alt="Frozen Margarita - #B113 | Basic Colours">
				<figcaption>Frozen Margarita #B113</figcaption>
			</figure>
			<dl>
				<dt><em>Finish.</em></dt>
				<dd>Glossy Translucent Craquelé</dd>
				<dt><em>Glaze Variation.</em></dt>
				<dd>Low</dd>
				<dt><em>Formulation Update.</em></dt>
				<dd>Jan 14</dd>
			</dl>
		</li>

		<li>
			<h3>Pikachu Yellow</h3>
			<h4>#B049</h4>
			<a id="dnn_ctr677_View_rptPaletteList_rptColourPalette_0_hlColourInfo_9" class="lk-info" href="/Portals/0/Documents/NWT_-_GLAZE_GUIDE.pdf" target="_blank">Glaze Guide</a>
			<a id="dnn_ctr677_View_rptPaletteList_rptColourPalette_0_hlColourStudies_9" class="lk-study" href="http://www.newterracotta.com/colouring/colour-inspirations/c/B049" target="_blank">Colour Inspiration</a>
			<figure>
				<img id="dnn_ctr677_View_rptPaletteList_rptColourPalette_0_imgColour_9" src="/Portals/0/Images/ColourPallete/BasicColours/Pikachu-Yellow-B049.jpg" alt="Pikachu Yellow - #B049 | Basic Colours">
				<figcaption>Pikachu Yellow #B049</figcaption>
			</figure>
			<dl>
				<dt><em>Finish.</em></dt>
				<dd>Glossy Translucent</dd>
				<dt><em>Glaze Variation.</em></dt>
				<dd>Low</dd>
				<dt><em>Formulation Update.</em></dt>
				<dd>Jan 14</dd>
			</dl>
		</li>

		<li>
			<h3>Yellow Yolk</h3>
			<h4>#B001</h4>
			<a id="dnn_ctr677_View_rptPaletteList_rptColourPalette_0_hlColourInfo_10" class="lk-info" href="/Portals/0/Documents/NWT_-_GLAZE_GUIDE.pdf" target="_blank">Glaze Guide</a>
			<a id="dnn_ctr677_View_rptPaletteList_rptColourPalette_0_hlColourStudies_10" class="lk-study" href="http://www.newterracotta.com/colouring/colour-inspirations/c/B001" target="_blank">Colour Inspiration</a>
			<figure>
				<img id="dnn_ctr677_View_rptPaletteList_rptColourPalette_0_imgColour_10" src="/Portals/0/Images/ColourPallete/BasicColours/Yellow-Yolk-B001.jpg" alt="Yellow Yolk - #B001 | Basic Colours">
				<figcaption>Yellow Yolk #B001</figcaption>
			</figure>
			<dl>
				<dt><em>Finish.</em></dt>
				<dd>Glossy Translucent</dd>
				<dt><em>Glaze Variation.</em></dt>
				<dd>Low</dd>
				<dt><em>Formulation Update.</em></dt>
				<dd>Jan 14</dd>
			</dl>
		</li>

		<li>
			<h3>Saffron Yellow</h3>
			<h4>#B053</h4>
			<a id="dnn_ctr677_View_rptPaletteList_rptColourPalette_0_hlColourInfo_11" class="lk-info" href="/Portals/0/Documents/NWT_-_GLAZE_GUIDE.pdf" target="_blank">Glaze Guide</a>
			<a id="dnn_ctr677_View_rptPaletteList_rptColourPalette_0_hlColourStudies_11" class="lk-study" href="http://www.newterracotta.com/colouring/colour-inspirations/c/B053" target="_blank">Colour Inspiration</a>
			<figure>
				<img id="dnn_ctr677_View_rptPaletteList_rptColourPalette_0_imgColour_11" src="/Portals/0/Images/ColourPallete/BasicColours/Saffron-Yellow-B053.jpg" alt="Saffron Yellow - #B053 | Basic Colours">
				<figcaption>Saffron Yellow #B053</figcaption>
			</figure>
			<dl>
				<dt><em>Finish.</em></dt>
				<dd>Glossy Translucent</dd>
				<dt><em>Glaze Variation.</em></dt>
				<dd>High</dd>
				<dt><em>Formulation Update.</em></dt>
				<dd>Jan 14</dd>
			</dl>
		</li>

		<li>
			<h3>Desert Bisque</h3>
			<h4>#B096</h4>
			<a id="dnn_ctr677_View_rptPaletteList_rptColourPalette_0_hlColourInfo_12" class="lk-info" href="/Portals/0/Documents/NWT_-_GLAZE_GUIDE.pdf" target="_blank">Glaze Guide</a>
			<a id="dnn_ctr677_View_rptPaletteList_rptColourPalette_0_hlColourStudies_12" class="lk-study" href="http://www.newterracotta.com/colouring/colour-inspirations/c/B096" target="_blank">Colour Inspiration</a>
			<figure>
				<img id="dnn_ctr677_View_rptPaletteList_rptColourPalette_0_imgColour_12" src="/Portals/0/Images/ColourPallete/BasicColours/Desert-Bisque-B096.jpg" alt="Desert Bisque - #B096 | Basic Colours">
				<figcaption>Desert Bisque #B096</figcaption>
			</figure>
			<dl>
				<dt><em>Finish.</em></dt>
				<dd>Glossy Translucent</dd>
				<dt><em>Glaze Variation.</em></dt>
				<dd>Moderate</dd>
				<dt><em>Formulation Update.</em></dt>
				<dd>Jan 14</dd>
			</dl>
		</li>

		<li>
			<h3>Water Bisque</h3>
			<h4>#B097</h4>
			<a id="dnn_ctr677_View_rptPaletteList_rptColourPalette_0_hlColourInfo_13" class="lk-info" href="/Portals/0/Documents/NWT_-_GLAZE_GUIDE.pdf" target="_blank">Glaze Guide</a>
			<a id="dnn_ctr677_View_rptPaletteList_rptColourPalette_0_hlColourStudies_13" class="lk-study" href="http://www.newterracotta.com/colouring/colour-inspirations/c/B097" target="_blank">Colour Inspiration</a>
			<figure>
				<img id="dnn_ctr677_View_rptPaletteList_rptColourPalette_0_imgColour_13" src="/Portals/0/Images/ColourPallete/BasicColours/Water-Bisque-B097.jpg" alt="Water Bisque - #B097 | Basic Colours">
				<figcaption>Water Bisque #B097</figcaption>
			</figure>
			<dl>
				<dt><em>Finish.</em></dt>
				<dd>Glossy Translucent Craquelé</dd>
				<dt><em>Glaze Variation.</em></dt>
				<dd>Moderate</dd>
				<dt><em>Formulation Update.</em></dt>
				<dd>Jan 14</dd>
			</dl>
		</li>

		<li>
			<h3>Sand Bisque</h3>
			<h4>#B059</h4>
			<a id="dnn_ctr677_View_rptPaletteList_rptColourPalette_0_hlColourInfo_14" class="lk-info" href="/Portals/0/Documents/NWT_-_GLAZE_GUIDE.pdf" target="_blank">Glaze Guide</a>
			<a id="dnn_ctr677_View_rptPaletteList_rptColourPalette_0_hlColourStudies_14" class="lk-study" href="http://www.newterracotta.com/colouring/colour-inspirations/c/B059" target="_blank">Colour Inspiration</a>
			<figure>
				<img id="dnn_ctr677_View_rptPaletteList_rptColourPalette_0_imgColour_14" src="/Portals/0/Images/ColourPallete/BasicColours/Sand-Bisque-B059.jpg" alt="Sand Bisque - #B059 | Basic Colours">
				<figcaption>Sand Bisque #B059</figcaption>
			</figure>
			<dl>
				<dt><em>Finish.</em></dt>
				<dd>Glossy Translucent</dd>
				<dt><em>Glaze Variation.</em></dt>
				<dd>Moderate</dd>
				<dt><em>Formulation Update.</em></dt>
				<dd>Jan 14</dd>
			</dl>
		</li>

		<li>
			<h3>Creme Caramel</h3>
			<h4>#B054</h4>
			<a id="dnn_ctr677_View_rptPaletteList_rptColourPalette_0_hlColourInfo_15" class="lk-info" href="/Portals/0/Documents/NWT_-_GLAZE_GUIDE.pdf" target="_blank">Glaze Guide</a>
			<a id="dnn_ctr677_View_rptPaletteList_rptColourPalette_0_hlColourStudies_15" class="lk-study" href="http://www.newterracotta.com/colouring/colour-inspirations/c/B054" target="_blank">Colour Inspiration</a>
			<figure>
				<img id="dnn_ctr677_View_rptPaletteList_rptColourPalette_0_imgColour_15" src="/Portals/0/Images/ColourPallete/BasicColours/Creme-Caramel-B054.jpg" alt="Creme Caramel - #B054 | Basic Colours">
				<figcaption>Creme Caramel #B054</figcaption>
			</figure>
			<dl>
				<dt><em>Finish.</em></dt>
				<dd>Glossy Translucent</dd>
				<dt><em>Glaze Variation.</em></dt>
				<dd>Moderate</dd>
				<dt><em>Formulation Update.</em></dt>
				<dd>Jan 14</dd>
			</dl>
		</li>

		<li>
			<h3>Brown Beer Bottle</h3>
			<h4>#B057</h4>
			<a id="dnn_ctr677_View_rptPaletteList_rptColourPalette_0_hlColourInfo_16" class="lk-info" href="/Portals/0/Documents/NWT_-_GLAZE_GUIDE.pdf" target="_blank">Glaze Guide</a>
			<a id="dnn_ctr677_View_rptPaletteList_rptColourPalette_0_hlColourStudies_16" class="lk-study" href="http://www.newterracotta.com/colouring/colour-inspirations/c/B057" target="_blank">Colour Inspiration</a>
			<figure>
				<img id="dnn_ctr677_View_rptPaletteList_rptColourPalette_0_imgColour_16" src="/Portals/0/Images/ColourPallete/BasicColours/Brown-Beer-Bottle-B057.jpg" alt="Brown Beer Bottle - #B057 | Basic Colours">
				<figcaption>Brown Beer Bottle #B057</figcaption>
			</figure>
			<dl>
				<dt><em>Finish.</em></dt>
				<dd>Glossy Translucent</dd>
				<dt><em>Glaze Variation.</em></dt>
				<dd>Moderate</dd>
				<dt><em>Formulation Update.</em></dt>
				<dd>Jan 14</dd>
			</dl>
		</li>

		<li>
			<h3>Vanilla Cream</h3>
			<h4>#B020</h4>
			<a id="dnn_ctr677_View_rptPaletteList_rptColourPalette_0_hlColourInfo_17" class="lk-info" href="/Portals/0/Documents/NWT_-_GLAZE_GUIDE.pdf" target="_blank">Glaze Guide</a>
			<a id="dnn_ctr677_View_rptPaletteList_rptColourPalette_0_hlColourStudies_17" class="lk-study" href="http://www.newterracotta.com/colouring/colour-inspirations/c/B020" target="_blank">Colour Inspiration</a>
			<figure>
				<img id="dnn_ctr677_View_rptPaletteList_rptColourPalette_0_imgColour_17" src="/Portals/0/Images/ColourPallete/BasicColours/Vanilla-Cream-B020.jpg" alt="Vanilla Cream - #B020 | Basic Colours">
				<figcaption>Vanilla Cream #B020</figcaption>
			</figure>
			<dl>
				<dt><em>Finish.</em></dt>
				<dd>Glossy Translucent Craquelé</dd>
				<dt><em>Glaze Variation.</em></dt>
				<dd>Low</dd>
				<dt><em>Formulation Update.</em></dt>
				<dd>Jan 14</dd>
			</dl>
		</li>

		<li>
			<h3>Oyster Mushroom White</h3>
			<h4>#B025</h4>
			<a id="dnn_ctr677_View_rptPaletteList_rptColourPalette_0_hlColourInfo_18" class="lk-info" href="/Portals/0/Documents/NWT_-_GLAZE_GUIDE.pdf" target="_blank">Glaze Guide</a>
			<a id="dnn_ctr677_View_rptPaletteList_rptColourPalette_0_hlColourStudies_18" class="lk-study" href="http://www.newterracotta.com/colouring/colour-inspirations/c/B025" target="_blank">Colour Inspiration</a>
			<figure>
				<img id="dnn_ctr677_View_rptPaletteList_rptColourPalette_0_imgColour_18" src="/Portals/0/Images/ColourPallete/BasicColours/Oyster-Mushroom-White-B025.jpg" alt="Oyster Mushroom White - #B025 | Basic Colours">
				<figcaption>Oyster Mushroom White #B025</figcaption>
			</figure>
			<dl>
				<dt><em>Finish.</em></dt>
				<dd>Glossy Translucent Craquelé</dd>
				<dt><em>Glaze Variation.</em></dt>
				<dd>Low</dd>
				<dt><em>Formulation Update.</em></dt>
				<dd>Jan 14</dd>
			</dl>
		</li>

		<li>
			<h3>Giraffe Print</h3>
			<h4>#B202</h4>
			<a id="dnn_ctr677_View_rptPaletteList_rptColourPalette_0_hlColourInfo_19" class="lk-info" href="/Portals/0/Documents/NWT_-_GLAZE_GUIDE.pdf" target="_blank">Glaze Guide</a>
			<a id="dnn_ctr677_View_rptPaletteList_rptColourPalette_0_hlColourStudies_19" class="lk-study" href="http://www.newterracotta.com/colouring/colour-inspirations/c/B202" target="_blank">Colour Inspiration</a>
			<figure>
				<img id="dnn_ctr677_View_rptPaletteList_rptColourPalette_0_imgColour_19" src="/Portals/0/Images/ColourPallete/BasicColours/Giraffe-Print-B202.jpg" alt="Giraffe Print - #B202 | Basic Colours">
				<figcaption>Giraffe Print #B202</figcaption>
			</figure>
			<dl>
				<dt><em>Finish.</em></dt>
				<dd>Satin to Glossy Solid Craquelé</dd>
				<dt><em>Glaze Variation.</em></dt>
				<dd>Moderate</dd>
				<dt><em>Formulation Update.</em></dt>
				<dd>Jan 14</dd>
			</dl>
		</li>

		<li>
			<h3>Eggshell White</h3>
			<h4>#B002</h4>
			<a id="dnn_ctr677_View_rptPaletteList_rptColourPalette_0_hlColourInfo_20" class="lk-info" href="/Portals/0/Documents/NWT_-_GLAZE_GUIDE.pdf" target="_blank">Glaze Guide</a>
			<a id="dnn_ctr677_View_rptPaletteList_rptColourPalette_0_hlColourStudies_20" class="lk-study" href="http://www.newterracotta.com/colouring/colour-inspirations/c/B002" target="_blank">Colour Inspiration</a>
			<figure>
				<img id="dnn_ctr677_View_rptPaletteList_rptColourPalette_0_imgColour_20" src="/Portals/0/Images/ColourPallete/BasicColours/Eggshell-White-B002.jpg" alt="Eggshell White - #B002 | Basic Colours">
				<figcaption>Eggshell White #B002</figcaption>
			</figure>
			<dl>
				<dt><em>Finish.</em></dt>
				<dd>Satin to Glossy Solid</dd>
				<dt><em>Glaze Variation.</em></dt>
				<dd>Low</dd>
				<dt><em>Formulation Update.</em></dt>
				<dd>Jan 14</dd>
			</dl>
		</li>

		<li>
			<h3>Penguin White</h3>
			<h4>#B090</h4>
			<a id="dnn_ctr677_View_rptPaletteList_rptColourPalette_0_hlColourInfo_21" class="lk-info" href="/Portals/0/Documents/NWT_-_GLAZE_GUIDE.pdf" target="_blank">Glaze Guide</a>
			<a id="dnn_ctr677_View_rptPaletteList_rptColourPalette_0_hlColourStudies_21" class="lk-study" href="http://www.newterracotta.com/colouring/colour-inspirations/c/B090" target="_blank">Colour Inspiration</a>
			<figure>
				<img id="dnn_ctr677_View_rptPaletteList_rptColourPalette_0_imgColour_21" src="/Portals/0/Images/ColourPallete/BasicColours/Penguin-White-B090.jpg" alt="Penguin White - #B090 | Basic Colours">
				<figcaption>Penguin White #B090</figcaption>
			</figure>
			<dl>
				<dt><em>Finish.</em></dt>
				<dd>Satin to Glossy Solid</dd>
				<dt><em>Glaze Variation.</em></dt>
				<dd>Low</dd>
				<dt><em>Formulation Update.</em></dt>
				<dd>Jan 14</dd>
			</dl>
		</li>

		<li>
			<h3>Transparent White</h3>
			<h4>#B190</h4>
			<a id="dnn_ctr677_View_rptPaletteList_rptColourPalette_0_hlColourInfo_22" class="lk-info" href="/Portals/0/Documents/NWT_-_GLAZE_GUIDE.pdf" target="_blank">Glaze Guide</a>
			<a id="dnn_ctr677_View_rptPaletteList_rptColourPalette_0_hlColourStudies_22" class="lk-study" href="http://www.newterracotta.com/colouring/colour-inspirations/c/B190" target="_blank">Colour Inspiration</a>
			<figure>
				<img id="dnn_ctr677_View_rptPaletteList_rptColourPalette_0_imgColour_22" src="/Portals/0/Images/ColourPallete/BasicColours/Transparent-White-B190.jpg" alt="Transparent White - #B190 | Basic Colours">
				<figcaption>Transparent White #B190</figcaption>
			</figure>
			<dl>
				<dt><em>Finish.</em></dt>
				<dd>Glossy Translucent Craquelé</dd>
				<dt><em>Glaze Variation.</em></dt>
				<dd>Low</dd>
				<dt><em>Formulation Update.</em></dt>
				<dd>Jan 14</dd>
			</dl>
		</li>

		<li>
			<h3>Minimal White</h3>
			<h4>#B091</h4>
			<a id="dnn_ctr677_View_rptPaletteList_rptColourPalette_0_hlColourInfo_23" class="lk-info" href="/Portals/0/Documents/NWT_-_GLAZE_GUIDE.pdf" target="_blank">Glaze Guide</a>
			<a id="dnn_ctr677_View_rptPaletteList_rptColourPalette_0_hlColourStudies_23" class="lk-study" href="http://www.newterracotta.com/colouring/colour-inspirations/c/B091" target="_blank">Colour Inspiration</a>
			<figure>
				<img id="dnn_ctr677_View_rptPaletteList_rptColourPalette_0_imgColour_23" src="/Portals/0/Images/ColourPallete/BasicColours/Minimal-White-B091.jpg" alt="Minimal White - #B091 | Basic Colours">
				<figcaption>Minimal White #B091</figcaption>
			</figure>
			<dl>
				<dt><em>Finish.</em></dt>
				<dd>Glossy Solid</dd>
				<dt><em>Glaze Variation.</em></dt>
				<dd>Low</dd>
				<dt><em>Formulation Update.</em></dt>
				<dd>Jan 14</dd>
			</dl>
		</li>

		<li>
			<h3>Ice Grey White</h3>
			<h4>#B042</h4>
			<a id="dnn_ctr677_View_rptPaletteList_rptColourPalette_0_hlColourInfo_24" class="lk-info" href="/Portals/0/Documents/NWT_-_GLAZE_GUIDE.pdf" target="_blank">Glaze Guide</a>
			<a id="dnn_ctr677_View_rptPaletteList_rptColourPalette_0_hlColourStudies_24" class="lk-study" href="http://www.newterracotta.com/colouring/colour-inspirations/c/B042" target="_blank">Colour Inspiration</a>
			<figure>
				<img id="dnn_ctr677_View_rptPaletteList_rptColourPalette_0_imgColour_24" src="/Portals/0/Images/ColourPallete/BasicColours/Ice-Grey-White-B042.jpg" alt="Ice Grey White - #B042 | Basic Colours">
				<figcaption>Ice Grey White #B042</figcaption>
			</figure>
			<dl>
				<dt><em>Finish.</em></dt>
				<dd>Glossy Solid</dd>
				<dt><em>Glaze Variation.</em></dt>
				<dd>Low</dd>
				<dt><em>Formulation Update.</em></dt>
				<dd>Jan 14</dd>
			</dl>
		</li>

		<li>
			<h3>So Sweet Teal</h3>
			<h4>#B705</h4>
			<a id="dnn_ctr677_View_rptPaletteList_rptColourPalette_0_hlColourInfo_25" class="lk-info" href="/Portals/0/Documents/NWT_-_GLAZE_GUIDE.pdf" target="_blank">Glaze Guide</a>
			<a id="dnn_ctr677_View_rptPaletteList_rptColourPalette_0_hlColourStudies_25" class="lk-study" href="http://www.newterracotta.com/colouring/colour-inspirations/c/B705" target="_blank">Colour Inspiration</a>
			<figure>
				<img id="dnn_ctr677_View_rptPaletteList_rptColourPalette_0_imgColour_25" src="/Portals/0/Images/ColourPallete/BasicColours/So-Sweet-Teal-B705.jpg" alt="So Sweet Teal - #B705 | Basic Colours">
				<figcaption>So Sweet Teal #B705</figcaption>
			</figure>
			<dl>
				<dt><em>Finish.</em></dt>
				<dd>Glossy Solid</dd>
				<dt><em>Glaze Variation.</em></dt>
				<dd>Low</dd>
				<dt><em>Formulation Update.</em></dt>
				<dd>Jan 14</dd>
			</dl>
		</li>

		<li>
			<h3>Jet Set Black</h3>
			<h4>#B012</h4>
			<a id="dnn_ctr677_View_rptPaletteList_rptColourPalette_0_hlColourInfo_26" class="lk-info" href="/Portals/0/Documents/NWT_-_GLAZE_GUIDE.pdf" target="_blank">Glaze Guide</a>
			<a id="dnn_ctr677_View_rptPaletteList_rptColourPalette_0_hlColourStudies_26" class="lk-study" href="http://www.newterracotta.com/colouring/colour-inspirations/c/B012" target="_blank">Colour Inspiration</a>
			<figure>
				<img id="dnn_ctr677_View_rptPaletteList_rptColourPalette_0_imgColour_26" src="/Portals/0/Images/ColourPallete/BasicColours/Jet-Set-Black-B012.jpg" alt="Jet Set Black - #B012 | Basic Colours">
				<figcaption>Jet Set Black #B012</figcaption>
			</figure>
			<dl>
				<dt><em>Finish.</em></dt>
				<dd>Glossy Solid</dd>
				<dt><em>Glaze Variation.</em></dt>
				<dd>Low</dd>
				<dt><em>Formulation Update.</em></dt>
				<dd>Jan 14</dd>
			</dl>
		</li>

		<li>
			<h3>Charcoal Grey</h3>
			<h4>#B028</h4>
			<a id="dnn_ctr677_View_rptPaletteList_rptColourPalette_0_hlColourInfo_27" class="lk-info" href="/Portals/0/Documents/NWT_-_GLAZE_GUIDE.pdf" target="_blank">Glaze Guide</a>
			<a id="dnn_ctr677_View_rptPaletteList_rptColourPalette_0_hlColourStudies_27" class="lk-study" href="http://www.newterracotta.com/colouring/colour-inspirations/c/B028" target="_blank">Colour Inspiration</a>
			<figure>
				<img id="dnn_ctr677_View_rptPaletteList_rptColourPalette_0_imgColour_27" src="/Portals/0/Images/ColourPallete/BasicColours/Charcoal-Grey-B028.jpg" alt="Charcoal Grey - #B028 | Basic Colours">
				<figcaption>Charcoal Grey #B028</figcaption>
			</figure>
			<dl>
				<dt><em>Finish.</em></dt>
				<dd>Glossy Solid</dd>
				<dt><em>Glaze Variation.</em></dt>
				<dd>Moderate</dd>
				<dt><em>Formulation Update.</em></dt>
				<dd>Jan 14</dd>
			</dl>
		</li>

		<li>
			<h3>Elephant Grey</h3>
			<h4>#B029</h4>
			<a id="dnn_ctr677_View_rptPaletteList_rptColourPalette_0_hlColourInfo_28" class="lk-info" href="/Portals/0/Documents/NWT_-_GLAZE_GUIDE.pdf" target="_blank">Glaze Guide</a>
			<a id="dnn_ctr677_View_rptPaletteList_rptColourPalette_0_hlColourStudies_28" class="lk-study" href="http://www.newterracotta.com/colouring/colour-inspirations/c/B029" target="_blank">Colour Inspiration</a>
			<figure>
				<img id="dnn_ctr677_View_rptPaletteList_rptColourPalette_0_imgColour_28" src="/Portals/0/Images/ColourPallete/BasicColours/Elephant-Grey-B029.jpg" alt="Elephant Grey - #B029 | Basic Colours">
				<figcaption>Elephant Grey #B029</figcaption>
			</figure>
			<dl>
				<dt><em>Finish.</em></dt>
				<dd>Glossy Translucent</dd>
				<dt><em>Glaze Variation.</em></dt>
				<dd>Low</dd>
				<dt><em>Formulation Update.</em></dt>
				<dd>Jan 14</dd>
			</dl>
		</li>

		<li>
			<h3>French Grey</h3>
			<h4>#B043</h4>
			<a id="dnn_ctr677_View_rptPaletteList_rptColourPalette_0_hlColourInfo_29" class="lk-info" href="/Portals/0/Documents/NWT_-_GLAZE_GUIDE.pdf" target="_blank">Glaze Guide</a>
			<a id="dnn_ctr677_View_rptPaletteList_rptColourPalette_0_hlColourStudies_29" class="lk-study" href="http://www.newterracotta.com/colouring/colour-inspirations/c/B043" target="_blank">Colour Inspiration</a>
			<figure>
				<img id="dnn_ctr677_View_rptPaletteList_rptColourPalette_0_imgColour_29" src="/Portals/0/Images/ColourPallete/BasicColours/French-Grey-B043.jpg" alt="French Grey - #B043 | Basic Colours">
				<figcaption>French Grey #B043</figcaption>
			</figure>
			<dl>
				<dt><em>Finish.</em></dt>
				<dd>Glossy Solid</dd>
				<dt><em>Glaze Variation.</em></dt>
				<dd>Low</dd>
				<dt><em>Formulation Update.</em></dt>
				<dd>Jan 14</dd>
			</dl>
		</li>

		<li>
			<h3>Ocean Surf</h3>
			<h4>#B083</h4>
			<a id="dnn_ctr677_View_rptPaletteList_rptColourPalette_0_hlColourInfo_30" class="lk-info" href="/Portals/0/Documents/NWT_-_GLAZE_GUIDE.pdf" target="_blank">Glaze Guide</a>
			<a id="dnn_ctr677_View_rptPaletteList_rptColourPalette_0_hlColourStudies_30" class="lk-study" href="http://www.newterracotta.com/colouring/colour-inspirations/c/B083" target="_blank">Colour Inspiration</a>
			<figure>
				<img id="dnn_ctr677_View_rptPaletteList_rptColourPalette_0_imgColour_30" src="/Portals/0/Images/ColourPallete/BasicColours/Ocean-Surf-B083.jpg" alt="Ocean Surf - #B083 | Basic Colours">
				<figcaption>Ocean Surf #B083</figcaption>
			</figure>
			<dl>
				<dt><em>Finish.</em></dt>
				<dd>Glossy Translucent</dd>
				<dt><em>Glaze Variation.</em></dt>
				<dd>Moderate</dd>
				<dt><em>Formulation Update.</em></dt>
				<dd>Jan 14</dd>
			</dl>
		</li>

		<li>
			<h3>Tempest Blue</h3>
			<h4>#B088</h4>
			<a id="dnn_ctr677_View_rptPaletteList_rptColourPalette_0_hlColourInfo_31" class="lk-info" href="/Portals/0/Documents/NWT_-_GLAZE_GUIDE.pdf" target="_blank">Glaze Guide</a>
			<a id="dnn_ctr677_View_rptPaletteList_rptColourPalette_0_hlColourStudies_31" class="lk-study" href="http://www.newterracotta.com/colouring/colour-inspirations/c/B088" target="_blank">Colour Inspiration</a>
			<figure>
				<img id="dnn_ctr677_View_rptPaletteList_rptColourPalette_0_imgColour_31" src="/Portals/0/Images/ColourPallete/BasicColours/Tempest-Blue-B088.jpg" alt="Tempest Blue - #B088 | Basic Colours">
				<figcaption>Tempest Blue #B088</figcaption>
			</figure>
			<dl>
				<dt><em>Finish.</em></dt>
				<dd>Glossy Translucent</dd>
				<dt><em>Glaze Variation.</em></dt>
				<dd>Moderate</dd>
				<dt><em>Formulation Update.</em></dt>
				<dd>Jan 14</dd>
			</dl>
		</li>

		<li>
			<h3>Blue Fronteira</h3>
			<h4>#B151</h4>
			<a id="dnn_ctr677_View_rptPaletteList_rptColourPalette_0_hlColourInfo_32" class="lk-info" href="/Portals/0/Documents/NWT_-_GLAZE_GUIDE.pdf" target="_blank">Glaze Guide</a>
			<a id="dnn_ctr677_View_rptPaletteList_rptColourPalette_0_hlColourStudies_32" class="lk-study" href="http://www.newterracotta.com/colouring/colour-inspirations/c/B151" target="_blank">Colour Inspiration</a>
			<figure>
				<img id="dnn_ctr677_View_rptPaletteList_rptColourPalette_0_imgColour_32" src="/Portals/0/Images/ColourPallete/BasicColours/Blue-Fronteira-B151.jpg" alt="Blue Fronteira - #B151 | Basic Colours">
				<figcaption>Blue Fronteira #B151</figcaption>
			</figure>
			<dl>
				<dt><em>Finish.</em></dt>
				<dd>Satin to Glossy Solid</dd>
				<dt><em>Glaze Variation.</em></dt>
				<dd>Low</dd>
				<dt><em>Formulation Update.</em></dt>
				<dd>Jan 14</dd>
			</dl>
		</li>

		<li>
			<h3>Blue Dolphin</h3>
			<h4>#B051</h4>
			<a id="dnn_ctr677_View_rptPaletteList_rptColourPalette_0_hlColourInfo_33" class="lk-info" href="/Portals/0/Documents/NWT_-_GLAZE_GUIDE.pdf" target="_blank">Glaze Guide</a>
			<a id="dnn_ctr677_View_rptPaletteList_rptColourPalette_0_hlColourStudies_33" class="lk-study" href="http://www.newterracotta.com/colouring/colour-inspirations/c/B051" target="_blank">Colour Inspiration</a>
			<figure>
				<img id="dnn_ctr677_View_rptPaletteList_rptColourPalette_0_imgColour_33" src="/Portals/0/Images/ColourPallete/BasicColours/Blue-Dolphin-B051.jpg" alt="Blue Dolphin - #B051 | Basic Colours">
				<figcaption>Blue Dolphin #B051</figcaption>
			</figure>
			<dl>
				<dt><em>Finish.</em></dt>
				<dd>Glossy Translucent</dd>
				<dt><em>Glaze Variation.</em></dt>
				<dd>Low</dd>
				<dt><em>Formulation Update.</em></dt>
				<dd>Jan 14</dd>
			</dl>
		</li>

		<li>
			<h3>Blue Provence</h3>
			<h4>#B152</h4>
			<a id="dnn_ctr677_View_rptPaletteList_rptColourPalette_0_hlColourInfo_34" class="lk-info" href="/Portals/0/Documents/NWT_-_GLAZE_GUIDE.pdf" target="_blank">Glaze Guide</a>
			<a id="dnn_ctr677_View_rptPaletteList_rptColourPalette_0_hlColourStudies_34" class="lk-study" href="http://www.newterracotta.com/colouring/colour-inspirations/c/B152" target="_blank">Colour Inspiration</a>
			<figure>
				<img id="dnn_ctr677_View_rptPaletteList_rptColourPalette_0_imgColour_34" src="/Portals/0/Images/ColourPallete/BasicColours/Blue-Provence-B152.jpg" alt="Blue Provence - #B152 | Basic Colours">
				<figcaption>Blue Provence #B152</figcaption>
			</figure>
			<dl>
				<dt><em>Finish.</em></dt>
				<dd>Satin to Glossy Solid</dd>
				<dt><em>Glaze Variation.</em></dt>
				<dd>Low</dd>
				<dt><em>Formulation Update.</em></dt>
				<dd>Jan 14</dd>
			</dl>
		</li>

		<li>
			<h3>Midnight Indigo</h3>
			<h4>#B017</h4>
			<a id="dnn_ctr677_View_rptPaletteList_rptColourPalette_0_hlColourInfo_35" class="lk-info" href="/Portals/0/Documents/NWT_-_GLAZE_GUIDE.pdf" target="_blank">Glaze Guide</a>
			<a id="dnn_ctr677_View_rptPaletteList_rptColourPalette_0_hlColourStudies_35" class="lk-study" href="http://www.newterracotta.com/colouring/colour-inspirations/c/B017" target="_blank">Colour Inspiration</a>
			<figure>
				<img id="dnn_ctr677_View_rptPaletteList_rptColourPalette_0_imgColour_35" src="/Portals/0/Images/ColourPallete/BasicColours/Midnight-Indigo-B017.jpg" alt="Midnight Indigo - #B017 | Basic Colours">
				<figcaption>Midnight Indigo #B017</figcaption>
			</figure>
			<dl>
				<dt><em>Finish.</em></dt>
				<dd>Satin to Glossy Solid</dd>
				<dt><em>Glaze Variation.</em></dt>
				<dd>Moderate</dd>
				<dt><em>Formulation Update.</em></dt>
				<dd>Jan 14</dd>
			</dl>
		</li>

		<li>
			<h3>Chicago Cobalt Blue</h3>
			<h4>#B014</h4>
			<a id="dnn_ctr677_View_rptPaletteList_rptColourPalette_0_hlColourInfo_36" class="lk-info" href="/Portals/0/Documents/NWT_-_GLAZE_GUIDE.pdf" target="_blank">Glaze Guide</a>
			<a id="dnn_ctr677_View_rptPaletteList_rptColourPalette_0_hlColourStudies_36" class="lk-study" href="http://www.newterracotta.com/colouring/colour-inspirations/c/B014" target="_blank">Colour Inspiration</a>
			<figure>
				<img id="dnn_ctr677_View_rptPaletteList_rptColourPalette_0_imgColour_36" src="/Portals/0/Images/ColourPallete/BasicColours/Chicago-Cobalt-Blue-B014.jpg" alt="Chicago Cobalt Blue - #B014 | Basic Colours">
				<figcaption>Chicago Cobalt Blue #B014</figcaption>
			</figure>
			<dl>
				<dt><em>Finish.</em></dt>
				<dd>Satin to Glossy Solid</dd>
				<dt><em>Glaze Variation.</em></dt>
				<dd>Moderate</dd>
				<dt><em>Formulation Update.</em></dt>
				<dd>Jan 14</dd>
			</dl>
		</li>

		<li>
			<h3>Electric Blue</h3>
			<h4>#B069</h4>
			<a id="dnn_ctr677_View_rptPaletteList_rptColourPalette_0_hlColourInfo_37" class="lk-info" href="/Portals/0/Documents/NWT_-_GLAZE_GUIDE.pdf" target="_blank">Glaze Guide</a>
			<a id="dnn_ctr677_View_rptPaletteList_rptColourPalette_0_hlColourStudies_37" class="lk-study" href="http://www.newterracotta.com/colouring/colour-inspirations/c/B069" target="_blank">Colour Inspiration</a>
			<figure>
				<img id="dnn_ctr677_View_rptPaletteList_rptColourPalette_0_imgColour_37" src="/Portals/0/Images/ColourPallete/BasicColours/Electric-Blue-B069.jpg" alt="Electric Blue - #B069 | Basic Colours">
				<figcaption>Electric Blue #B069</figcaption>
			</figure>
			<dl>
				<dt><em>Finish.</em></dt>
				<dd>Glossy Translucent</dd>
				<dt><em>Glaze Variation.</em></dt>
				<dd>Low</dd>
				<dt><em>Formulation Update.</em></dt>
				<dd>Jan 14</dd>
			</dl>
		</li>

		<li>
			<h3>Lavender Violet Blue</h3>
			<h4>#B023</h4>
			<a id="dnn_ctr677_View_rptPaletteList_rptColourPalette_0_hlColourInfo_38" class="lk-info" href="/Portals/0/Documents/NWT_-_GLAZE_GUIDE.pdf" target="_blank">Glaze Guide</a>
			<a id="dnn_ctr677_View_rptPaletteList_rptColourPalette_0_hlColourStudies_38" class="lk-study" href="http://www.newterracotta.com/colouring/colour-inspirations/c/B023" target="_blank">Colour Inspiration</a>
			<figure>
				<img id="dnn_ctr677_View_rptPaletteList_rptColourPalette_0_imgColour_38" src="/Portals/0/Images/ColourPallete/BasicColours/Lavender-Violet-Blue-B023.jpg" alt="Lavender Violet Blue - #B023 | Basic Colours">
				<figcaption>Lavender Violet Blue #B023</figcaption>
			</figure>
			<dl>
				<dt><em>Finish.</em></dt>
				<dd>Glossy Translucent</dd>
				<dt><em>Glaze Variation.</em></dt>
				<dd>Moderate</dd>
				<dt><em>Formulation Update.</em></dt>
				<dd>Jan 14</dd>
			</dl>
		</li>

		<li>
			<h3>Transparent Violet</h3>
			<h4>#B061</h4>
			<a id="dnn_ctr677_View_rptPaletteList_rptColourPalette_0_hlColourInfo_39" class="lk-info" href="/Portals/0/Documents/NWT_-_GLAZE_GUIDE.pdf" target="_blank">Glaze Guide</a>
			<a id="dnn_ctr677_View_rptPaletteList_rptColourPalette_0_hlColourStudies_39" class="lk-study" href="http://www.newterracotta.com/colouring/colour-inspirations/c/B061" target="_blank">Colour Inspiration</a>
			<figure>
				<img id="dnn_ctr677_View_rptPaletteList_rptColourPalette_0_imgColour_39" src="/Portals/0/Images/ColourPallete/BasicColours/Transparent-Violet-B061.jpg" alt="Transparent Violet - #B061 | Basic Colours">
				<figcaption>Transparent Violet #B061</figcaption>
			</figure>
			<dl>
				<dt><em>Finish.</em></dt>
				<dd>Glossy Translucent Craquelé</dd>
				<dt><em>Glaze Variation.</em></dt>
				<dd>Moderate</dd>
				<dt><em>Formulation Update.</em></dt>
				<dd>Jan 14</dd>
			</dl>
		</li>

		<li>
			<h3>Blue Sky</h3>
			<h4>#B055</h4>
			<a id="dnn_ctr677_View_rptPaletteList_rptColourPalette_0_hlColourInfo_40" class="lk-info" href="/Portals/0/Documents/NWT_-_GLAZE_GUIDE.pdf" target="_blank">Glaze Guide</a>
			<a id="dnn_ctr677_View_rptPaletteList_rptColourPalette_0_hlColourStudies_40" class="lk-study" href="http://www.newterracotta.com/colouring/colour-inspirations/c/B055" target="_blank">Colour Inspiration</a>
			<figure>
				<img id="dnn_ctr677_View_rptPaletteList_rptColourPalette_0_imgColour_40" src="/Portals/0/Images/ColourPallete/BasicColours/Blue-Sky-B055.jpg" alt="Blue Sky - #B055 | Basic Colours">
				<figcaption>Blue Sky #B055</figcaption>
			</figure>
			<dl>
				<dt><em>Finish.</em></dt>
				<dd>Glossy Translucent</dd>
				<dt><em>Glaze Variation.</em></dt>
				<dd>Low</dd>
				<dt><em>Formulation Update.</em></dt>
				<dd>Jan 14</dd>
			</dl>
		</li>

		<li>
			<h3>Misty Blue</h3>
			<h4>#B065</h4>
			<a id="dnn_ctr677_View_rptPaletteList_rptColourPalette_0_hlColourInfo_41" class="lk-info" href="/Portals/0/Documents/NWT_-_GLAZE_GUIDE.pdf" target="_blank">Glaze Guide</a>
			<a id="dnn_ctr677_View_rptPaletteList_rptColourPalette_0_hlColourStudies_41" class="lk-study" href="http://www.newterracotta.com/colouring/colour-inspirations/c/B065" target="_blank">Colour Inspiration</a>
			<figure>
				<img id="dnn_ctr677_View_rptPaletteList_rptColourPalette_0_imgColour_41" src="/Portals/0/Images/ColourPallete/BasicColours/Misty-Blue-B065.jpg" alt="Misty Blue - #B065 | Basic Colours">
				<figcaption>Misty Blue #B065</figcaption>
			</figure>
			<dl>
				<dt><em>Finish.</em></dt>
				<dd>Glossy Translucent Craquelé</dd>
				<dt><em>Glaze Variation.</em></dt>
				<dd>Moderate</dd>
				<dt><em>Formulation Update.</em></dt>
				<dd>Jan 14</dd>
			</dl>
		</li>

		<li>
			<h3>Paradise Turquoise</h3>
			<h4>#B071</h4>
			<a id="dnn_ctr677_View_rptPaletteList_rptColourPalette_0_hlColourInfo_42" class="lk-info" href="/Portals/0/Documents/NWT_-_GLAZE_GUIDE.pdf" target="_blank">Glaze Guide</a>
			<a id="dnn_ctr677_View_rptPaletteList_rptColourPalette_0_hlColourStudies_42" class="lk-study" href="http://www.newterracotta.com/colouring/colour-inspirations/c/B071" target="_blank">Colour Inspiration</a>
			<figure>
				<img id="dnn_ctr677_View_rptPaletteList_rptColourPalette_0_imgColour_42" src="/Portals/0/Images/ColourPallete/BasicColours/Paradise-Turquoise-B071.jpg" alt="Paradise Turquoise - #B071 | Basic Colours">
				<figcaption>Paradise Turquoise #B071</figcaption>
			</figure>
			<dl>
				<dt><em>Finish.</em></dt>
				<dd>Glossy Translucent Craquelé</dd>
				<dt><em>Glaze Variation.</em></dt>
				<dd>Moderate</dd>
				<dt><em>Formulation Update.</em></dt>
				<dd>Jan 14</dd>
			</dl>
		</li>

		<li>
			<h3>Ultramarine Sea</h3>
			<h4>#B075</h4>
			<a id="dnn_ctr677_View_rptPaletteList_rptColourPalette_0_hlColourInfo_43" class="lk-info" href="/Portals/0/Documents/NWT_-_GLAZE_GUIDE.pdf" target="_blank">Glaze Guide</a>
			<a id="dnn_ctr677_View_rptPaletteList_rptColourPalette_0_hlColourStudies_43" class="lk-study" href="http://www.newterracotta.com/colouring/colour-inspirations/c/B075" target="_blank">Colour Inspiration</a>
			<figure>
				<img id="dnn_ctr677_View_rptPaletteList_rptColourPalette_0_imgColour_43" src="/Portals/0/Images/ColourPallete/BasicColours/Ultramarine-Sea-B075.jpg" alt="Ultramarine Sea - #B075 | Basic Colours">
				<figcaption>Ultramarine Sea #B075</figcaption>
			</figure>
			<dl>
				<dt><em>Finish.</em></dt>
				<dd>Glossy Translucent Craquelé</dd>
				<dt><em>Glaze Variation.</em></dt>
				<dd>High</dd>
				<dt><em>Formulation Update.</em></dt>
				<dd>Jan 14</dd>
			</dl>
		</li>

		<li>
			<h3>Emerald Lake</h3>
			<h4>#B074</h4>
			<a id="dnn_ctr677_View_rptPaletteList_rptColourPalette_0_hlColourInfo_44" class="lk-info" href="/Portals/0/Documents/NWT_-_GLAZE_GUIDE.pdf" target="_blank">Glaze Guide</a>
			<a id="dnn_ctr677_View_rptPaletteList_rptColourPalette_0_hlColourStudies_44" class="lk-study" href="http://www.newterracotta.com/colouring/colour-inspirations/c/B074" target="_blank">Colour Inspiration</a>
			<figure>
				<img id="dnn_ctr677_View_rptPaletteList_rptColourPalette_0_imgColour_44" src="/Portals/0/Images/ColourPallete/BasicColours/Emerald-Lake-B074.jpg" alt="Emerald Lake - #B074 | Basic Colours">
				<figcaption>Emerald Lake #B074</figcaption>
			</figure>
			<dl>
				<dt><em>Finish.</em></dt>
				<dd>Glossy Translucent</dd>
				<dt><em>Glaze Variation.</em></dt>
				<dd>Moderate</dd>
				<dt><em>Formulation Update.</em></dt>
				<dd>Jan 14</dd>
			</dl>
		</li>

		<li>
			<h3>Forest Green</h3>
			<h4>#B040</h4>
			<a id="dnn_ctr677_View_rptPaletteList_rptColourPalette_0_hlColourInfo_45" class="lk-info" href="/Portals/0/Documents/NWT_-_GLAZE_GUIDE.pdf" target="_blank">Glaze Guide</a>
			<a id="dnn_ctr677_View_rptPaletteList_rptColourPalette_0_hlColourStudies_45" class="lk-study" href="http://www.newterracotta.com/colouring/colour-inspirations/c/B040" target="_blank">Colour Inspiration</a>
			<figure>
				<img id="dnn_ctr677_View_rptPaletteList_rptColourPalette_0_imgColour_45" src="/Portals/0/Images/ColourPallete/BasicColours/Forest-Green-B040.jpg" alt="Forest Green - #B040 | Basic Colours">
				<figcaption>Forest Green #B040</figcaption>
			</figure>
			<dl>
				<dt><em>Finish.</em></dt>
				<dd>Glossy Translucent</dd>
				<dt><em>Glaze Variation.</em></dt>
				<dd>Moderate</dd>
				<dt><em>Formulation Update.</em></dt>
				<dd>Jan 14</dd>
			</dl>
		</li>

		<li>
			<h3>Shallow Waters</h3>
			<h4>#B039</h4>
			<a id="dnn_ctr677_View_rptPaletteList_rptColourPalette_0_hlColourInfo_46" class="lk-info" href="/Portals/0/Documents/NWT_-_GLAZE_GUIDE.pdf" target="_blank">Glaze Guide</a>
			<a id="dnn_ctr677_View_rptPaletteList_rptColourPalette_0_hlColourStudies_46" class="lk-study" href="http://www.newterracotta.com/colouring/colour-inspirations/c/B039" target="_blank">Colour Inspiration</a>
			<figure>
				<img id="dnn_ctr677_View_rptPaletteList_rptColourPalette_0_imgColour_46" src="/Portals/0/Images/ColourPallete/BasicColours/Shallow-Waters-B039.jpg" alt="Shallow Waters - #B039 | Basic Colours">
				<figcaption>Shallow Waters #B039</figcaption>
			</figure>
			<dl>
				<dt><em>Finish.</em></dt>
				<dd>Glossy Translucent Craquelé</dd>
				<dt><em>Glaze Variation.</em></dt>
				<dd>High</dd>
				<dt><em>Formulation Update.</em></dt>
				<dd>Jan 14</dd>
			</dl>
		</li>

		<li>
			<h3>Spearmint Spa</h3>
			<h4>#B067</h4>
			<a id="dnn_ctr677_View_rptPaletteList_rptColourPalette_0_hlColourInfo_47" class="lk-info" href="/Portals/0/Documents/NWT_-_GLAZE_GUIDE.pdf" target="_blank">Glaze Guide</a>
			<a id="dnn_ctr677_View_rptPaletteList_rptColourPalette_0_hlColourStudies_47" class="lk-study" href="http://www.newterracotta.com/colouring/colour-inspirations/c/B067" target="_blank">Colour Inspiration</a>
			<figure>
				<img id="dnn_ctr677_View_rptPaletteList_rptColourPalette_0_imgColour_47" src="/Portals/0/Images/ColourPallete/BasicColours/Spearmint-Spa-B067.jpg" alt="Spearmint Spa - #B067 | Basic Colours">
				<figcaption>Spearmint Spa #B067</figcaption>
			</figure>
			<dl>
				<dt><em>Finish.</em></dt>
				<dd>Glossy Translucent Craquelé</dd>
				<dt><em>Glaze Variation.</em></dt>
				<dd>High</dd>
				<dt><em>Formulation Update.</em></dt>
				<dd>Jan 14</dd>
			</dl>
		</li>

		<li>
			<h3>Crystal Blue Waters</h3>
			<h4>#B068</h4>
			<a id="dnn_ctr677_View_rptPaletteList_rptColourPalette_0_hlColourInfo_48" class="lk-info" href="/Portals/0/Documents/NWT_-_GLAZE_GUIDE.pdf" target="_blank">Glaze Guide</a>
			<a id="dnn_ctr677_View_rptPaletteList_rptColourPalette_0_hlColourStudies_48" class="lk-study" href="http://www.newterracotta.com/colouring/colour-inspirations/c/B068" target="_blank">Colour Inspiration</a>
			<figure>
				<img id="dnn_ctr677_View_rptPaletteList_rptColourPalette_0_imgColour_48" src="/Portals/0/Images/ColourPallete/BasicColours/Crystal-Blue-Waters-B068.jpg" alt="Crystal Blue Waters - #B068 | Basic Colours">
				<figcaption>Crystal Blue Waters #B068</figcaption>
			</figure>
			<dl>
				<dt><em>Finish.</em></dt>
				<dd>Glossy Translucent Craquelé</dd>
				<dt><em>Glaze Variation.</em></dt>
				<dd>Moderate</dd>
				<dt><em>Formulation Update.</em></dt>
				<dd>Jan 14</dd>
			</dl>
		</li>

		<li>
			<h3>Mint Macaron</h3>
			<h4>#B022</h4>
			<a id="dnn_ctr677_View_rptPaletteList_rptColourPalette_0_hlColourInfo_49" class="lk-info" href="/Portals/0/Documents/NWT_-_GLAZE_GUIDE.pdf" target="_blank">Glaze Guide</a>
			<a id="dnn_ctr677_View_rptPaletteList_rptColourPalette_0_hlColourStudies_49" class="lk-study" href="http://www.newterracotta.com/colouring/colour-inspirations/c/B022" target="_blank">Colour Inspiration</a>
			<figure>
				<img id="dnn_ctr677_View_rptPaletteList_rptColourPalette_0_imgColour_49" src="/Portals/0/Images/ColourPallete/BasicColours/Mint-Macaron-B022.jpg" alt="Mint Macaron - #B022 | Basic Colours">
				<figcaption>Mint Macaron #B022</figcaption>
			</figure>
			<dl>
				<dt><em>Finish.</em></dt>
				<dd>Glossy Translucent Craquelé</dd>
				<dt><em>Glaze Variation.</em></dt>
				<dd>Moderate</dd>
				<dt><em>Formulation Update.</em></dt>
				<dd>Jan 14</dd>
			</dl>
		</li>

		<li>
			<h3>British Racing Green</h3>
			<h4>#B700</h4>
			<a id="dnn_ctr677_View_rptPaletteList_rptColourPalette_0_hlColourInfo_50" class="lk-info" href="/Portals/0/Documents/NWT_-_GLAZE_GUIDE.pdf" target="_blank">Glaze Guide</a>
			<a id="dnn_ctr677_View_rptPaletteList_rptColourPalette_0_hlColourStudies_50" class="lk-study" href="http://www.newterracotta.com/colouring/colour-inspirations/c/B700" target="_blank">Colour Inspiration</a>
			<figure>
				<img id="dnn_ctr677_View_rptPaletteList_rptColourPalette_0_imgColour_50" src="/Portals/0/Images/ColourPallete/BasicColours/British-Racing-Green-B700.jpg" alt="British Racing Green - #B700 | Basic Colours">
				<figcaption>British Racing Green #B700</figcaption>
			</figure>
			<dl>
				<dt><em>Finish.</em></dt>
				<dd>Glossy Translucent</dd>
				<dt><em>Glaze Variation.</em></dt>
				<dd>Moderate</dd>
				<dt><em>Formulation Update.</em></dt>
				<dd>Jan 14</dd>
			</dl>
		</li>

		<li>
			<h3>Amazon Green</h3>
			<h4>#B618</h4>
			<a id="dnn_ctr677_View_rptPaletteList_rptColourPalette_0_hlColourInfo_51" class="lk-info" href="/Portals/0/Documents/NWT_-_GLAZE_GUIDE.pdf" target="_blank">Glaze Guide</a>
			<a id="dnn_ctr677_View_rptPaletteList_rptColourPalette_0_hlColourStudies_51" class="lk-study" href="http://www.newterracotta.com/colouring/colour-inspirations/c/B618" target="_blank">Colour Inspiration</a>
			<figure>
				<img id="dnn_ctr677_View_rptPaletteList_rptColourPalette_0_imgColour_51" src="/Portals/0/Images/ColourPallete/BasicColours/Amazon-Green-B618.jpg" alt="Amazon Green - #B618 | Basic Colours">
				<figcaption>Amazon Green #B618</figcaption>
			</figure>
			<dl>
				<dt><em>Finish.</em></dt>
				<dd>Glossy Solid</dd>
				<dt><em>Glaze Variation.</em></dt>
				<dd>Low</dd>
				<dt><em>Formulation Update.</em></dt>
				<dd>Jan 14</dd>
			</dl>
		</li>

		<li>
			<h3>Green Mojito</h3>
			<h4>#B046</h4>
			<a id="dnn_ctr677_View_rptPaletteList_rptColourPalette_0_hlColourInfo_52" class="lk-info" href="/Portals/0/Documents/NWT_-_GLAZE_GUIDE.pdf" target="_blank">Glaze Guide</a>
			<a id="dnn_ctr677_View_rptPaletteList_rptColourPalette_0_hlColourStudies_52" class="lk-study" href="http://www.newterracotta.com/colouring/colour-inspirations/c/B046" target="_blank">Colour Inspiration</a>
			<figure>
				<img id="dnn_ctr677_View_rptPaletteList_rptColourPalette_0_imgColour_52" src="/Portals/0/Images/ColourPallete/BasicColours/Green-Mojito-B046.jpg" alt="Green Mojito - #B046 | Basic Colours">
				<figcaption>Green Mojito #B046</figcaption>
			</figure>
			<dl>
				<dt><em>Finish.</em></dt>
				<dd>Glossy Translucent Craquelé</dd>
				<dt><em>Glaze Variation.</em></dt>
				<dd>Moderate</dd>
				<dt><em>Formulation Update.</em></dt>
				<dd>Jan 14</dd>
			</dl>
		</li>

		<li>
			<h3>Neon Green</h3>
			<h4>#B038</h4>
			<a id="dnn_ctr677_View_rptPaletteList_rptColourPalette_0_hlColourInfo_53" class="lk-info" href="/Portals/0/Documents/NWT_-_GLAZE_GUIDE.pdf" target="_blank">Glaze Guide</a>
			<a id="dnn_ctr677_View_rptPaletteList_rptColourPalette_0_hlColourStudies_53" class="lk-study" href="http://www.newterracotta.com/colouring/colour-inspirations/c/B038" target="_blank">Colour Inspiration</a>
			<figure>
				<img id="dnn_ctr677_View_rptPaletteList_rptColourPalette_0_imgColour_53" src="/Portals/0/Images/ColourPallete/BasicColours/Neon-Green-B038.jpg" alt="Neon Green - #B038 | Basic Colours">
				<figcaption>Neon Green #B038</figcaption>
			</figure>
			<dl>
				<dt><em>Finish.</em></dt>
				<dd>Glossy Translucent</dd>
				<dt><em>Glaze Variation.</em></dt>
				<dd>Low</dd>
				<dt><em>Formulation Update.</em></dt>
				<dd>Jan 14</dd>
			</dl>
		</li>

		<li>
			<h3>Olive Green</h3>
			<h4>#B625</h4>
			<a id="dnn_ctr677_View_rptPaletteList_rptColourPalette_0_hlColourInfo_54" class="lk-info" href="/Portals/0/Documents/NWT_-_GLAZE_GUIDE.pdf" target="_blank">Glaze Guide</a>
			<a id="dnn_ctr677_View_rptPaletteList_rptColourPalette_0_hlColourStudies_54" class="lk-study" href="http://www.newterracotta.com/colouring/colour-inspirations/c/B625" target="_blank">Colour Inspiration</a>
			<figure>
				<img id="dnn_ctr677_View_rptPaletteList_rptColourPalette_0_imgColour_54" src="/Portals/0/Images/ColourPallete/BasicColours/Olive-Green-B625.jpg" alt="Olive Green - #B625 | Basic Colours">
				<figcaption>Olive Green #B625</figcaption>
			</figure>
			<dl>
				<dt><em>Finish.</em></dt>
				<dd>Glossy Solid</dd>
				<dt><em>Glaze Variation.</em></dt>
				<dd>Low</dd>
				<dt><em>Formulation Update.</em></dt>
				<dd>Jan 14</dd>
			</dl>
		</li>

	</ul>
</div>