<article class="highlight-art adapt-image">
	<figure>
		<img src="/Portals/0/Images/mother-studio/Mother-Studio-Highlight-homepage.jpg" alt="Mother Studio | Homepage"/>
	</figure>
</article>

<section class="hp-sec">

	<div class="wrap">

		<h2 class="hp-sec-tit">Mother Studio Collective</h2>

		<ul class="hp-why-list">
			<li>
				<i class="ic-heart"></i>
				<h3>About</h3>
				<em>New Terracotta Tiles and Pottery areavailable worldwide through showrooms,retailers and direct from us.</em>
			</li>
			<li>
				<i class="ic-search-plus"></i>
				<h3>Collective products</h3>
				<em>The collection features 104subtle, luminous, semi-transparent, deep,metallic colours.</em>
			</li>
			<li>
				<i class="ic-home"></i>
				<h3>Our Showroom</h3>
				<em>Because the purchase of New Terracotta Tilefor your home or commercial project represents an important investment, proper installationand maintenance is critical.</em>
			</li>
		</ul>

	</div>

</section>

<section class="hp-sec">

	<div class="wrap clearfix">

		<article class="hp-sec-art">
			<div></div>
			<figure><a href="#"><img src="/Portals/0/Images/mother-studio/Mother-Studio-Mosaics-homepage.jpg" alt="Mosaics | Mother Studio"/></a></figure>
			<h3><a href="#">Mosaics</a></h3>
			<a href="#">See collection</a>

		</article>

		<article class="hp-sec-art">
			<div></div>
			<figure><a href="#"><img src="/Portals/0/Images/mother-studio/Mother-Studio-Tiles-homepage.jpg"
									 alt="Tiles | Mother Studio"/></a></figure>
			<h3><a href="#">Tiles</a></h3>
			<a href="#">See collection</a>

		</article>

		<article class="hp-sec-art">
			<div></div>
			<figure><a href="#"><img src="/Portals/0/Images/mother-studio/Mother-Studio-Wood-homepage.jpg"
									 alt="Wood | Mother Studio"/></a></figure>
			<h3><a href="#">Wood</a></h3>
			<a href="#">See collection</a>

		</article>

		<article class="hp-sec-art">
			<div></div>
			<figure><a href="#"><img src="/Portals/0/Images/mother-studio/Mother-Studio-Rugs-homepage.jpg"
									 alt="Rugs | Mother Studio"/></a></figure>
			<h3><a href="#">Rugs</a></h3>
			<a href="#">See collection</a>

		</article>

		<article class="hp-sec-art">
			<div></div>
			<figure><a href="#"><img src="/Portals/0/Images/mother-studio/Mother-Studio-Cement-Tiles-homepage.jpg"
									 alt="Cement Tiles | Mother Studio"/></a></figure>
			<h3><a href="#">Cement tiles</a></h3>
			<a href="#">See collection</a>

		</article>

		<article class="hp-sec-art">
			<div></div>
			<figure><a href="#"><img src="/Portals/0/Images/mother-studio/Mother-Studio-Marble-homepage.jpg"
									 alt="Marble | Mother Studio"/></a></figure>
			<h3><a href="#">Marble</a></h3>
			<a href="#">See collection</a>

		</article>

	</div>

</section>