<article class="highlight-art adapt-image">
	<figure>
		<img src="/Portals/0/Images/mother-studio/Mother-Studio-Highlight-homepage.jpg" alt="Mother Studio | Homepage"/>
	</figure>
</article>

<section class="highlight-text big">

	<div class="wrap">

		<h2 class="t25">New Terracotta was born inside Mother Studio.</h2>
		<p class="t25">Here we share the other collections of Mother Studio.</p>
		<br/>
		<p class="t25">Curating a collection of high end products, Mother Studio strives to bring you the work of the
			finest craftsmen and artisans throughout the world. Tiles, Stone, Timber, Rugs, Wallpaper…</p>
		<br/>
		<p class="t25">We have a selection of samples and surfaces in our studio, and would encourage clients to visit
			us in Lisbon.</p>
		<br/>
		<p class="t25">Our sourcing service will seek out the materials you need but can't find.</p>

	</div>

</section>

<div class="wrap0">

	<section class="hp-img-list grid c25 gut30">
		<div class="mold">
			<figure>
				<a href="#"><img src="/Portals/0/Images/mother-studio/Mother-Studio-Terrazzo-homepage.jpg"
								 alt="Terrazzo | Mother Studio"/></a>
				<figcaption>
					<h3>Terrazzo</h3>
					<a href="#">See collection</a>
				</figcaption>
			</figure>
			<figure>
				<a href="#"><img src="/Portals/0/Images/mother-studio/Mother-Studio-Cement-Tiles-homepage.jpg"
								 alt="Cement Tiles | Mother Studio"/></a>
				<figcaption>
					<h3>Cement Tiles</h3>
					<a href="#">See collection</a>
				</figcaption>
			</figure>
			<figure>
				<a href="#"><img src="/Portals/0/Images/mother-studio/Mother-Studio-Cotto-homepage.jpg"
								 alt="Cotto | Mother Studio"/></a>
				<figcaption>
					<h3>Cotto</h3>
					<a href="#">See collection</a>
				</figcaption>
			</figure>
			<figure>
				<a href="#"><img src="/Portals/0/Images/mother-studio/Mother-Studio-Stone-homepage.jpg"
								 alt="Stone | Mother Studio"/></a>
				<figcaption>
					<h3>Stone</h3>
					<a href="#">See collection</a>
				</figcaption>
			</figure>
			<figure>
				<a href="#"><img src="/Portals/0/Images/mother-studio/Mother-Studio-Peronda-homepage.jpg"
								 alt="Peronda | Mother Studio"/></a>
				<figcaption>
					<h3>Peronda</h3>
					<a href="#">See collection</a>
				</figcaption>
			</figure>
			<figure>
				<a href="#"><img src="/Portals/0/Images/mother-studio/Mother-Studio-Dominic-Crinson-homepage.jpg"
								 alt="Dominic Crinson | Mother Studio"/></a>
				<figcaption>
					<h3>Dominic Crinson</h3>
					<a href="#">See collection</a>
				</figcaption>
			</figure>
			<figure>
				<a href="#"><img src="/Portals/0/Images/mother-studio/Mother-Studio-Vidrotil-homepage.jpg"
								 alt="Vidrotil | Mother Studio"/></a>
				<figcaption>
					<h3>Vidrotil</h3>
					<a href="#">See collection</a>
				</figcaption>
			</figure>
			<figure>
				<a href="#"><img src="/Portals/0/Images/mother-studio/Mother-Studio-Bisazza-homepage.jpg"
								 alt="Bisazza | Mother Studio"/></a>
				<figcaption>
					<h3>Bisazza</h3>
					<a href="#">See collection</a>
				</figcaption>
			</figure>
			<figure>
				<a href="#"><img src="/Portals/0/Images/mother-studio/Mother-Studio-Vetro-Collection-homepage.jpg"
								 alt="Vetro Collection | Mother Studio"/></a>
				<figcaption>
					<h3>Vetro Collection</h3>
					<a href="#">See collection</a>
				</figcaption>
			</figure>
			<figure>
				<a href="#"><img src="/Portals/0/Images/mother-studio/Mother-Studio-Pinctada-Maxima-homepage.jpg"
								 alt="Pinctada Maxima | Mother Studio"/></a>
				<figcaption>
					<h3>Pinctada Maxima</h3>
					<a href="#">See collection</a>
				</figcaption>
			</figure>
			<figure>
				<a href="#"><img src="/Portals/0/Images/mother-studio/Mother-Studio-Stucco-Lacquer-homepage.jpg"
								 alt="Stucco Lacquer | Mother Studio"/></a>
				<figcaption>
					<h3>Stucco Lacquer</h3>
					<a href="#">See collection</a>
				</figcaption>
			</figure>
			<figure>
				<a href="#"><img src="/Portals/0/Images/mother-studio/Mother-Studio-Wood-Floor-homepage.jpg"
								 alt="Wood Floor | Mother Studio"/></a>
				<figcaption>
					<h3>Wood Floor</h3>
					<a href="#">See collection</a>
				</figcaption>
			</figure>
			<figure>
				<a href="#"><img src="/Portals/0/Images/mother-studio/Mother-Studio-Rugs-homepage.jpg"
								 alt="Rugs | Mother Studio"/></a>
				<figcaption>
					<h3>Rugs</h3>
					<a href="#">See collection</a>
				</figcaption>
			</figure>
			<figure>
				<a href="#"><img src="/Portals/0/Images/mother-studio/Mother-Studio-Wallpaper-homepage.jpg"
								 alt="Wallpaper | Mother Studio"/></a>
				<figcaption>
					<h3>Wallpaper</h3>
					<a href="#">See collection</a>
				</figcaption>
			</figure>
			<figure>
				<a href="#"><img src="/Portals/0/Images/mother-studio/Mother-Studio-Ingenious-homepage.jpg"
								 alt="Ingenious | Mother Studio"/></a>
				<figcaption>
					<h3>Ingenious</h3>
					<a href="#">See collection</a>
				</figcaption>
			</figure>
		</div>
	</section>

</div>